
h1{
color:#f6d10a;
text-shadow:1px 1px 1px #000000;
}
h2{
color:black;
}
h3{
color:#f6d10a;
}

.center{
text-align: center;
}

a:link {
color:#f6d10a;
font-weight:bold;
text-decoration: none;
}

a:visited {
color:#f6d10a;
font-weight:bold;
text-decoration: none;
} 

a:hover {color:red;
text-decoration: none;
font-weight:bold;
}