{% extends "tigaserver_app/award_notification.html" %}

{% block title_block %}
    <title>Vous venez de recevoir une récompense de points!</title>
{% endblock %}

{% block title_header_block %}

{% endblock %}

{% block amount_xp_awarded %}
    <p>Vous venez de recevoir <b style="color:red;">{{ amount_awarded }} points!</b></p>
{% endblock %}

{% block reason_awarded %}
    <p>Car: {{ reason_awarded }}</p>
{% endblock %}

{% block report_related %}
    {% if picture_link %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
{% endblock %}

{% block congratulations %}
    <p>Toutes nos félicitations!</p>
{% endblock %}