{% extends "tigaserver_app/award_notification.html" %}

{% block title_block %}
    <title>Upravo ste dobili nagradu za bodove!</title>
{% endblock %}

{% block title_header_block %}

{% endblock %}

{% block amount_xp_awarded %}
    <p>Upravo ste dobili <b style="color:red;">{{ amount_awarded }} bodove!</b></p>
{% endblock %}

{% block reason_awarded %}
    <p>Jer: {{ reason_awarded }}</p>
{% endblock %}

{% block report_related %}
    {% if picture_link %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
{% endblock %}

{% block congratulations %}
    <p>Čestitam!</p>
{% endblock %}