{% extends "tigaserver_app/award_notification.html" %}

{% block title_block %}
    <title>Sie haben gerade eine Punkteprämie erhalten!</title>
{% endblock %}

{% block title_header_block %}

{% endblock %}

{% block amount_xp_awarded %}
    <p>Sie haben gerade <b style="color:red;">{{ amount_awarded }} Punkte erhalten!</b></p>
{% endblock %}

{% block reason_awarded %}
    <p>Weil: {{ reason_awarded }}</p>
{% endblock %}

{% block report_related %}
    {% if picture_link %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
{% endblock %}

{% block congratulations %}
    <p>Herzliche Glückwünsche!</p>
{% endblock %}