tigaserver_project/settings_local.py
tigaserver_project/settings_local*
tigaserver_project/settings/local.pyc
tigapublic/static/tigapublic/files/
tigapublic/files/models/
*.csv
*.log.*
*.log
*.json
*.script
*.txt
*pyc
*.egg-info
.idea/*
*.sublime-project
*.sublime-workspace
*.sublime*
celerybeat-schedule
celerybeat.pid
dump.rdb
CertificatMosquito.pem
tigatrapp-server/media
/media
tigatrapp-server/media
/media
