*.csv
*.log.*
*.log
*.script
__pycache__/
*pyc
*.egg-info
.idea/*
*.sublime-project
*.sublime-workspace
*.sublime*
celerybeat-schedule
celerybeat.pid
dump.rdb
CertificatMosquito.pem
/media
/static
/venv

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Sensitive information
compose/ssl/*


.pytest_cache/
.ipython/
.env
.envs/*
!.envs/.local/