awsebcli==3.7.5
blessed==1.9.5
botocore==1.4.10
cement==2.8.2
colorama==0.3.7
Django==1.6.5
django-debug-toolbar==1.4
django-filter==0.7
django-floppyforms==1.2.0
django-leaflet==0.13.2
djangorestframework==2.3.13
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
gunicorn==18.0
jmespath==0.9.0
Markdown==2.4.1
pathspec==0.3.4
Pillow==2.4.0
psycopg2==2.5.3
python-dateutil==2.2
python-memcached==1.57
pytz==2014.4
PyYAML==3.11
requests==2.9.1
semantic-version==2.5.0
six==1.10.0
South==0.8.4
sqlparse==0.1.19
texttable==0.8.4
tzlocal==1.1.1
wcwidth==0.1.6
websocket-client==0.35.0
