

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

img{
    max-width: 100%;
}


.leaflet-container {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

.task_map-container {
    width: 100%;
    height: 300px;
    border: solid;
}

.report_annotation_map-container {
    width: 100%;
    height: 300px;
    border: 1px solid #333333;
}


.border-row {
    border-top: 1px solid #444;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


textarea{
    width:100%;
}

.form-inline > * {
   margin:5px 5px !important;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}