

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

img{
    max-width: 100%;
}


.leaflet-container {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

.task_map-container {
    width: 100%;
    height: 300px;
    border: solid;
}

.report_annotation_map-container {
    width: 100%;
    height: 300px;
    border: 1px solid #333333;
}


.border-row {
    border-top: 1px solid #444;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


textarea{
    width:100%;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin-left: 10px;
}

.form-inline > * {
   margin:5px 5px !important;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.form-group .red {
    color: red;
}

.progress{
    background-image: url("/static/tigacrafting/media/default_red.gif");
    background-repeat: no-repeat;
    background-position: 36%;
}

.messages {
    width: 100%;
    text-align: left;
}

.messages th,td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.message_body {
    text-align: left;
    padding: 5px;
}

.pending {
    background-color: red;
}

.clear {
    background-color: #777;
}

.messages tbody tr td input[type="text"]{
    width: 100%;
}

.label-margin{
    margin-right: 5px;
}

ul {
 list-style: none;
}

.separator_line{
    border-bottom: 1px solid #ddd;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fastCheck label{
    display: inline-grid;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    float: right;
    padding-right: 25px;
}

.fastCheck input{
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    padding: 10px;
    margin-right: 15px;
    float: right;
}

.other_sp label{
    display: inline-grid;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    float: right;
    padding-right: 25px;
}

.other_sp input{
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    padding: 10px;
    margin-right: 15px;
    float: right;
}

.confirmUpPhoto .ui-dialog-titlebar-close {
    display: none;
}

.confirmUpPhoto .ui-widget-header{
    border: 1px solid #101010;
    background: #101010;
    color: white;
    font-weight: bold;
}

.confirmUpPhoto {
    position: fixed !important;
    z-index: 1500 !important;
    width: 400px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%);
}

.infoPopup{
    text-align: justify;
    padding: 2%;
}

#dialogConfirmUpPhoto{
    display: none;
}

#infoPhotoDialog{
    display: none;
    height: 450x !important;

}

.popupInfoPhoto .ui-widget-header{
    border: 1px solid #101010;
    background: #101010;
    color: white;
    font-weight: bold;
}

.popupInfoPhoto {
    position: fixed !important;
    /*z-index: 1502 !important;*/
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%);
}

#noDataAvailable{
    display: none;
}

.btn.btn-default.infoPhoto.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 8px;
}


.fastCheck label{
    display: inline-grid;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    float: right;
    padding-right: 25px;
}

.fastCheck input{
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    padding: 10px;
    margin-right: 15px;
    float: right;
}

.confirmUpPhoto .ui-dialog-titlebar-close {
    display: none;
}

.confirmUpPhoto .ui-widget-header{
    border: 1px solid #101010;
    background: #101010;
    color: white;
    font-weight: bold;
}

.confirmUpPhoto {
    position: fixed !important;
    z-index: 1500 !important;
    width: 400px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%);
}

.infoPopup{
    text-align: justify;
    padding: 2%;
}

#dialogConfirmUpPhoto{
    display: none;
}

#infoPhotoDialog{
    display: none;
    height: 450x !important;

}

.popupInfoPhoto .ui-widget-header{
    border: 1px solid #101010;
    background: #101010;
    color: white;
    font-weight: bold;
}

.popupInfoPhoto {
    position: fixed !important;
    /*z-index: 1502 !important;*/
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%);
}

#noDataAvailable{
    display: none;
}

.btn.btn-default.infoPhoto.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.countryList > li > a:hover, .countryList > li > a:focus{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.countryList > li > a {
    display: block;
    padding: 3px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
