table {
    border-collapse: collapse;
    font-size: small;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    padding: 5px;
    vertical-align: top;
    text-align: right;
}

th{
    text-align: center;
}

img{
    max-width: 100%;
}


.leaflet-container {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

.task_map-container {
    width: 100%;
    height: 300px;
    border: solid;
}
