{% load staticfiles %}
{% load i18n %}
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<title>Tigatrapp Stats</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>


  </head>
  <body>

  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

  <script>

    var users = [];
    var site_reports = [];
    var adult_reports = [];

    {% for user in users %}

        users[users.length] = [parseInt("{{ user.date }}")*1000, parseInt("{{ user.n }}")];

    {% endfor %}

    {% for site_report in site_reports %}

        site_reports[site_reports.length] = [parseInt("{{ site_report.date }}")*1000, parseInt("{{ site_report.n }}")];

    {% endfor %}

    {% for adult_report in adult_reports %}

        adult_reports[adult_reports.length] = [parseInt("{{ adult_report.date }}")*1000, parseInt("{{ adult_report.n }}")];

    {% endfor %}


      $(function () {
        $('#container').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: null,
                x: -20 //center
            },
            subtitle: {
                text: null,
                x: -20
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                day: '%d/%m/%y'
            }
            },
            yAxis: {
                title: {
                    text: '{% trans 'cumulative-total' %}'
                },
                floor: 0,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                dateTimeLabelFormats:{
                    minute: '%d/%m/%y, %H:%M'
                }
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
            series: [{
                name: '{% trans 'number-of-citizen-scientists' %}',
                data: users,
                color: '#2ca25f',
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    lineColor: '#000',
                    lineWidth: 1
                  }},
                {name: '{% trans 'number-of-tiger-mosquito-reports' %}',
                 data: adult_reports,
                 color: '#EBB101',
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    lineColor: '#000',
                    lineWidth: 1
                  }},
                {name: '{% trans 'number-of-breeding-site-reports' %}',
                 data: site_reports,
                 color: '#126FC6',
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    lineColor: '#000',
                    lineWidth: 1
                  }
            }]
        });
    });



  </script>


  </body>
</html>