{% load staticfiles %}
{% load i18n %}
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>Mosquito Alert - Hashtag map</title>

        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-select/css/bootstrap-select.min.css" %}>
        <link rel="stylesheet" href={% static "tigapublic/lib/leaflet/dist/leaflet.css" %}>
        <link rel="stylesheet" href={% static "tigapublic/lib/Leaflet.markercluster-leaflet-0.7/dist/MarkerCluster.css" %}>
        <link rel="stylesheet" href={% static "tigapublic/lib/Leaflet.markercluster-leaflet-0.7/dist/MarkerCluster.Default.css" %}>
        <style>
            #map{
                height: 450px;
            }
            .call_to_action {
                color: red;
            }
            .badge{
                background-color: #bd2727;
            }
        </style>
        <script src={% static "tigapublic/lib/jquery/dist/jquery.js" %}></script>
        <script src={% static "tigapublic/lib/leaflet/dist/leaflet.js" %}></script>
        <script src={% static "tigapublic/lib/Leaflet.markercluster-leaflet-0.7/dist/leaflet.markercluster.js" %}></script>
        <script src={% static "stats/hashtag_map.js" %}></script>
    </head>
    <body>
        <!--
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-form navbar-left" role="search">
                        <h2>Mosquito Alert - Hashtag map</h2>
                    </div>
                </div>
            </div>
        </nav>
        -->
        <div class="container">
            <h2>Mosquito Alert - Hashtag map</h2>
            <h4 class="call_to_action">Type a hashtag in the input below and click 'Search #hashtag'. Up to 200 of the most recent observations containing the hashtag will be shown on the map.</h4>
        </div>
        <div class="container">
            <div class="row">
                <div id="map">
                </div>
            </div>
        </div>
        <div class="help-block"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <input id="hashtag_input" type="text" class="form-control" placeholder="Search by #hashtag">
                </div>
                <div class="col-md-2">
                    <button id="load_data" class="btn btn-default">Search #hashtag</button>
                </div>
            </div>
        </div>
        <div class="help-block"></div>
        <div class="container">
            <div id="info_window" class="row">

            </div>
        </div>
    </body>
</html>