{% load staticfiles %}
{% load i18n %}
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>MosquitoAlert Stats</title>

        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-select/css/bootstrap-select.min.css" %}>
        <link rel="stylesheet" href={% static "stats/mosquito_ccaa_rich_iframetest.css" %}>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src={% static "stats/isotope.pkgd.min.js" %}></script>
        <script src={% static "stats/mosquito_ccaa_rich_iframetest_sites.js" %}></script>
    </head>
    <body>
        <div class="container">
            <h1>Breeding sites: observations per province (map with province annual comparison tool)</h1>
            <h3 class="call_to_action">Select a type of report to see and compare maps</h3>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline" id="categories">
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <div class="grid">
            <div id="storm_drain_water" class="grid-item">
                 <div class="progress"></div>
                 <iframe id="storm_drain_water_iframe" width="1000px" height="450px"></iframe>
            </div>
            <div id="storm_drain_dry" class="grid-item">
                 <div class="progress"></div>
                 <iframe id="storm_drain_dry_iframe" width="1000px" height="450px"></iframe>
            </div>
            <div id="storm_drain" class="grid-item">
                 <div class="progress"></div>
                 <iframe id="storm_drain_iframe" width="1000px" height="450px"></iframe>
            </div>
            <div id="breeding_site_other" class="grid-item">
                <div class="progress"></div>
                <iframe id="breeding_site_other_iframe" width="1000px" height="450px"></iframe>
            </div>
            <div id="all_sites" class="grid-item">
                <div class="progress"></div>
                <iframe id="all_sites_iframe" width="1000px" height="450px"></iframe>
            </div>
        </div>
        <hr />
        <div class="container">
            <p>
                License and usage policy: for internal use only. Do not distribute.
            </p>
            <p>
                Data : The map include the following categories...
            </p>
            <p>
                <ul>
                    <li>*Breeding sites*: citizens' observations of possible breeding sites (storm drain or sewer and other categories of possible breeding sites) of tiger or yellow fever mosquitoes. It includes reports that contain at least one picture and that it has been evaluated by entomological experts, reports with at least one picture that have not been evaluated by experts and it might also contain reports without pictures. </li>
                </ul>
            </p>
        </div>
    </body>
</html>