{% load staticfiles %}
{% load i18n %}
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>MosquitoAlert Stats</title>

        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-select/css/bootstrap-select.min.css" %}>
        <link rel="stylesheet" href={% static "stats/mosquito_ccaa_rich_iframetest.css" %}>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src={% static "stats/isotope.pkgd.min.js" %}></script>
        <script src={% static "stats/mosquito_ccaa_rich_iframetest.js" %}></script>
    </head>
    <body>
        <div class="container">
            <h3>Selecciona les categories per les quals vols veure dades:</h3>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline" id="categories">
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid">
            <div id="confirmed" class="grid-item">
                 <div class="progress"></div>
                 <iframe id="confirmed_iframe" width="1000px" height="450px"></iframe>
            </div>
            <div id="probable" class="grid-item">
                <div class="progress"></div>
                <iframe id="probable_iframe" width="1000px" height="450px"></iframe>
            </div>
            <div id="other" class="grid-item">
                <div class="progress"></div>
                <iframe id="other_iframe" width="1000px" height="450px"></iframe>
            </div>
            <div id="unidentified" class="grid-item">
                <div class="progress"></div>
                <iframe id="unidentified_iframe" width="1000px" height="450px"></iframe>
            </div>
        </div>
    </body>
</html>