{% load staticfiles %}
{% load i18n %}
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<title>Tigatrapp Stats</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>


  </head>
  <body>

  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

  <script>

    var r100users = [];
    var r50users = [];
    var r10users = [];
    var r1users = [];
    var r0users = [];

    {% for user in r100_users %}

        r100users[r100users.length] = [parseInt("{{ r100_users.date }}")*1000, parseInt("{{ r100_users.n }}")];

    {% endfor %}

    {% for user in r50_users %}

        r50users[r50users.length] = [parseInt("{{ r50_users.date }}")*1000, parseInt("{{ r50_users.n }}")];

    {% endfor %}

   {% for user in r10_users %}

        r10users[r10users.length] = [parseInt("{{ r10_users.date }}")*1000, parseInt("{{ r10_users.n }}")];

    {% endfor %}

       {% for user in r1_users %}

        r1users[r1users.length] = [parseInt("{{ r1_users.date }}")*1000, parseInt("{{ r1_users.n }}")];

    {% endfor %}

       {% for user in r0_users %}

        r0users[r0users.length] = [parseInt("{{ r0_users.date }}")*1000, parseInt("{{ r0_users.n }}")];

    {% endfor %}


      $(function () {
        $('#container').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: null,
                x: -20 //center
            },
            subtitle: {
                text: null,
                x: -20
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                day: '%d/%m/%y'
            }
            },
            yAxis: {
                title: {
                    text: '{% trans 'Cumulative Total' %}'
                },
                floor: 0,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                dateTimeLabelFormats:{
                    minute: '%d/%m/%y, %H:%M'
                }
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
            series: [{
                name: '{% trans 'Participants with over 100 reports' %}',
                data: r100users,
                color: '#ffffb2',
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    lineColor: '#000',
                    lineWidth: 1
                  }},
{
                name: '{% trans 'Participants with over 50 reports' %}',
                data: r50users,
                color: '#fecc5c',
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    lineColor: '#000',
                    lineWidth: 1
                  }},
          {
                name: '{% trans 'Participants with over 10 reports' %}',
                data: r10users,
                color: '#fd8d3c',
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    lineColor: '#000',
                    lineWidth: 1
                  }},
          {
                name: '{% trans 'Participants with at least 1 report' %}',
                data: r1users,
                color: '#f03b20',
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    lineColor: '#000',
                    lineWidth: 1
                  }},
          {
                name: '{% trans 'Total participants' %}',
                data: r0users,
                color: '#bd0026',
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    lineColor: '#000',
                    lineWidth: 1
                  }}
                    ]
        });
    });



  </script>


  </body>
</html>