{% load staticfiles %}
{% load i18n %}
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>MosquitoAlert Stats</title>

        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-select/css/bootstrap-select.min.css" %}>
        <link rel="stylesheet" href={% static "stats/workload.css" %}>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/maps/modules/map.js"></script>
        <script src="https://code.highcharts.com/maps/modules/data.js"></script>
        <!--<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>-->
        <script src="https://code.highcharts.com/mapdata/countries/es/es-all.js"></script>
        <script src={% static "stats/isotope.pkgd.min.js" %}></script>

        <script src={% static "stats/underscore-min.js" %}></script>
        <script src={% static "stats/report_stats_ccaa_pie_sites.js" %}></script>
        <script>
            var map_data = JSON.parse('{{ map_data | escapejs }}');
            var map_data_year = JSON.parse('{{ map_data_year | escapejs }}');
            var years_data = JSON.parse('{{ years | escapejs }}');
        </script>
        <style>
            .map-container {
                min-width: 320px;
                max-width: 800px;
                height: 800px;
                margin: 1em auto;
            }

            .grid-item {
                float: left;
                width: 600px;
                height: 600px;
                background: #e6e5e4;
                border: 1px solid #b6b5b4;
            }

            .call_to_action {
                color: red;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Breeding sites: result per province and year (pie-chart map)</h1>
            <hr />
            <h3 class="call_to_action">Select a date and type of report to see and compare maps</h3>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline" id="years">
                    </ul>
                </div>
            </div>
            <div id="size_legend" class="row">
            </div>
        </div>
        <div class="grid">
            <div class="grid-item" id="container_2014"></div>
            <div class="grid-item" id="container_2015"></div>
            <div class="grid-item" id="container_2016"></div>
            <div class="grid-item" id="container_2017"></div>
            <div class="grid-item" id="container_2018"></div>
            <div class="grid-item" id="container_acum"></div>
        </div>
        <div class="container">
            <hr />
            <p>
                License and usage policy: for internal use only. Do not distribute.
            </p>
            <p>
                Data : The map includes the following
                categories...
            </p>
            <p>
                <ul>
                    <li> *Breeding sites*: citizens' observations of possible breeding sites (storm drain or sewer and other categories of possible breeding sites) of tiger or yellow fever mosquitoes. It includes reports that contain at least one picture and that it has been evaluated by entomological experts, reports with at least one picture that have not been evaluated by experts and it might also contain reports without pictures. </li>
                </ul>
            </p>
        </div>
    </body>
</html>
