{% load static %}
{% load i18n %}
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>MosquitoAlert Stats</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.2.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.7.2/dist/css/bootstrap-select.min.css">
        <link rel="stylesheet" href={% static "stats/user_activity.css" %}>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/underscore@1.9.0/underscore-min.min.js"></script>
        <script src={% static "stats/user_activity.js" %}></script>
        <script>
            /*var adults_data = JSON.parse('{{ adults | escapejs }}');
            var sites_data = JSON.parse('{{ sites | escapejs }}');*/
            var years_data = JSON.parse('{{ years | escapejs }}');
            var all_sliced_data = JSON.parse('{{ all_sliced | escapejs }}');
        </script>
    </head>
    <body>
        <div class="container">
            <h1>Adult vs breeding site observations per month and year (bar chart)</h1>
            <h3 class="call_to_action">Select types of report and years to see and compare maps</h3>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline" id="years">
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="adult_select">Plot adult data for:</label>
                    <select id="adult_select">
                        <option value="mosquito_tiger_confirmed" selected>Confirmed tiger mosquito</option>
                        <option value="mosquito_tiger_probable">Possible tiger mosquito</option>
                        <option value="confirmed_probable_tiger">Confirmed and possible tiger mosquito</option>
                        <option value="other_species">Other species</option>
                        <option value="unidentified">Unidentified</option>
                        <option value="confirmed_possible_unident">Confirmed, possible and unidentified</option>
                        <option value="all_adults">All categories</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="site_select">Plot site data for:</label>
                    <select id="site_select">
                        <option value="storm_drain_water" selected>Storm drain with water</option>
                        <option value="storm_drain_dry">Storm drain without water</option>
                        <option value="storm_drain">Storm drain with or without water</option>
                        <option value="breeding_site_other">Other breeding sites</option>
                        <option value="all_sites">All categories</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                <div id="base_graph" class="col-md-12"></div>
            </div>
            <div class="row">
                <div id="sites" class="col-md-12"></div>
            </div>
        </div>
        <hr />
        <div class="container">
            <p>
                License and usage policy: for internal use only. Do not distribute.
            </p>
            <p>
                Data : The map include the following categories (note that it doesn’t include: yellow fever mosquitoes, to validate reports and other observations – it is, observations that do not fall into any other category-.
            </p>
            <p>
                <ul>
                    <li>*Confirmed or possible tiger mosquito*: it includes reports from citizen tagged by them as "adult mosquito", that contain at least one picture and that it has been evaluated by entomological experts. According to these experts, the picture/s of this observation could be tiger mosquito (Aedes albopictus). If their taxonomic features can be clearly seen, especially the white stripe on head and thorax, it is classified as "confirmed". If some features cannot be observed, it is classified as "possible".</li>
                    <li>*Other species*: it includes reports from citizen tagged by them as "adult mosquito", that contain at least one picture and that it has been evaluated by entomological experts. According to these experts, the pictures of this observation may be of other species of mosquito.</li>
                    <li>*Unidentifiable*: it includes all reports from citizen tagged by them as "adult mosquito" that don't contain any picture attached and therefore, could not be evaluated by entomological experts. It also includes reports from citizen tagged by them as "adult mosquito", that contain at least one picture and that it has been evaluated by entomological experts. According to these experts, these observations and their photo/s do not help identify any particular species of mosquito (experts cannot decide on any other category according to the content of the pictures).</li>
                    <li>*Breeding sites*: citizens' observations of possible breeding sites (storm drain or sewer and other categories of possible breeding sites) of tiger or yellow fever mosquitoes. It includes reports that contain at least one picture and that it has been evaluated by entomological experts, reports with at least one picture that have not been evaluated by experts and it might also contain reports without pictures.</li>
                </ul>
            </p>
        </div>
    </body>
</html>
