{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>MosquitoAlert Stats</title>

        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-select/css/bootstrap-select.min.css" %}>
        <link rel="stylesheet" href={% static "tigacrafting/jquery-ui/jquery-ui.css" %}>
        <link rel="stylesheet" href={% static "stats/css/user_ranking.css" %}>
        <link rel="stylesheet" href={% static "stats/datatables.min.css" %}>
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <script>
            var current_locale = '{{ LANGUAGE_CODE }}';
        </script>
        <script src={% static "tigacrafting/jquery/1.8.3/jquery-1.8.3.min.js" %}></script>
        <script src={% static "tigacrafting/jquery-ui/jquery-ui.min.js" %}></script>
        <script src={% static "stats/user_ranking.js" %}></script>
        <script src={% static "stats/datatables.min.js" %}></script>
        <script src={% static "stats/cookies.js" %}></script>
        <script src={% static "stats/csrf_utils.js" %}></script>
    </head>
    <body>
        <div class="container">
            <div class="row content">
                <div class="col-xs-12">
                    <p>{% trans 'user_ranking_info_text_1' %}</p>
                    <!--<p>Consulta tu puntuación y nivel adquirido. En el menú ajustes encontrarás información detallada sobre el sistema de puntuación de Mosquito Alert.</p>-->
                </div>
                <div class="col-xs-12">
                    {% if user_id %}
                        {% if user_has_score %}
                            <p>{% trans 'user_ranking_info_text_2' %} <a href="{{ info_url }}">{% trans 'user_ranking_info_text_3' %}</a></p>
                        {% else %}
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <p>{% trans 'no_score_yet' %}</p>
                                    <p>{% trans 'user_ranking_info_text_2' %} <a href="{{ info_url }}">{% trans 'user_ranking_info_text_3' %}</a></p>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <p>{% trans 'user_ranking_info_text_2' %} <a href="{{ info_url }}">{% trans 'user_ranking_info_text_3' %}</a></p>
                    {% endif %}
                    <!--<p>Más info sobre la <a href="{{ info_url }}">puntuación</a></p>-->
                </div>
            </div>
            {% if user_id %}
                <div class="row content controls">
                    {{ pagination.start }} - {{ pagination.end }} of {{ pagination.total }}
                    <a href="{% url 'stats_user_ranking' page=pagination.first user_uuid=user_id %}" class="btn btn-primary btn-sm {% if pagination.page == 1 %}disabled{% endif %}">|<</a>
                    {% if pagination.previous %}
                        <a href="{% url 'stats_user_ranking' page=pagination.previous user_uuid=user_id  %}" class="btn btn-primary btn-sm"><</a>
                    {% else %}
                        <a href="#" class="btn btn-primary btn-sm disabled"><</a>
                    {% endif %}
                    {% if pagination.next %}
                        <a href="{% url 'stats_user_ranking' page=pagination.next user_uuid=user_id  %}" class="btn btn-primary btn-sm">></a>
                    {% else %}
                        <a href="#" class="btn btn-primary btn-sm disabled">></a>
                    {% endif %}
                    <a href="{% url 'stats_user_ranking' page=pagination.last  user_uuid=user_id %}" class="btn btn-primary  btn-sm {% if pagination.page == pagination.last %}disabled{% endif %}">>|</a>
                </div>
                <div class="row content">
                    <a href="{% url 'stats_user_ranking' page=1 user_uuid=user_id %}?seek=t" class="btn btn-primary btn-sm">{% trans 'My position' %}</a>
                </div>
            {% else %}
                <div class="row content controls">
                    {{ pagination.start }} - {{ pagination.end }} {% trans 'of' %} {{ pagination.total }}
                    <a href="{% url 'stats_user_ranking' page=pagination.first %}" class="btn btn-primary btn-sm {% if pagination.page == 1 %}disabled{% endif %}">|<</a>
                    {% if pagination.previous %}
                        <a href="{% url 'stats_user_ranking' page=pagination.previous %}" class="btn btn-primary btn-sm"><</a>
                    {% else %}
                        <a href="#" class="btn btn-primary btn-sm disabled"><</a>
                    {% endif %}
                    {% if pagination.next %}
                        <a href="{% url 'stats_user_ranking' page=pagination.next %}" class="btn btn-primary btn-sm">></a>
                    {% else %}
                        <a href="#" class="btn btn-primary btn-sm disabled">></a>
                    {% endif %}
                    <a href="{% url 'stats_user_ranking' page=pagination.last %}" class="btn btn-primary  btn-sm {% if pagination.page == pagination.last %}disabled{% endif %}">>|</a>
                </div>
            {% endif %}
            <div class="row content size-5">
                <div class="col-xs-2">{% trans 'Rank' %}</div>
                <div class="col-xs-3">{% trans 'User' %}</div>
                <div class="col-xs-4">{% trans 'Overall class' %}</div>
                <div class="col-xs-2">{% trans 'Score' %}</div>
            </div>
            <hr>
            {% for row in data %}
            {% if row.user_uuid == user_id %}
            <div class="row content">
                <p class="badge badge-error">{% trans 'This is you!' %}</p>
            </div>
            {% endif %}
            <div id="{{ row.user_uuid }}" class="row content clickable size-4 {% if row.user_uuid == user_id %} mine pulse {% endif %}">
                <div class="col-xs-2"><span class="badge badge-info">{{ row.rank }}</span></div>
                <div class="col-xs-3"><img src="{{ row.identicon }}" height="35px"></div>
                <div class="col-xs-4">{{ row.class.label }}</div>
                <div class="col-xs-2"><span class="badge badge-info">{{ row.score_v2 }}</span></div>
            </div>
            <div id="hidden_{{ row.user_uuid }}" class="row content info" style="display:none;">
                <div class="col-xs-12">
                    <div id="progress_{{ row.user_uuid }}" class="row loading"></div>
                    <div id="detail_{{ row.user_uuid }}">
                        <!--
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-xs-3">Joined</div><div class="col-xs-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">Last active</div><div class="col-xs-6"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-xs-3">Adult reports</div><div class="col-xs-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">Bite reports</div><div class="col-xs-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">Site reports</div><div class="col-xs-6"></div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                    <a id="moreinfo_{{ row.user_uuid }}" class="badge badge-info" style="font-size:16px;display:none;" href={% url "stats_user_score" row.user_uuid %} target="_blank">{% trans 'Score details' %}</a>
                </div>
            </div>
            <hr>
            {% endfor %}
        {% if user_id %}
            <div class="row content controls">
                {{ pagination.start }} - {{ pagination.end }} of {{ pagination.total }}
                <a href="{% url 'stats_user_ranking' page=pagination.first user_uuid=user_id %}" class="btn btn-primary btn-sm {% if pagination.page == 1 %}disabled{% endif %}">|<</a>
                {% if pagination.previous %}
                    <a href="{% url 'stats_user_ranking' page=pagination.previous user_uuid=user_id  %}" class="btn btn-primary btn-sm"><</a>
                {% else %}
                    <a href="#" class="btn btn-primary btn-sm disabled"><</a>
                {% endif %}
                {% if pagination.next %}
                    <a href="{% url 'stats_user_ranking' page=pagination.next user_uuid=user_id  %}" class="btn btn-primary btn-sm">></a>
                {% else %}
                    <a href="#" class="btn btn-primary btn-sm disabled">></a>
                {% endif %}
                <a href="{% url 'stats_user_ranking' page=pagination.last  user_uuid=user_id %}" class="btn btn-primary  btn-sm {% if pagination.page == pagination.last %}disabled{% endif %}">>|</a>
            </div>
            <div class="row content">
                <a href="{% url 'stats_user_ranking' page=1 user_uuid=user_id %}?seek=t" class="btn btn-primary btn-sm">{% trans 'My position' %}</a>
            </div>
        {% else %}
            <div class="row content controls">
                {{ pagination.start }} - {{ pagination.end }} of {{ pagination.total }}
                <a href="{% url 'stats_user_ranking' page=pagination.first %}" class="btn btn-primary btn-sm {% if pagination.page == 1 %}disabled{% endif %}">|<</a>
                {% if pagination.previous %}
                    <a href="{% url 'stats_user_ranking' page=pagination.previous %}" class="btn btn-primary btn-sm"><</a>
                {% else %}
                    <a href="#" class="btn btn-primary btn-sm disabled"><</a>
                {% endif %}
                {% if pagination.next %}
                    <a href="{% url 'stats_user_ranking' page=pagination.next %}" class="btn btn-primary btn-sm">></a>
                {% else %}
                    <a href="#" class="btn btn-primary btn-sm disabled">></a>
                {% endif %}
                <a href="{% url 'stats_user_ranking' page=pagination.last %}" class="btn btn-primary  btn-sm {% if pagination.page == pagination.last %}disabled{% endif %}">>|</a>
            </div>
        {% endif %}
        </div>
    </body>
</html>