{% load staticfiles %}
{% load i18n %}
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>MosquitoAlert Stats</title>

        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-select/css/bootstrap-select.min.css" %}>
        <link rel="stylesheet" href={% static "stats/workload.css" %}>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://code.highcharts.com/maps/highmaps.js"></script>
        <script src={% static "stats/users.js" %}></script>
        <script>
            var reports_data_adults = JSON.parse('{{ data_adults | escapejs }}');;
            var reports_data_sites = JSON.parse('{{ data_sites | escapejs }}');;
        </script>
    </head>
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div id="navbar" class="container">
                    <div class="navbar-brand">
                        <span style="color:#ff9900; font-size: small">User Stats</span>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'expert_report_annotation' %} ">Back to Entolab</a></li>
                            <li><p class="navbar-text">{{ request.user.username }}</p></li>
                            <li><a href="{% url "auth_logout" %}">logout</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <body>
        <div class="container-custom">
            <div id="2014" class="col-md-3" style="height: 300px; margin: 0 auto"></div>
            <div id="2015" class="col-md-3" style="height: 300px; margin: 0 auto"></div>
            <div id="2016" class="col-md-3" style="height: 300px; margin: 0 auto"></div>
            <div id="2017" class="col-md-3" style="height: 300px; margin: 0 auto"></div>
        </div>
        <div class="container-custom">
            <div id="2014_s" class="col-md-3" style="height: 300px; margin: 0 auto"></div>
            <div id="2015_s" class="col-md-3" style="height: 300px; margin: 0 auto"></div>
            <div id="2016_s" class="col-md-3" style="height: 300px; margin: 0 auto"></div>
            <div id="2017_s" class="col-md-3" style="height: 300px; margin: 0 auto"></div>
        </div>
    </body>
</html>
