{% load staticfiles %}
{% load i18n %}
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>MosquitoAlert Stats</title>

    <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/bootstrap-select/css/bootstrap-select.min.css" %}>
    <link rel="stylesheet" href={% static "stats/workload.css" %}>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script>
        var userChart;
        var dailyReportChart;
        var expert_data = {};
        var expert_color = ["#c0ce76","#7f4ed5","#4fdf89","#ed0d82","#01bb91","#ff5245","#00d0f3","#ff8324","#0099fc","#508500","#ff66b6","#3d5b12","#ff6d87","#87c9ff","#b20028","#d2a07a","#893169","#ad6e00","#79452c","#ff8d4e"];
        var users = [];
        var report_input_data = [];
        {% for user in users %}
            users.push({ 'username':'{{user.username}}','name':'{{user.first_name}} {{user.last_name}}'});
        {% endfor %}
        var user_data = {};
        for(var i = 0; i < users.length; i++){
            users[i].color = expert_color[i];
            user_data[users[i].username] = users[i];
        }
    </script>
    <script src={% static "stats/workload.js" %}></script>
  </head>
  <body>

  <div class="row solid-border">
    <div id="container_pending" class="col-md-6" style="height: 400px; margin: 0 auto"></div>
    <div class="col-md-2 solid-border">
        <p><strong>Currently working in</strong></p>
    </div>
  </div>
  <div class="row solid-border">
    <div id="container" class="col-md-6" style="height: 400px; margin: 0 auto"></div>
    <div class="col-md-2 solid-border">
        <p><strong>Select experts</strong></p>
        <ul id="userlist" class="list-group">
        </ul>
    </div>
  </div>
  <div class="row solid-border">
    <div id="container_two" class="col-md-6" style="height: 400px; margin: 0 auto"></div>
    <div class="col-md-2 solid-border">
        <p><strong>Daily report input</strong></p>
        <p>This graph shows how many reports enter the system at a given date, by creation date of the report.</p>
    </div>
  </div>

  </body>
</html>