{% load staticfiles %}
{% load i18n %}
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>MosquitoAlert Stats</title>

    <link rel="stylesheet" href="{% static 'tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'tigacrafting/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'stats/workload.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script>
        var userChart;
        var dailyReportChart;
        var expert_data = {};
        var expert_color = ["#c0ce76","#7f4ed5","#4fdf89","#ed0d82","#01bb91","#ff5245","#00d0f3","#ff8324","#0099fc","#508500","#ff66b6","#3d5b12","#ff6d87","#87c9ff","#b20028","#d2a07a","#893169","#ad6e00","#79452c","#ff8d4e"];
        var users = [];
        var report_input_data = [];
        var user_ids = [];
        {% for user in users %}
            users.push({ 'username':'{{user.username}}','name':'{{user.first_name}} {{user.last_name}}'});
            user_ids.push('{{user.id}}');
        {% endfor %}
        var user_data = {};
        for(var i = 0; i < users.length; i++){
            users[i].color = expert_color[i];
            user_data[users[i].username] = users[i];
        }
        var load_on_start = false;
        {% if load_everything_on_start %}
            load_on_start = true;
        {% endif %}
    </script>
    <script src="{% static 'stats/workload.js' %}?1660"></script>
  </head>
  <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div id="navbar" class="container">
                    <div class="navbar-brand">
                        <span style="color:#ff9900; font-size: small">MosquitoAlert Workload Stats - {{ country_name|upper }}</span>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'expert_report_annotation' %} ">Back to Entolab</a></li>
                            <li><p class="navbar-text">{{ request.user.username }}</p></li>
                            <li><a href="{% url 'auth_logout' %}">logout</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <body>
  <div class="container-custom">
      <div class="row solid-border">
        <div id="container" class="col-md-6" style="height: 475px; margin: 0 auto"></div>
        <div class="col-md-2 solid-border">
            <p><strong>Expert activity</strong></p>
            <p>This graph shows the number of reports that a given expert validated at a certain point in time.</p>
            <p><strong>Select experts</strong></p>
            <ul id="userlist" class="list-group users">
            </ul>
        </div>
      </div>
      <div class="row solid-border">
        <div class="row">
            <div id="container_pending" class="col-md-6" style="height: 475px; margin: 0 auto"></div>
            <div class="col-md-2 solid-border">
                <p><strong>Pending reports per expert</strong></p>
                <p>This graph shows how many reports currently are in the queue of an expert. The number of reports is between 0 and 5. The date between parentheses indicates the most recent activity by the user (i.e: the most recent time she/he validated a report)</p>
                <p><strong>Pending reports detail</strong></p>
                <p>This list shows all the users that have one or more pending reports, plus a link to all these pending reports in Monitor->Report. The report list shows as label the ID of the report, followed by the creation date of the report.</p>
                <p><strong>Select experts</strong></p>
                <ul id="userlist_pending" class="list-group users">
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Pending reports detail</strong></p>
                <ul id="pending_detail"></ul>
            </div>
        </div>
      </div>
      <div class="row solid-border">
        <div id="container_two" class="col-md-6" style="height: 475px; margin: 0 auto"></div>
        <div class="col-md-2 solid-border">
            <p><strong>Daily report input</strong></p>
            <p>This graph shows how many reports enter the system at a given date, by creation date of the report.</p>
        </div>
      </div>
      <div class="row solid-border">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div id="container_gauge" style="height: 250px; margin: 0 auto"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="pending_gauge" style="height: 250px; margin: 0 auto"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="container_overall_pending" style="height: 250px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 solid-border">
                <p><strong>Unassigned reports</strong></p>
                <p>Unassigned reports are reports that have not been yet assigned to any user. Reports which are hidden or missing pictures are not included in this count.</p>
                <p><strong>Reports in progress</strong></p>
                <p>Reports in progress are reports which have not yet been assigned to at least 3 experts. Therefore, they are considered work in progress. This count exludes unassigned reports.</p>
                <p><strong>Overall pending reports</strong></p>
                <p>This is the total pending (assigned but not yet validated) reports of all users. This number should be equal to the sum of all the pending reports in the 'Pending reports per expert' graph.</p>
            </div>
        </div>
        <!--<div id="container_gauge" class="col-md-2" style="height: 200px; margin: 0 auto"></div>
        <div id="pending_gauge" class="col-md-2" style="height: 200px; margin: 0 auto"></div>
        <div id="container_overall_pending" class="col-md-2" style="height: 200px; margin: 0 auto"></div>
        <div class="col-md-2 solid-border">
            <p><strong>Unassigned reports</strong></p>
            <p>Unassigned reports are reports that have not been yet assigned to any user. Reports which are hidden or missing pictures are not included in this count.</p>
            <p><strong>Reports in progress</strong></p>
            <p>Reports in progress are reports which have not yet been assigned to at least 3 experts. Therefore, they are considered work in progress. This count exludes unassigned reports.</p>
            <p><strong>Overall pending reports</strong></p>
            <p>This is the total pending (assigned but not yet validated) reports of all users. This number should be equal to the sum of all the pending reports in the 'Pending reports per expert' graph.</p>
        </div>-->
      </div>
  </div>
  </body>
</html>