<!DOCTYPE html>
{% block lang %}
<html lang="en">
{% endblock %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    {% block title_block %}
        <title></title>
    {% endblock %}
</head>
<body>
    {% block title_header_block %}
        <h1></h1>
    {% endblock %}
    {% if validation_category %}
        {% block validation_category_block %}
            <p></p>
        {% endblock %}
    {% endif %}
    {% if picture_link %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
    {% if map_link %}
        {% block map_link_block %}
            <p></p>
        {% endblock %}
    {% endif %}
    {% if expert_note %}
        {% block expert_note_block %}
            <p></p>
        {% endblock %}
    {% endif %}
    {% if message_for_user %}
        {% block message_for_user_block %}
            <p></p>
        {% endblock %}
    {% endif %}
</body>
</html>