{% extends "tigacrafting/validation_message_template.html" %}

{% block lang %}
<html lang="es">
{% endblock %}

{% block title_block %}
    <title>&#161;Tu foto ha sido validada por un experto!</title>
{% endblock %}

{% block title_header_block %}
    <h1>&#161;Tu foto ha sido validada por un experto!</h1>
{% endblock %}

{% block validation_category_block %}
    <p><strong>Tu observaci&#243;n corresponde a:</strong> {{ validation_category }}</p>
{% endblock %}

{% block map_link_block %}
    <!--<p><a href="{{ map_link }}" target="_blank">M&#237;ralo en el mapa</a></p>-->
{% endblock %}

{% block expert_note_block %}
    <p><strong>Nota del experto:</strong> <i>{{ expert_note }}</i></p>
{% endblock %}

{% block message_for_user_block %}
    <p><strong>Mensaje del experto:</strong> <i>{{ message_for_user }}</i></p>
{% endblock %}