{% extends "tigacrafting/validation_message_template.html" %}

{% block title_block %}
    <title>Va&scaron;o sliko je potrdil strokovnjak!</title>
{% endblock %}

{% block title_header_block %}
    <h1>Va&scaron;o sliko je potrdil strokovnjak!</h1>
{% endblock %}

{% block validation_category_block %}
    <p><strong>Va&scaron;e opažanje je:</strong> {{ validation_category }}</p>
{% endblock %}

{% block map_link_block %}
    <!--<p><a href="{{ map_link }}" target="_blank">View it on the map</a></p>-->
{% endblock %}

{% block expert_note_block %}
    <p><strong>Opomba strokovnjaka:</strong> <i>{{ expert_note }}</i></p>
{% endblock %}

{% block message_for_user_block %}
    <p><strong>Sporočilo strokovnjaka:</strong> <i>{{ message_for_user }}</i></p>
{% endblock %}