{% extends "django_messages/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "View Message" %}</h1>
<table class="messages">
    <tr>
        <td><strong>{% trans "Subject" %}:</strong></td>
        <td>{{ message.subject }}</td>
    </tr>
    <tr>
        <td><strong>{% trans "Sender" %}:</strong></td>
        <td>{{ message.sender }}</td>
    </tr>
    <tr>
        <td><strong>{% trans "Date" %}:</strong></td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</td>
    </tr>
    <tr>
        <td><strong>{% trans "Recipient" %}:</strong></td>
        <td>{{ message.recipient }}</td>
    </tr>
</table>

<div class="message_body">
    {{ message.body|linebreaksbr }}<br /><br />
</div>

{% ifequal message.recipient.pk user.pk %}
<a href="{% url 'messages_reply' message.id %}">{% trans "Reply" %}</a>
{% endifequal %}
<a href="{% url 'messages_delete' message.id %}">{% trans "Delete" %}</a>

{% comment %}Example reply_form integration
{% if reply_form %}
<h1>{% trans "Compose reply"%}</h1>
<form action="{% url 'messages_reply' message.id %}" method="post">
{% csrf_token %}
<table>
{{ reply_form.as_table }}
</table>
<input type="submit" value="{% trans "Send" %} &raquo;"/>
</form>
{% endif %}
{% endcomment %}
{% endblock %}