{% include "floppyforms/input.html" %}
<div id="{{ attrs.id }}-slider"></div>

<script type="text/javascript">

  $(document).ready(function() {
  var range_id = "{{ attrs.id }}";
  var value_changed_id = range_id.replace('tiger_certainty_percent', 'value_changed');
  var range = $('#' + range_id);
  var range_label = $('label[for="' + range_id + '"]').html("Degree of belief: " + range.val() + "%");
  var value_changed = $('#' + value_changed_id).hide();
  var value_changed_label = $('label[for="' + value_changed_id + '"]').hide();

  range.change(function(){
    range_label.html("Degree of belief: " + range.val() + "%");
    value_changed.prop('checked', true);
  }).on('input', function(){
          range_label.html("Degree of belief: " + range.val() + "%");
          value_changed.prop('checked', true);
  });
    var type = $('<input type="range" />').attr('type');
    if (type == 'text') { // No HTML5 support
      $('#{{ attrs.id }}').attr("readonly", true);
      $('#{{ attrs.id }}-slider').slider({
        {% if value %}value: {{ value }},{% endif %}
        min: {{ attrs.min }},
        max: {{ attrs.max }},
        step: {{ attrs.step }},
        slide: function(event, ui) {
          $('#{{ attrs.id }}').val(ui.value);
          range_label.html("Degree of belief: " + range.val() + "%");
          value_changed.prop('checked', true);
        }
      });
    }
  });

</script>