{%load static%}
<!DOCTYPE html>
<html lang={% block language %}"en"{% endblock %}>

<head>
    <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/bootstrap-select/css/bootstrap-select.min.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/font-awesome-4.2.0/css/font-awesome.min.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/tigacrafting_style.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/jquery-ui/jquery-ui.min.css" %}>
    <link rel="stylesheet" href={% static "stats/datatables.min.css" %}>
    <style>
        table.dataTable td {
            font-size: 0.8em;
        }
        .dtGreen{
            background-color: #a9f6ba !important;
        }

        .dtOrange{
            background-color: #f27e56 !important;
        }
    </style>
    <script src={% static "tigacrafting/jquery/1.11.1/jquery.min.js" %}></script>
    <script src={% static "tigacrafting/jquery-ui/jquery-ui.min.js" %}></script>
    <script src={% static "tigacrafting/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}></script>

        <div class="navbar-wrapper">
            <div id="notifications_navbar" class="navbar-fixed-top navbar navbar-inverse" role="navigation">
                <div id="navbar" class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <span style="color:#ff9900; font-size: small">
                                MosquitoAlert IA Alert Log
                            </span>

                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'expert_report_annotation' %}">Back to entolab</a>
                            </li>
                            <li>
                                <p class="navbar-text">{{ request.user.username }}</p>
                            </li>
                            <li>
                                <a href="{% url 'auth_logout' %}">logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </head>
<body>
    <div class="container">
        <h1 class="text-center">Alert log</h1>
        <div class="alert alert-info" role="alert">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-sm-1 control-label">Processed filter</label>
                    <div class="col-sm-5">
                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-default active">
                            <input type="radio" name="processed" value="all" id="all">All
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" name="processed" value="processed" id="processed">Processed
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" name="processed" value="unprocessed" id="unprocessed">Unprocessed
                          </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-1 control-label">Species validation</label>
                    <div class="col-sm-5">
                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-default active">
                            <input type="radio" name="ia_hit" value="all_alert" id="all_alert">All
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" name="ia_hit" value="pending" id="pending">Pending <span title="Not yet evaluated" class="glyphicon glyphicon glyphicon-question-sign"></span>
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" name="ia_hit" value="alert_ok" id="alert_ok">Correct alert <span title="Correct alert" class="glyphicon glyphicon-certificate"></span>
                          </label>
                        <label class="btn btn-default">
                            <input type="radio" name="ia_hit" value="alert_ko" id="alert_ko">Incorrect alert <span title="Incorrect alert" class="glyphicon glyphicon-ban-circle"></span>
                          </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date_from" class="col-sm-1 control-label">Rep. date - From</label>
                    <div class="col-sm-5">
                        <input id="date_from" type="text" class="form-control">
                    </div>
                    <label for="date_to" class="col-sm-1 control-label">Rep. date - To</label>
                    <div class="col-sm-5">
                        <input id="date_to" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="review_date_from" class="col-sm-1 control-label">Rev. date - From</label>
                    <div class="col-sm-5">
                        <input id="review_date_from" type="text" class="form-control">
                    </div>
                    <label for="review_date_to" class="col-sm-1 control-label">Rev. date - To</label>
                    <div class="col-sm-5">
                        <input id="review_date_to" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="species" class="col-sm-1 control-label">Species</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="species">
                            <option value="">-----</option>
                            {% for f in species %}
                            <option value="{{f.species}}">{{f.species}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label for="review_species" class="col-sm-1 control-label">Review species</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="review_species">
                            <option value="">-----</option>
                            {% for f in review_species %}
                            <option value="{{f.review_species}}">{{f.review_species}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-sm-1 control-label">Status</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="status">
                            <option value="">-----</option>
                            {% for f in status %}
                            <option value="{{f.status}}">{{f.status}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label for="review_status" class="col-sm-1 control-label">Review Status</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="review_status">
                            <option value="">-----</option>
                            {% for f in review_status %}
                            <option value="{{f.review_status}}">{{f.review_status}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nuts_0" class="col-sm-1 control-label">Nuts 0 (country)</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="nuts_0">
                            <option value="">-----</option>
                            {% for f in nuts_0 %}
                            <option value="{{f.cntr_code}}">{{ f.cntr_code }} - {{f.name_latn}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label for="nuts_1" class="col-sm-1 control-label">Nuts 1</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="nuts_1" disabled>
                            <option value="">-----</option>
                        </select>
                        <i id="nuts_1_spinner" class="fa fa-spinner fa-spin fa-fw" aria-hidden="true" style="display:none;"></i>
                    </div>
                    <label for="nuts_2" class="col-sm-1 control-label">Nuts 2</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="nuts_2" disabled>
                            <option value="">-----</option>
                        </select>
                        <i id="nuts_2_spinner" class="fa fa-spinner fa-spin fa-fw" aria-hidden="true" style="display:none;"></i>
                    </div>
                    <label for="nuts_3" class="col-sm-1 control-label">Nuts 3</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="nuts_3" disabled>
                            <option value="">-----</option>
                        </select>
                        <i id="nuts_3_spinner" class="fa fa-spinner fa-spin fa-fw" aria-hidden="true" style="display:none;"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="municipality" class="col-sm-1 control-label">Municipality</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="municipality" disabled>
                            <option value="">-----</option>
                        </select>
                        <i id="municipality_spinner" class="fa fa-spinner fa-spin fa-fw" aria-hidden="true" style="display:none;"></i>
                    </div>
                </div>
            </form>
            <div class="row">
                <button class="btn btn-primary navbar-right" type="button" id="remove_filter"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                <button class="btn btn-primary navbar-right" type="button" id="filter"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover" id="aimalog_table" style="width:100%;"></table>
    <input id="filter_value" type="hidden" value="">
</body>
    <script src={% static "stats/datatables.min.js" %}></script>
    <script>
        var _aimalog_list_url = '{% url 'aimalog_datatable' %}';
    </script>
    <script src={% static "tigacrafting/cookies.js" %}></script>
    <script src={% static "tigacrafting/aimalog/filter_control.js" %}></script>
    <script src={% static "tigacrafting/aimalog/aimalog_datatable.js" %}></script>
</html>
