{%load static%}
<!DOCTYPE html>
<html lang={% block language %}"en"{% endblock %}>

<head>
    <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/bootstrap-select/css/bootstrap-select.min.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/font-awesome-4.2.0/css/font-awesome.min.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/toastr/toastr.min.css" %}/>
    <link rel="stylesheet" href={% static "tigacrafting/tigacrafting_style.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/jquery-ui/jquery-ui.min.css" %}>
    <script src={% static "tigacrafting/jquery/1.11.1/jquery.min.js" %}></script>
    <script src={% static "tigacrafting/jquery-ui/jquery-ui.min.js" %}></script>
    <script src={% static "tigacrafting/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}></script>
    <style>
        .report_info_wrapper {
            padding: 20px;
        }
         .button-review {
            margin: 5px;
        }
        .unchanged {
            color: green;
        }
        .changed {
            color: red;
        }
    </style>

        <div class="navbar-wrapper">
            <div id="notifications_navbar" class="navbar-fixed-top navbar navbar-inverse" role="navigation">
                <div id="navbar" class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <span style="color:#ff9900; font-size: small">
                                MosquitoAlert IA Alert Log
                            </span>

                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'expert_report_annotation' %}">Back to entolab</a>
                            </li>
                            <li>
                                <p class="navbar-text">{{ request.user.username }}</p>
                            </li>
                            <li>
                                <a href="{% url 'auth_logout' %}">logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </head>
<body>
    <div class="container">
        <h1 class="text-center">Process Alert - {{ alert.id }}</h1>
<!--        <h3>Review Alert status</h3>-->
<!--        <div class="alert_info_wrapper alert alert-info">-->
<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                    {% if alert.alert_sent %}-->
<!--                        <h1><span title="This Alert has been reviewed" class="label label-success">Processed</span></h1>-->
<!--                    {% else %}-->
<!--                        <h1><span title="This Alert has yet to be reviewed" class="label label-warning">Unprocessed</span></h1>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--                <div class="col-md-9">-->
<!--                    {% if alert.alert_sent %}-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-2"><b>Reviewed at:</b></div>-->
<!--                        <div class="col-md-10">{{ alert.review_datetime }}</div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-2"><b>Review species:</b></div>-->
<!--                        <div class="col-md-10">{{ alert.review_species }}</div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-2"><b>Review status:</b></div>-->
<!--                        <div class="col-md-10">{{ alert.review_status }}</div>-->
<!--                    </div>-->
<!--                    {% else %}-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-2"><b>Review species:</b></div>-->
<!--                        <div class="col-md-8">-->
<!--                            <select id="review_species" class="form-control" >-->
<!--                                <option value="">-&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
<!--                                {% for f in review_species %}-->
<!--                                <option value="{{ f }}">{{ f }}</option>-->
<!--                                {% endfor %}-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="col-md-2">-->
<!--                            <button class="btn btn-primary button-review" id="review">Review <span class="glyphicon glyphicon-thumbs-down"></span></button>-->
<!--                            <button class="btn btn-primary button-review" id="ok_ia">Ok IA <span class="glyphicon glyphicon-thumbs-up"></span></button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-2"><b>Review comments:</b></div>-->
<!--                        <div class="col-md-8">-->
<!--                            <textarea id="review_comment"></textarea>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="alert_communication_wrapper" style="display:{% if alert.alert_sent %}block{%else%}none{%endif%};">
            <h3>Alert communication status</h3>
            <div class="alert_info_wrapper alert alert-info">
                <div class="row">
                    <div class="btn-group col-md-12">
                          <!--<label class="btn btn-default active alert">
                            <input type="radio" name="communication_status" value="nono" id="nono">Not yet reviewed, not sent
                          </label>-->
                          <!--<label class="btn btn-default alert">-->
                            <div class="col-md-3">
                            <input type="radio" name="communication_status" value="0" id="new_comm">New <span class="glyphicon glyphicon-exclamation-sign"></span>
                            </div>
                          <!--</label>-->
                          <!--<label class="btn btn-default alert">-->
                            <div class="col-md-3">
                            <input type="radio" name="communication_status" value="1" id="accepted_comm">Accepted <span class="glyphicon glyphicon-ok"></span>
                            </div>
                          <!--</label>-->
                          <!--<label class="btn btn-default alert">-->
                            <div class="col-md-3">
                            <input type="radio" name="communication_status" value="3" id="rejected_comm">Rejected <span class="glyphicon glyphicon-remove"></span>
                            </div>
                          <!--</label>-->
                          <!--<label class="btn btn-default alert">-->
                            <div class="col-md-3">
                            <input type="radio" name="communication_status" value="2" id="sent_comm">Accepted and communicated <span class="glyphicon glyphicon glyphicon-envelope"></span>
                            </div>
                          <!--</label>-->
                    </div>
                    <div id="noedit_alert" class="col-md-12 alert alert-danger" style="display:none;">
                        <p style="color:red;">Edition is not allowed while report validation is in progress</p>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
        <!--
        <h3>Alert status review</h3>
        <div class="alert_info_wrapper alert alert-info">
            <div class="row">
                <div class="col-md-1">
                    <b>Set status to:</b>
                </div>
                <div class="col-md-10">
                    <select>
                        <option value="">unchanged</option>
                        {% for s in statuses %}
                        <option value="{{s}}">{{s}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary button-status" id="status"><span title="Save status" class="glyphicon glyphicon-floppy-disk"></span></button>
                </div>
            </div>
        </div>
        -->
        <h3>Alert comments</h3>
        <div class="alert_info_wrapper alert alert-info">
            <div class="row">
                <div class="col-md-1">
                    <b>Comments</b>
                </div>
                <div class="col-md-10">
                    <textarea id="area_comments">{% if alert_metadata.review_comments %}{{ alert_metadata.review_comments }}{% endif %}</textarea>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary button-comment" id="comment"><span title="Save comment" class="glyphicon glyphicon-floppy-disk"></span></button>
                </div>
            </div>
        </div>
        <h3>Alert information</h3>
        <div class="alert_info_wrapper alert alert-info">
            <div class="row">
                <div class="col-md-6">
                    <h4>Alert Location</h4>
                    <div class="alert_info_wrapper alert alert-success">
                        <div class="row">
                            <div class="col-md-6"><b>Code location</b></div>
                            <div class="col-md-6">{{ alert.loc_code }}</div>
                        </div>
                        {% for n in admin_info %}
                        <div class="row">
                            <div class="col-md-6"><b>{{ n.label }}</b></div>
                            <div class="col-md-6">{{ n.name }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Contact information</h4>
                    <div class="alert_info_wrapper alert alert-success">
                        <div class="row">
                            <div class="col-md-12">
                                <b>Notification contact email for country {{ alert.get_alert_country.name_engl }}: </b>
                                <ul>
                                {% for c in contacts %}
                                <li>{{ c }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Validation classification</h4>
                    <div class="alert_info_wrapper alert alert-success">
                        <div class="row">
                            <div class="col-md-6"><b>Expert validation</b></div>
                            <div class="col-md-6">
                                {% if report_info.in_progress %}
                                    <span class="label label-default">Not yet determined</span>
                                {% else %}
                                    {% if report_info.value %}
                                        {% if report_info.value == '1'%}
                                            <h4><span class="label label-success">Probably {{ report_info.category }}</span></h4>
                                        {% else %}
                                            <h4><span class="label label-success">Definitely {{ report_info.category }}</span></h4>
                                        {% endif %}
                                    {% else %}
                                        <h4><span class="label label-success">{{ report_info.category }}</span></h4>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><b>Status of validated species in location</b></div>
                            <div class="col-md-6">
                                {% if report_info.in_progress %}
                                    Not yet determined
                                {% else %}
                                    <h4><span id="status_label" class="label label-success">Loading...</span> <span id="reported_count"></span></h4>
                                    <i id="status_spinner" class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>AI classification</h4>
                    <div class="alert_info_wrapper alert alert-success">
                        <div class="row">
                            <div class="col-md-6"><b>Species AI Classification</b></div>
                            <div class="col-md-6">{{ alert.species }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><b>Species status in location</b></div>
                            <div class="col-md-6">{{ alert.status }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-md-6">
                    <h4>Alert status before report validation</h4>
                    <div class="alert_info_wrapper alert alert-success">
                        <h1><span class="label label-danger" title="According to the location and IA ID, this constitutes an Alert">Alert</span></h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Alert status after report validation</h4>
                    <div class="alert_info_wrapper alert alert-success">
                        <h1><span class="label label-default" title="Alert not yet reviewed">Not yet reviewed</span></h1>
                    </div>
                </div>
            </div>
            -->
        <h4>Report information</h4>
        <div class="report_info_wrapper alert alert-info">
            <div class="row" style="padding: 5px; background-color:{% if report.type == 'adult' %}#F2BB66;{% else %}#736AFF;{% endif %}">
                <div class="col-md-12">
                    <h4>
                        <strong>{{ report.type|capfirst }} Report {{ report.version_UUID }} </strong>{{ report.creation_time|date:"d/m/y H:i" }} UTC - {{ report.country_label }} - {{ report.language }}
                    </h4>
                    <h5>
                        <strong>Report code - {{ report.report_id }}</strong>
                    </h5>
                </div>
            </div>
            <div class="row" style="padding-top:10px;padding-bottom:10px;">
                {% if report.get_is_expert_validated and request.user.userstat.is_superexpert %}
                    <a class="btn btn-primary" href="{% url 'expert_report_annotation' %}?version_uuid={{ report.version_UUID }}">View this Report in Validation Mode <span class="glyphicon glyphicon-share-alt"></span></a>
                {% endif %}
            </div>
            {% if report.deleted %}
                <div class="row">
                    <div class="col-md-12">
                        <strong>WARNING: THIS REPORT HAS BEEN DELETED BY THE USER. IT WILL NOT BE SENT FOR EXPERT VALIDATION OR DISPLAYED ON THE PUBLIC MAP.</strong>
                    </div>
                </div>
            {% endif %}
            {% if not report.deleted and not report.latest_version %}
                <div class="row">
                    <div class="col-md-12">
                        <strong>WARNING: THIS IS NOT THE LATEST VERSION OF THIS REPORT. IT WILL NOT BE SENT FOR EXPERT VALIDATION OR DISPLAYED ON THE PUBLIC MAP.</strong><br>The latest version of this report is <a href="{% url 'expert_report_status' %}?version_uuid={{ report.get_which_is_latest }}">{{ report.get_which_is_latest }}</a>
                    </div>
                </div>
            {% endif %}
            <div class="row" style="margin-bottom: 3px;">
                <div class="col-md-12">
                    {% if report.get_is_expert_validated %}
                        {{ report.get_final_expert_status_bootstrap | safe }}
                        <strong>Current Status:</strong> {% include "tigacrafting/score_label_euro.html" with text=report.get_final_combined_expert_category_euro color=report.get_html_color_for_label %}
                    {% else %}
                        <strong>Status:</strong> Not yet validated by three experts.
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Photo</th>
                                    <th>Public Note</th>
                                    <th>Note to User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ report.get_final_photo_html.popup_image | safe }}</td>
                                    <td>
                                        {% if report.get_final_public_note %}
                                        {{ report.get_final_public_note | safe }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ report.get_final_note_to_user_html | safe }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- table responsive -->
                </div> <!-- col-md12 -->
            </div> <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <strong>Who has this report? </strong>
                        {% if report.get_who_has_bootstrap %}
                            {% if request.user.userstat.is_superexpert %}
                                {{ report.get_who_has_bootstrap | safe }}
                            {% else %}
                                {% for who_has in who_has_list %}
                                    {{ who_has | safe }}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            Nobody - it has not yet been given to any experts.
                        {% endif %}
                </div><br>
            </div>
                {% if report.get_is_expert_validated %}<br>
                    <div class="row">
                        <strong>Individual Expert Responses</strong><br>
                            {% for ano in report.expert_report_annotations.all %}
                                {% if ano.validation_complete %}
                                    <div class="col-md-6">
                                        <table class="table table-condensed borderless" style="font-size: smaller;">
                                            <thead>
                                                <th></th>
                                                <th></th>
                                            </thead>
                                            {% if ano.user.userstat.is_superexpert %}
                                            <tbody style="border: 1px solid #333;padding:2px;background: #F5DA81;">
                                            {% else %}
                                                {% if not ano.simplified_annotation %}
                                                    <tbody style="border: 1px solid #F00;padding:2px;">
                                                {% else %}
                                                    <tbody style="border: 1px solid #333;padding:2px;">
                                                {% endif %}
                                            {% endif %}
                                                <tr>
                                                    <td>
                                                        {% if ano.user.username == this_user or request.user.userstat.is_superexpert or ano.user.userstat.is_superexpert %}
                                                            <span class="label label-success" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="validated by {{ ano.user.username }}">{{ ano.user.username }}<span class="glyphicon glyphicon-check"></span>
                                                        {% else %}
                                                            <span class="label label-success" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="validated by an expert">expert<span class="glyphicon glyphicon-check"></span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <!-- $EURO_SWITCH -->
                                                        <!-- {{ ano.get_status_bootstrap | safe }} {% include "tigacrafting/score_label.html" with score=ano.get_score text=ano.get_category %} -->
                                                        {% if ano.user.userstat.is_superexpert %}
                                                            {% if ano.revise == False and ano.validation_complete == True %}
                                                                {{ ano.get_status_bootstrap | safe }} {% include "tigacrafting/score_label.html" with text=report.get_final_combined_expert_category_euro color=report.get_html_color_for_label %}
                                                            {% else %}
                                                                {{ ano.get_status_bootstrap | safe }} {% include "tigacrafting/score_label_euro.html" with text=ano.get_category_euro color=ano.get_html_color_for_label %}
                                                            {% endif %}
                                                        {% else %}
                                                        {{ ano.get_status_bootstrap | safe }} {% include "tigacrafting/score_label_euro.html" with text=ano.get_category_euro color=ano.get_html_color_for_label %}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Internal cmts:</strong>
                                                    </td>
                                                    <td>
                                                        {% if report.type == 'adult' %}
                                                                {{ ano.tiger_certainty_notes }}<br>
                                                        {% elif report.type == 'site' %}
                                                            {{ ano.site_certainty_notes }}<br>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Public Note:</strong></td>
                                                    <td> {{ ano.edited_user_notes }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Message To User:</strong></td>
                                                    <td> {{ ano.message_for_user }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Linked ID:</strong></td>
                                                    <td> {{ ano.linked_id }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Photo:</strong></td>
                                                    <td>{% if ano.best_photo %}{{ ano.best_photo.popup_image | safe }}{% endif %}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> <!-- col-md-6 -->
                                {% endif %}
                        {% endfor %} <!-- for ano in report.expert_report_annotations.all -->
                        </div>
                {% endif %} <!-- report.get_is_expert_validated -->
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <strong>Photos</strong>
                    <div style="overflow: auto;">
                        {{ report.get_photo_html_for_report_validation_completed | safe }}
                    </div>
                </div>
            <br>
            <div class="border-row">
                <br>
            </div>
        </div>
    </div>

    <div class="modal fade" id="send_email_modal" tabindex="-1" role="dialog" aria-labelledby="save_block_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="save_block_modal_label">About to send alert email</h4>
                </div>
                <div id="save_block_modal_body" class="modal-body">
                    About to do the following changes:
                    <ul>
                        <li> - <b>Communication status</b> will be set to <b><span style="color:green;">'Accepted and communicated'</span></b></li>
                        <li>
                             - <b>Send alert email</b> to the following recipients (country {{ alert.get_alert_country.name_engl }}):
                            <ul>
                                {% for c in contacts %}
                                <li> * <i>{{ c }}</i></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            - <b>Status in location</b> will be changed to: <b><span id="status_change_dialog"></span></b>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    Do you want to proceed?
                    <button type="button" id="confirm_review" class="btn btn-default">Yes</button>
                    <button type="button" id="no_review" class="btn btn-default">No</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="reported_n">
    <input type="hidden" id="status_in_location">
    <input type="hidden" id="new_status">
    <input type="hidden" id="revised_category" value="{{ report_info.category_id }}">
    <input type="hidden" id="loc_code" value="{{ alert.loc_code }}">
</body>
    <script>
        var alert_id = {{ alert.id }};
        var communication_status = '{{ alert.alertmetadata.communication_status }}';
        var report_in_progress = {% if report_info.in_progress %}1{% else %}0{% endif %};
    </script>
    <script src={% static "stats/datatables.min.js" %}></script>
    <script src={% static "tigacrafting/toastr/toastr.min.js" %}></script>
    <script src={% static "tigacrafting/csrf_utils.js" %}></script>
    <script src={% static "tigacrafting/cookies.js" %}></script>
    <script src={% static "tigacrafting/aimalog/aimalog_process.js" %}></script>
</html>
