{%load static%}
<!DOCTYPE html>
<html lang={% block language %}"en"{% endblock %}>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.2.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.7.2/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href=https://cdn.jsdelivr.net/npm/font-awesome@4.2.0/css/font-awesome.min.css>
    <link rel="stylesheet" href={% static "tigacrafting/tigacrafting_style.css" %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.css">
    <link rel="stylesheet" href={% static "tigacrafting/tokenize2/tokenize2.min.css" %}>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.2.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src={% static "tigacrafting/tokenize2/tokenize2.min.js" %}></script>
        <script src="https://cdn.jsdelivr.net/npm/tinymce@4.5.5/tinymce.min.js"></script>
        <div class="navbar-wrapper">
            <div id="notifications_navbar" class="navbar-fixed-top navbar navbar-inverse" role="navigation">
                <div id="navbar" class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <span style="color:#ff9900; font-size: small">
                                MosquitoAlert IA Alert Log
                            </span>

                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'expert_report_annotation' %}">Back to entolab</a>
                            </li>
                            <li>
                                <p class="navbar-text">{{ request.user.username }}</p>
                            </li>
                            <li>
                                <a href="{% url 'auth_logout' %}">logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </head>
<body>
    <div class="container">
        <script src={% static "tigacrafting/aimalog/aimalog_datatable.js" %}></script>
        <link rel="stylesheet" href={% static "stats/datatables.min.css" %}>
        <script src={% static "stats/datatables.min.js" %}></script>

        <div class="container">
            <h1 class="text-center">Alert log</h1>
            <table class="table table-striped table-bordered table-hover" id="aimalog_table" style="width:100%;"></table>
        </div>
        <script>
            var _aimalog_list_url = '{% url 'aimalog_datatable' %}';
        </script>
    </div>
</body>

</html>
