{% load static %}
<!DOCTYPE html>
<html lang={% block language %}"en"{% endblock %}>

<head>
    <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/bootstrap-select/css/bootstrap-select.min.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/font-awesome-4.2.0/css/font-awesome.min.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/tigacrafting_style.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/jquery-ui/jquery-ui.min.css" %}>
    <link rel="stylesheet" href={% static "tigacrafting/tokenize2/tokenize2.min.css" %}>
    <script src={% static "tigacrafting/jquery/1.11.1/jquery.min.js" %}></script>
    <script src={% static "tigacrafting/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}></script>
    <script src={% static "tigacrafting/jquery-ui/jquery-ui.min.js" %}></script>
    <!--<script src={% static "tigacrafting/bootstrap-select/js/bootstrap-select.min.js" %}></script>!-->
    <script src={% static "tigacrafting/tokenize2/tokenize2.min.js" %}></script>
        <script src={% static "tigacrafting/tinymce/js/tinymce/tinymce.min.js" %}></script>
        <div class="navbar-wrapper">
            <div id="notifications_navbar" class="navbar-fixed-top navbar navbar-inverse" role="navigation">
                <div id="navbar" class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <span style="color:#ff9900; font-size: small">
                                MosquitoAlert Notifications
                            </span>

                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'notifications_table' %}">Notification list</a>
                            </li>
                            <li>
                                <a href="{% url 'notifications' %}">New notification</a>
                            </li>
                            <li>
                                <p class="navbar-text">{{ request.user.username }}</p>
                            </li>
                            <li>
                                <a href="{% url 'auth_logout' %}">logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>