{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang={% block language %}"en"{% endblock %}>
    <head>
        {% block encoding %}<meta charset="utf-8">{% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta name="description" content="MosquitoAlert">
        <meta name="author" content="Movement Ecology Laboratory">
        <title>{% block page_title %}EntoLab license agreement{% endblock %}</title>

        {% block bootstrap_css %}
            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.2.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.7.2/dist/css/bootstrap-select.min.css">
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
        <link rel="stylesheet" href={% static "tigacrafting/tigacrafting_style.css" %}>
    </head>
    <body>
        <div class="container">
            <h1>EntoLab license agreement</h1>
            <p>Here goes the license text</p>
            <form action="{% url 'entolab_license_agreement' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
