{% load static %}
{% load leaflet_tags %}
{% load i18n %}
{% load floppyforms %}
<!DOCTYPE html>
<html lang={% block language %}"en"{% endblock %}>
<head>

    {% block encoding %}
        <meta charset="utf-8">{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta name="description" content="MosquitoAlert">
    <meta name="author" content="Movement Ecology Laboratory">

    <title>{% block page_title %}MosquitoAlert Status{% endblock %}</title>

    {% block bootstrap_css %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-select/css/bootstrap-select.min.css" %}>    {% endblock %}

    <link rel="stylesheet" href={% static "tigacrafting/tokenize2/tokenize2.min.css" %}>

    <script src={% static "tigacrafting/jquery/1.11.1/jquery.min.js" %}></script>
    <script src={% static "tigacrafting/jquery-ui/jquery-ui.min.js" %}></script>
    <link rel="stylesheet" href={% static "tigacrafting/jquery-ui/jquery-ui.css" %}>
    <script src={% static "tigacrafting/tokenize2/tokenize2.min.js" %}></script>

    <script type="text/javascript" src={% static "tigacrafting/jquery-qrcode/jquery.qrcode.min.js" %}></script>
    <style>
        #ex1Slider .slider-selection {
            background: #BABABA;
        }

        .tokenize-dropdown{
            z-index: 9999;
        }

        html body.modal-open div#searchModal.modal.fade.in div.modal-dialog div.modal-content div.modal-body table tbody tr td div.btn-group.bootstrap-select.show-tick.tokenize-report-uuid{
            display: none;
        }

        html body.modal-open div#searchModal.modal.fade.in div.modal-dialog div.modal-content div.modal-body table tbody tr td div.btn-group.bootstrap-select.show-tick.tokenize-report-id{
            display: none;
        }

    </style>

    {% block fa_css %}
        <!-- FA CSS -->
        <link rel="stylesheet" href={% static "tigacrafting/font-awesome-4.2.0/css/font-awesome.min.css" %}>
    {% endblock %}


    {% block fallback_bs_js %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}


{% block leaflet_stuff %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}


    <link rel="stylesheet" href={% static "tigacrafting/tigacrafting_style.css" %}>

{% block map_head_js %}

    <script type="text/javascript">

        var mosquito_icon_class = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "tigamap/yellow_icon.png" %}'
            }
        });
        var site_icon_class = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "tigamap/blue_icon.png" %}'
            }
        });

        var mosquito_icon = new mosquito_icon_class;
        var site_icon = new site_icon_class;

        {% for report in reports %}
            function map_init_basic{{ forloop.counter }}(map, options) {

                L.marker([{{ report.lat }}, {{ report.lon }}], {icon:
                        {% if report.type == 'site' %}site_icon{% else %}
                            mosquito_icon{% endif %}}).bindPopup('<table><tbody><tr><td><strong>Lat:</strong></td><td>{{ report.lat }}</td></tr><tr><td><strong>Lon:</strong></td><td>{{ report.lon }}</td></tr></tbody></table><br><a style="color:white;" class="btn btn-primary btn-sm" target="_blank" href="{% url 'webmap.show_map_defaults' %}?center_lon={{ report.lon }}&center_lat={{ report.lat }}&zoom=14&map_type={{ report.type }}&year={{ report.creation_time.year }}">View on Public Map</a>{% if request.user.is_staff %}<br><br><a style="color:white;" class="btn btn-danger btn-sm" target="_blank" href="{% url 'admin:tigaserver_app_report_change' report.version_UUID %}">View Admin</a>{% endif %}').addTo(map);

            }
        {%  endfor %}


    </script>
{% endblock %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}
</head>

<body>

{% block navbar %}
    <!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div id="navbar" class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand"><span
                                style="color:#ff9900; font-size: small">MosquitoAlert Validation Status <i
                                    id="gear"
                                    class="fa fa-refresh fa-spin"></i></span>
                        </div>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-left">

{% block search_btn %}
                            <li>
                                <span data-toggle="modal" data-target="#searchModal"><button type="button"
                                                                                             class="btn btn-warning btn-sm navbar-btn"
                                                                                             data-toggle="tooltip"
                                                                                             data-placement="bottom"
                                                                                             title="Search"
                                                                                             style="margin-left:5px">
                                    <span class="glyphicon glyphicon-search"
                                          {% if version_uuid and version_uuid != 'na' and version_uuid != '' %}style="color:black"{% endif %}></span>
                                </button></span>
                            </li>
{% endblock %}
                        </ul>


                        <ul class="nav navbar-nav navbar-right">
                                                <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Validation <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href={% url 'expert_report_annotation' %}>Validate</a></li>
    </ul>
</li>

                        <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Monitor <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href={% url 'expert_report_status' %}>Reports</a></li>
                <li><a href={% url 'expert_status' %}>People</a></li>

    </ul>
</li>

                               {% if reports_per_page_choices %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle"
                                       data-toggle="dropdown">Reports per page
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        {% for n in reports_per_page_choices %}
                                            <li>
                                                <a href="{% url 'expert_report_status' %}?reports_per_page={{ n }}">{{ n }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}


                            <li><p class="navbar-text">{{ request.user.username }}</p></li>
                            <li><a href="{% url "auth_logout" %}">logout</a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block main_body %}


    <div class="container">

    <div class="starter-template">

            <h1>Expert Validation Status: Reports</h1>
        {% if version_uuid %}
        <h2>Search Result: Report {{ version_uuid }}</h2>
        {% endif %}

        </div>

    {% if objects %}


    {% for report in reports %}
        <div class="row row_for_{{ forloop.counter }}" style="background-color:{% if report.type == 'adult' %}#F2BB66;{% else %}#736AFF;{% endif %}">
            <div class="col-md-12">
                <h4>
                    <strong>
                        {{ report.type|capfirst }}
                    Report {{ report.version_UUID }}
                    </strong>
                    {{ report.creation_time|date:"d/m/y H:i" }} UTC
                    - {{ report.country_label }} - {{ report.language }}
                </h4>
                <h5>
                    <strong>Report code - {{ report.report_id }}</strong>
                </h5>
            </div>
        </div>
{% if report.deleted %}
                    <div class="row">
                <div class="col-md-12">
                    <strong>WARNING: THIS REPORT HAS BEEN DELETED BY THE USER. IT WILL NOT BE SENT FOR EXPERT VALIDATION OR DISPLAYED ON THE PUBLIC MAP.</strong></div>
            </div>
{% endif %}
{% if not report.deleted and not report.latest_version %}
                    <div class="row">
                <div class="col-md-12">
                    <strong>WARNING: THIS IS NOT THE LATEST VERSION OF THIS REPORT. IT WILL NOT BE SENT FOR EXPERT VALIDATION OR DISPLAYED ON THE PUBLIC MAP.</strong><br>The latest version of this report is <a href="{% url 'expert_report_status' %}?version_uuid={{ report.get_which_is_latest }}">{{ report.get_which_is_latest }}</a></div>
            </div>
{% endif %}

            <div class="row" style="margin-bottom: 3px;">
        <div class="col-md-12">
        {% if report.get_is_expert_validated %}
            <a role="button" data-toggle="collapse" href="#current_status_collapse{{ forloop.counter }}"
               aria-expanded="false" aria-controls="current_status_collapse{{ forloop.counter }}"><i
                    class="fa fa-plus-square-o"></i></a>
            {{ report.get_final_expert_status_bootstrap | safe }}
            <!--<strong>Current Status <i>Albopictus</i>:</strong>  {% include "tigacrafting/score_label.html" with score=report.get_final_expert_score text=report.get_final_expert_category %}-->
            <!--<strong>Current Status <i>Aegypti</i>:</strong> {% include "tigacrafting/score_label.html" with score=report.get_final_expert_score_aegypti text=report.get_final_expert_category_aegypti %}-->
            <!--<strong>Current Status:</strong> {% include "tigacrafting/score_label.html" with score=report.get_final_combined_expert_score text=report.get_final_combined_expert_category %}-->
            <strong>Current Status:</strong> {% include "tigacrafting/score_label_euro.html" with text=report.get_final_combined_expert_category_euro color=report.get_html_color_for_label %}
        {% else %}
            <strong>Status:</strong> Not yet validated by three experts.
        {% endif %}

            <div class="collapse" id="current_status_collapse{{ forloop.counter }}">
                <div class="well">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>
                                    Photo
                                </th>
                                <th>
                                    Public Note (webmap)
                                </th>
                                <th>
                                    Note to User
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    {{ report.get_final_photo_html.popup_image | safe }}
                                </td>
                                <td>
                                    {% if report.get_final_public_note %}
                                    {{ report.get_final_public_note | safe }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ report.get_final_note_to_user_html | safe }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <div class="row">
                <div class="col-md-12">
                    <strong>Who has this report? </strong> {% if report.get_who_has_bootstrap %}{{ report.get_who_has_bootstrap | safe }}{% else %} Nobody - it has not yet been given to any experts.{% endif %}
                </div><br>
            </div>

        <div class="row">
            <div class="col-md-3">
{% if report.get_is_expert_validated %}
    <br>
    <strong>Individual Expert Responses</strong><br>
    <div class="table-responsive">
        <table class="table table-condensed borderless" style="font-size: smaller;">
            <thead>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            {% for ano in report.expert_report_annotations.all %}
                {% if ano.validation_complete %}
                    {% if ano.is_expert or ano.is_superexpert and ano.revise %}

                        <tr>
                            <td><a role="button" data-toggle="collapse"
                                   href="#expert_collapse{{ forloop.counter }}{{ ano.id }}"
                                   aria-expanded="false"
                                   aria-controls="expert_collapse' + forloop.counter + str(ano.id) + '"><i
                                    class="fa fa-plus-square-o"></i></a> {{ ano.user.username }}
                            </td>
                            <td>{{ ano.get_status_bootstrap | safe }} {% include "tigacrafting/score_label_euro.html" with text=ano.get_category_euro color=ano.get_html_color_for_label %}</td>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse"
                                     id="expert_collapse{{ forloop.counter }}{{ ano.id }}"
                                     style="border: 1px solid #333;padding:2px;">
                                    {{ ano.last_modified|date:"d/m/y H:i" }} UTC<br>
                                    {% if report.type == 'adult' %}
                                        <strong>Internal cmts:</strong> {{ ano.tiger_certainty_notes }}<br>
                                    {% elif report.type == 'site' %}
                                        <strong>Internal cmts:</strong> {{ ano.site_certainty_notes }}
                                        <br>
                                    {% endif %}
                                    <strong>Public Note (webmap):</strong> {{ ano.edited_user_notes }}<br>
                                    <strong>Private Message To User (app):</strong> {{ ano.message_for_user }}<br>
                                    <strong>Linked ID:</strong> {{ ano.linked_id }}<br>
                                    <strong>Photo:</strong> {% if ano.best_photo %}
                                    {{ ano.best_photo.popup_image | safe }}{% endif %}
                                </div>
                            </td>
                        </tr>

                    {% endif %}

                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>



{% endif %}

              {% if report.get_is_expert_validated and request.user.userstat.is_superexpert %}
                <a class="btn btn-primary" href="{% url 'expert_report_annotation' %}?version_uuid={{ report.version_UUID }}">View this Report in Validation Mode <span class="glyphicon glyphicon-share-alt"></span></a>
                {% endif %}

            </div>

            <div class="col-md-5">
                <br>
                <strong>Photos</strong>

                    <div style="overflow: auto;">

                        {{ report.get_photo_html_for_report_validation_completed | safe }}

                    </div>

            </div>

            <div class="col-md-4">
                <br>
                <strong>Location</strong>

                <div id="map{{ forloop.counter }}" class="report_annotation_map-container">

                    <div style="z-index:100; position:absolute; top:0; right:0;"
                         id="qrcode{{ forloop.counter }}"></div>

                </div>


                <br>
                <!--
                <strong>User Responses</strong><br>

                <div style="overflow: auto;height: 120px;border:1px solid #333333;padding:2px;">
                    {{ report.response_html  | safe }}
                </div>
                <br>
                -->
                <strong>User Notes</strong><br>

                <div style="overflow: auto;height: 100px;border:1px solid #333333;padding:2px;">
                    {{ report.note }}
                </div>


            </div>

        </div>

        <br>
        <div class="border-row">

            <br>

        </div>


    {% endfor %}

            {% if objects.has_next or objects.has_previous %}

            <div class="row">

                <div class="col-md-12">

                    <div class="pagination">
        <span class="step-links">
            {% if objects.has_previous %}
                <a class="btn btn-default btn-sm active" type="button" href="?page={{ objects.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ objects.number }} of {{ objects.paginator.num_pages }}
            </span>

            {% if objects.has_next %}
                <a class="btn btn-default btn-sm active" type="button" href="?page={{ objects.next_page_number }}">Next</a>

            {% endif %}

            <br>
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <input type="number" min="1" max="{{ objects.paginator.num_pages }}"
                               class="form-control input-sm" id="page_input" placeholder="Go to page"
                               style="width:100px;">
                        <button id="page_button" class="btn btn-default btn-sm active" type="button">Go</button>
                    </div>

                </form>

        </span>
                    </div>


                </div>
            </div>

        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                            <p>No reports match your search criteria.</p>
                </div>
            </div>
        </div>
    {% endif %}

<input id="version_uuid_input" type="text" name="version_uuid" style="display: none;" value="">

</div>


{% endblock %}

    {% block search_modal %}
        <!-- Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="searchModalLabel">Search</h4>
                    </div>
                    <div class="modal-body">
                        <table style="width:100%;">
                            <colgroup>
                                <col span="1" style="width: 25%;">
                                <col span="1" style="width: 60%;">
                                <col span="1" style="width: 15%;">
                            </colgroup>
                            <tr>
                                <td><label for="uuid_autocomplete"><small>Report UUID (write in the text box the first 3 characters of the uuid for a list):</small></label></td>
                                <td>
                                    <select id="uuid_autocomplete" class="tokenize-report-uuid" multiple></select>
                                </td>
                                <td>
                                    <button type="button" id="search_uuid_autocomplete" class="btn btn-default">Search</button>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="id_autocomplete"><small>Report Code (write in the text box the first 2 characters of the report id for a list):</small></label></td>
                                <td>
                                    <select id="id_autocomplete" class="tokenize-report-id" multiple></select>
                                </td>
                                <td>
                                    <button type="button" id="search_id_autocomplete" class="btn btn-default">Search</button>
                                </td>
                            </tr>
                        </table>
                        <!--
                        <form role="form" class="form-inline">

                            <div class="form-group">
                                <label for="version_uuid_select">Report ID:</label>

                                <select id="version_uuid_select" class="selectpicker show-tick form-control"
                                        data-live-search="true">
                                    <option value=""></option>
                                    {% for version_uuid in all_reports_version_uuids %}
                                        <option value="{{ version_uuid.version_UUID }}">{{ version_uuid.version_UUID }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="button" id="search_version_uuid_submit_button" class="btn btn-default">
                                Search
                            </button>

                        </form>
                        -->


                    </div>
                    <div class="modal-footer">
                        {% if version_uuid != 'na' and version_uuid != '' or linked_id != 'na' and linked_id != '' %}
                            <a class="btn btn-primary" href="{% url 'expert_report_status' %}">Clear Search</a>
                        {% endif %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src={% static "tigacrafting/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src={% static "tigacrafting/bootstrap-3.2.0-assets/js/ie10-viewport-bug-workaround.js" %}></script>

    <script src="{% static "tigacrafting/bootstrap-select/js/bootstrap-select.min.js" %}"></script>

    <script type="text/javascript">

        {% block map_js %}

        (function () {
            function loadmap() {

                {% for report in reports %}

                    var centerLat = {{ report.lat }};
                    var centerLng = {{ report.lon }};
                    var initialZoom = 6;
                    var djoptions = {"layers": [
                                ["OSM", "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                                    "\u00a9 <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"]
                            ],
                                "minimap": true, "scale": "metric", "center": [centerLat, centerLng], "tilesextent": [],
                                "attributionprefix": null, "zoom": initialZoom, "maxzoom": 18, "minzoom": 0, "extent": [
                                    [-90,
                                        -180],
                                    [90,
                                        180]
                                ], "resetview": true, "srid": null, "fitextent": true},
                            options = {djoptions: djoptions, initfunc: loadmap,
                                globals: false, callback: window.map_init_basic};

                    L.Map.djangoMap('map{{ forloop.counter }}', {djoptions: djoptions, initfunc: loadmap,
                        globals: false, callback: eval("window.map_init_basic{{ forloop.counter }}")});
                {% endfor %}

            }

            var loadevents = ["load"];
            if (loadevents.length === 0) loadmap();
            else if (window.addEventListener) for (var i = 0; i < loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
            else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);
        })();

        {% endblock %}

        var gear = $("#gear").hide();

        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();

            $("select").selectpicker({
                width: 'auto'
            });

            var format_report_label = function(r){
                return r.report_id + ' - version:' + r.version_number + ' - date:' + r.version_time.substring(0,10);
            }

            $('.tokenize-report-id').tokenize2({
                dropdownMaxItems: 15,
                searchMinLength: 2,
                tokensMaxItems: 1,
                zIndexMargin: 9999,
                dataSource: function(term, object){
                    $.ajax('/api/reports_id_filtered/', {
                        data: { report_id: term, start: 0 },
                        dataType: 'json',
                        success: function(data){
                            var $items = [];
                            $.each(data, function(k, v){
                                $items.push({"text": format_report_label(v),"value": v.version_UUID });
                            });
                            object.trigger('tokenize:dropdown:fill', [$items]);
                        }
                    });
                }
            });

            $('.tokenize-report-uuid').tokenize2({
                dropdownMaxItems: 15,
                searchMinLength: 3,
                tokensMaxItems: 1,
                zIndexMargin: 9999,
                dataSource: function(term, object){
                    $.ajax('/api/uuid_list_autocomplete/', {
                        data: { uuid: term, loc: $('#loc_input').val(), start: 0 },
                        dataType: 'json',
                        success: function(data){
                            var $items = [];
                            $.each(data, function(k, v){
                                $items.push({"text": v.report__version_UUID,"value": v.report__version_UUID });
                            });
                            object.trigger('tokenize:dropdown:fill', [$items]);
                        }
                    });
                }
            });

            $('.tokenize-report-uuid').on('tokenize:tokens:add', function(e, value, text){
                $("#version_uuid_input").val(value);
            });

            $('.tokenize-report-uuid').on('tokenize:tokens:remove', function(e, value){
                $("#version_uuid_input").val('');
            });

            $('.tokenize-report-id').on('tokenize:tokens:add', function(e, value, text){
                $("#version_uuid_input").val(value);
            });

            $('.tokenize-report-id').on('tokenize:tokens:remove', function(e, value){
                $("#version_uuid_input").val('');
            });

          {% for report in reports %}

                jQuery('#qrcode{{ forloop.counter }}').qrcode({
                    width: 64,
                    height: 64,
                    text: "geo:{{ report.lat }},{{ report.lon }}"
                });

            {% endfor %}


        });


        function submit_search_version_uuid() {
            gear.show();
            /*var this_version_uuid = $("#version_uuid_select").val();*/
            var this_version_uuid = $("#version_uuid_input").val();
            window.location.href = '?version_uuid=' + this_version_uuid;
        }

        $("#search_uuid_autocomplete").on('click', submit_search_version_uuid);

        $("#search_id_autocomplete").on('click', submit_search_version_uuid);

        $("#search_version_uuid_submit_button").on('click', submit_search_version_uuid);

        $("#page_button").on('click', function () {
            go_to_page();
        });

        $('#page_input').bind("enterKey",function(e){
                go_to_page();
        });

        $('#page_input').keyup(function(e){
            if(e.keyCode == 13)
            {
                $(this).trigger("enterKey");
            }
        });

        function go_to_page(){
            gear.show();
            window.location.href = '?page=' + $("#page_input").val();
        }

        /*$("#page_button").on('click', function () {

        });*/


    </script>

    {% block extra_js %}
    {% endblock %}

</body>
</html>
