{% load staticfiles %}
{% load leaflet_tags %}
{% load i18n %}
{% load floppyforms %}


<!DOCTYPE html>
<html lang={% block language %}"en"{% endblock %}>
<head>

    {% block encoding %}
        <meta charset="utf-8">{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta name="description" content="Tigacrafting">
    <meta name="author" content="Movement Ecology Laboratory">

    <title>{% block page_title %}Tigacrafting{% endblock %}</title>

    {% block bootstrap_css %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-select/css/bootstrap-select.min.css" %}>
    {% endblock %}

    <script src={% static "tigacrafting/jquery/1.11.1/jquery.min.js" %}></script>
    <script src={% static "tigacrafting/jquery-ui/jquery-ui.min.js" %}></script>
    <link rel="stylesheet" href={% static "tigacrafting/jquery-ui/jquery-ui.css" %}>
    <style>
        #ex1Slider .slider-selection {
            background: #BABABA;
        }

    </style>

    {% block fa_css %}
        <!-- FA CSS -->
        <link rel="stylesheet" href={% static "tigacrafting/font-awesome-4.2.0/css/font-awesome.min.css" %}>
    {% endblock %}


    {% block fallback_bs_js %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}

    {% leaflet_js %}
    {% leaflet_css %}


    <link rel="stylesheet" href={% static "tigacrafting/tigacrafting_style.css" %}>

    <script type="text/javascript">

        var mosquito_icon_class = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "tigamap/yellow_icon.png" %}'
            }
        });

        var mosquito_icon = new mosquito_icon_class;

        {% for form in formset %}
            function map_init_basic{{ form.instance.id }}(map, options) {

                L.marker([{{ form.instance.report.lat }}, {{ form.instance.report.lon }}], {icon: mosquito_icon}).addTo(map);


            }
        {%  endfor %}

    </script>

</head>

<body>

{% block navbar %}
    <!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div id="navbar" class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">{% trans "Toggle navigation" %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand"><span
                                style="color:#ff9900">Tigatrapp Expert Validation <i id="gear"
                                                                                     class="fa fa-refresh fa-spin"></i></span>
                        </div>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-left">

                            <li><p class="navbar-text" style="color:cornflowerblue">Pending: <span
                                    class="badge">{{ n_pending }}</span>
                                Complete: <span class="badge">{{ n_complete }}</span></p></li>
                            <li>
                                <button id="grab_reports_button" role="button"
                                        class="btn btn-primary btn-sm navbar-btn"><span
                                        class="glyphicon glyphicon-download"></span> Get More Reports
                                </button>
                            </li>

                            <li>
                                <button type="button" class="btn btn-warning btn-sm navbar-btn" data-toggle="modal"
                                        data-target="#myModal" style="margin-left:5px"><span
                                        class="glyphicon glyphicon-filter"></span> Filter
                                </button>
                            </li>


                            <li>
                                <button id="save_button" type="submit" class="btn btn-success btn-sm navbar-btn"
                                        style="margin-left:5px"><span
                                        class="glyphicon glyphicon-floppy-disk"></span> {% trans "Save" %}
                                </button>
                            </li>

                        </ul>


                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown">{% trans "Reports per page" %}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    {% for n in tasks_per_page_choices %}
                                        <li><a href="{% url 'expert_report_annotation_tasks_per_page' n %}">{{ n }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>


                            <li><p class="navbar-text">Logged in as: {{ request.user.username }}</p></li>
                            <li><a href="{% url "auth_logout" %}">logout</a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block main_body %}


    <div class="container">

        <div class="starter-template">

            <h1>Expert Report Validation</h1>


            <div style="text-align: left">
                <h4> Instructions</h4>

                <p>For each report: (1) select a category for your degree of belief that the report contains at least
                    one photo showing an adult tiger mosquito, (2) select a category for your degree of belief that the
                    report contains at least one photo showing a tiger mosquito breeding site, (3) add any note you want
                    to see displayed on the public map along with the report (e.g. an edited version of the user's
                    original note), (4) indicate if the photo should be hidden from public view (this will automatically
                    remove it from the public map), and (5) add any internal notes you want. Click "Save" to save your
                    responses on the server.</p>

            </div>
        </div>

        {% if objects %}

            <form id="formset_forms" class="form-vertical" method="post">{% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Report: {{ form.instance.report.version_UUID }}</strong>,
                            Created: {{ form.instance.report.creation_time }} UTC, Tiger Certainty
                            Scores: {{ form.instance.report.get_n_expert_report_annotations_tiger_certainty }}, Site
                            Certainty
                            Scores: {{ form.instance.report.get_n_expert_report_annotations_site_certainty }}

                            <div style="display:none;" id='other_annotations_alert{{ form.instance.id }}'
                                 class='alert alert-info' role='alert'>
                                <a class="close" onclick="$('.alert').hide()">×</a>
                                {{ form.instance.get_others_annotation_html | safe }}
                            </div>

                            {% if form.instance.report.expert_report_annotations.count > 1 %}
                                <button type="button"
                                        onclick="$('#other_annotations_alert{{ form.instance.id }}').show();"
                                        class="btn btn-default btn-sm">Show Others' Annotations
                                </button>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <br>


                            {% form form using "floppyforms/layouts/bootstrap.html" %}

                        </div>

                        <div class="col-md-5">
                            <br>
                            <strong>Photos</strong> (scroll to see all; click to enlarge)<br>

                            <div style="overflow: auto;height: 814px;">

                                {{ form.instance.report.photo_html_for_report_validation | safe }}

                            </div>

                        </div>

                        <div class="col-md-4">
                            <br>
                            <strong>Location</strong>

                            <div id="map{{ form.instance.id }}" class="report_annotation_map-container"></div>
                            <br>
                            <strong>User Notes</strong><br>

                            <div style="overflow: auto;height: 270px;border:1px solid #333333;">
                                {{ form.instance.report.note }}
                            </div>
                        </div>

                    </div>

                    <br>
                    <div class="border-row">

                        <br>

                    </div>


                {% endfor %}

                <input id="scroll_position" type="text" name="scroll_position" style="display: none;" value="0">

            </form>

            <div class="row">

                <div class="col-md-12">

                    <div class="pagination">
        <span class="step-links">
            {% if objects.has_previous %}
                <a href="?page={{ objects.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ objects.number }} of {{ objects.paginator.num_pages }}
            </span>

            {% if objects.has_next %}

                <button id="next_page_button" class="btn btn-default btn-sm active" type="button">Next</button>
            {% endif %}

            <br>
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <input type="number" min="1" max="{{ objects.paginator.num_pages }}"
                               class="form-control input-sm" id="page_input" placeholder="Go to page"
                               style="width:100px;">
                        <button id="page_button" class="btn btn-default btn-sm active" type="button">Go</button>
                    </div>

                </form>

        </span>
                    </div>


                </div>
            </div>

        {% else %}
            <p>You do not yet have any reports in your stack. Click "Get more reports" to start validating.</p>
        {% endif %}

    </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Filters</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">

                        <div class="form-group">
                            <label for="orderby_select" class="col-sm-4 control-label">Order By:</label>

                            <div class="col-sm-8">
                                <select id="orderby_select" class="selectpicker show-tick form-control">
                                    <option value="date">Report Date</option>
                                    <option value="tiger_score">Tiger Certainty Score</option>
                                    <option value="site_score">Site Certainty Score</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tiger_certainty_select" class="col-sm-4 control-label">Tiger Certainty
                                Category:</label>

                            <div class="col-sm-8">
                                <select id="tiger_certainty_select" class="selectpicker show-tick form-control">
                                    <option value="all">{% trans 'All' %}</option>
                                    <option value="-2">Definitely not a tiger mosquito</option>
                                    <option value="-1">Probably not a tiger mosquito</option>
                                    <option value="0">Not sure</option>
                                    <option value="1">Probably a tiger mosquito</option>
                                    <option value="2">Definitely a tiger mosquito</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="site_certainty_select" class="col-sm-4 control-label">Site Certainty
                                Category:</label>

                            <div class="col-sm-8">
                                <select id="site_certainty_select" class="selectpicker show-tick form-control">
                                    <option value="all">{% trans 'All' %}</option>
                                    <option value="-2">Definitely not a breeding site</option>
                                    <option value="-1">Probably not a breeding site</option>
                                    <option value="0">Not sure</option>
                                    <option value="1">Probably a breeding site</option>
                                    <option value="2">Definitely a breeding site</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tiger_pending_select" class="col-sm-4 control-label">Status of Tiger
                                Annotations:</label>

                            <div class="col-sm-8">
                                <select id="tiger_pending_select" class="selectpicker show-tick form-control">
                                    <option value="all">{% trans 'All' %}</option>
                                    <option value="pending">Pending only</option>
                                    <option value="complete">Complete only</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="site_pending_select" class="col-sm-4 control-label">Status of Site
                                Annotations:</label>

                            <div class="col-sm-8">
                                <select id="site_pending_select" class="selectpicker show-tick form-control">
                                    <option value="all">{% trans 'All' %}</option>
                                    <option value="pending">Pending only</option>
                                    <option value="complete">Complete only</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="flagged_select" class="col-sm-4 control-label">Flagged By Me:</label>

                            <div class="col-sm-8">
                                <select id="flagged_select" class="selectpicker show-tick form-control">
                                    <option value="all">{% trans 'All' %}</option>
                                    <option value="flagged">Flagged only</option>
                                    <option value="unflagged">Unflagged only</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="flagged_others_select" class="col-sm-4 control-label">Flagged By Others:</label>

                            <div class="col-sm-8">
                                <select id="flagged_others_select" class="selectpicker show-tick form-control">
                                    <option value="all">{% trans 'All' %}</option>
                                    <option value="flagged">Flagged by someone</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="hidden_select" class="col-sm-4 control-label">Hidden By Me:</label>

                            <div class="col-sm-8">
                                <select id="hidden_select" class="selectpicker show-tick form-control">
                                    <option value="all">{% trans 'All' %}</option>
                                    <option value="hidden">Hidden only</option>
                                    <option value="unhidden">Not hidden only</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hidden_others_select" class="col-sm-4 control-label">Hidden By Others:</label>

                            <div class="col-sm-8">
                                <select id="hidden_others_select" class="selectpicker show-tick form-control">
                                    <option value="all">{% trans 'All' %}</option>
                                    <option value="hidden">Hidden by someone</option>
                                    <option value="unhidden">Not hidden by anyone</option>
                                </select>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="filters_submit_button" class="btn btn-warning">Apply</button>
                </div>
            </div>
        </div>
    </div>






{% endblock %}


{% block body_scripts %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src={% static "tigacrafting/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}></script>
    <script src={% static "tigacrafting/bootstrap-3.2.0-assets/js/docs.min.js" %}></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src={% static "tigacrafting/bootstrap-3.2.0-assets/js/ie10-viewport-bug-workaround.js" %}></script>

    <script src="{% static "tigacrafting/bootstrap-select/js/bootstrap-select.min.js" %}"></script>

    <script type="text/javascript">
        (function () {
            function loadmap() {

                {% for form in formset %}

                    var centerLat = {{ form.instance.report.lat }};
                    var centerLng = {{ form.instance.report.lon }};
                    var initialZoom = 6;
                    var djoptions = {"layers": [
                                ["OSM", "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                                    "\u00a9 <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"]
                            ],
                                "minimap": true, "scale": "metric", "center": [centerLat, centerLng], "tilesextent": [],
                                "attributionprefix": null, "zoom": initialZoom, "maxzoom": 18, "minzoom": 0, "extent": [
                                    [-90,
                                        -180],
                                    [90,
                                        180]
                                ], "resetview": true, "srid": null, "fitextent": true},
                            options = {djoptions: djoptions, initfunc: loadmap,
                                globals: false, callback: window.map_init_basic};

                    L.Map.djangoMap('map{{ form.instance.id }}', {djoptions: djoptions, initfunc: loadmap,
                        globals: false, callback: eval("window.map_init_basic{{ form.instance.id }}")});
                {% endfor %}

            }

            var loadevents = ["load"];
            if (loadevents.length === 0) loadmap();
            else if (window.addEventListener) for (var i = 0; i < loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
            else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);
        })();
    </script>



    <script>
        var scroll_position = parseInt({{ scroll_position }});
        if (scroll_position != null && !isNaN(scroll_position) && isFinite(scroll_position)) {
            $(window).scrollTop(scroll_position);
        }

        var grab_reports_button = $("#grab_reports_button");
        var n_pending = {{ n_pending }};
        function toggle_grab_reports_button() {
            if (n_pending < 20) {
                grab_reports_button.prop('disabled', false);
            } else {
                grab_reports_button.prop('disabled', true);
            }
        }

        $('input[id~="value_changed"]').hide();
        $('label[for~="value_changed"]').hide();

        var gear = $("#gear").hide();

        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip()

            $("select").selectpicker({
                width: 'auto'
            });

            $("#save_button").click(function () {
                gear.show();
                toggle_grab_reports_button();
                $("#formset_forms").submit();
            });


            var show_filters_button = $("#show_filters_button");

            var filters_div = $("#filters_div").position({
                my: "middle top",
                at: "middle bottom",
                of: "#navbar",
                collision: "fit"
            });


            show_filters_button.click(function () {
                if (filters_div.is(":visible")) {
                    filters_div.hide();
                } else {
                    filters_div.show();
                }
            });

            toggle_grab_reports_button();
        });

        var scroll_position_input = $("#scroll_position");

        $(window).scroll(function (event) {
            var scroll = $(window).scrollTop();
            scroll_position_input.val(scroll);
        });

        function query_selectors() {
            var qp = "?orderby=" + $("#orderby_select").val();
            qp += "&tiger_certainty=" + $("#tiger_certainty_select").val();
            qp += "&site_certainty=" + $("#site_certainty_select").val();
            qp += "&tiger_pending=" + $("#tiger_pending_select").val();
            qp += "&site_pending=" + $("#site_pending_select").val();
            qp += "&flagged=" + $("#flagged_select").val();
            qp += "&flagged_others=" + $("#flagged_others_select").val();
            qp += "&hidden=" + $("#hidden_select").val();
            qp += "&hidden_others=" + $("#hidden_others_select").val();
            return(qp);
        }

        $("#page_button").on('click', function () {
            var qp = query_selectors();
            qp += "&page=" + $("#page_input").val();
            window.location.href = qp;

        });

        var nb = $("#next_page_button");
        {% if objects.has_next %}
            nb.show().on('click', function () {
                gear.show();
                var qp = query_selectors();
                qp += "&page={{ objects.next_page_number }}";
                window.location.href = qp;
            });
        {% else %}
            nb.hide();
        {% endif %}

        $("#orderby_select").val("{{ orderby }}");
        $("#tiger_certainty_select").val("{{ tiger_certainty }}");
        $("#site_certainty_select").val("{{ site_certainty }}");
        $("#tiger_pending_select").val("{{ tiger_pending }}");
        $("#site_pending_select").val("{{ site_pending }}");
        $("#flagged_select").val("{{ flagged }}");
        $("#flagged_others_select").val("{{ flagged_others }}");
        $("#hidden_select").val("{{ hidden }}");
        $("#hidden_others_select").val("{{ hidden_others }}");

        $("#filters_submit_button").on('click', function () {
            gear.show();
            var qp = query_selectors();
            $('#myModal').modal('hide');
            window.location.href = qp;
        });


        grab_reports_button.on('click', function () {
            gear.show();
            var qp = query_selectors();
            qp += "&load_new_reports=T";
            window.location.href = qp;
        })


    </script>




{% endblock %}

</body>
</html>
