{% extends "tigacrafting/expert_report_status.html" %}
{% load staticfiles %}
{% load i18n %}


{% block leaflet_stuff %}
{% endblock %}


{% block map_head_js %}

{% endblock %}

{% block search_btn %}
{% endblock %}

{% block main_body %}

    <div class="container">

    <div class="starter-template">

            <h1>Expert Validation Status: People</h1>

        </div>

{% for group in groups %}
        <div class="row">
            <div class="col-md-12">
                <h2>{{ group.name | capfirst }}</h2>
            </div>
        </div>

    {% for user in group.user_set.all %}
        <div class="row">
            <div class="col-md-12">
                <h3>{{ user.username }}</h3>
             <p><a role="button" data-toggle="collapse" href="#current_status_collapse_pending{{ user.username }}"
               aria-expanded="false" aria-controls="current_status_collapse_pending{{ user.username }}"><i
                    class="fa fa-plus-square-o"></i></a> <strong>Pending Reports</strong></p>

            <div class="collapse" id="current_status_collapse_pending{{ user.username }}">
                <div class="well">
                    {% for ano in user.expert_report_annotations.all %}
                        {% if not ano.validation_complete %}
                    <p><a href="{% url 'expert_report_status' %}?version_uuid={{ ano.report.version_UUID }}">{{ ano.report_version_UUID }}</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        <p><a role="button" data-toggle="collapse" href="#current_status_collapse_complete{{ user.username }}"
               aria-expanded="false" aria-controls="current_status_collapse_complete{{ user.username }}"><i
                    class="fa fa-plus-square-o"></i></a> <strong>Complete Reports</strong></p>

            <div class="collapse" id="current_status_collapse_complete{{ user.username }}">
                <div class="well">
                    {% for ano in user.expert_report_annotations.all %}
                        {% if ano.validation_complete %}

                    <p>{{ ano.get_status_bootstrap | safe }} {% include "tigacrafting/score_label.html" with score=ano.get_score text=ano.get_category %} <a href="{% url 'expert_report_status' %}?version_uuid={{ ano.report.version_UUID }}">View</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


        </div>
        </div>

    {% endfor %}

    {% endfor %}



</div>


{% endblock %}

    {% block search_modal %}
        <!-- Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="searchModalLabel">Search</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-inline">

                            <div class="form-group">
                                <label for="version_uuid_select">Report ID:</label>

                                <select id="version_uuid_select" class="selectpicker show-tick form-control"
                                        data-live-search="true">
                                    <option value=""></option>
                                    {% for version_uuid in all_reports_version_uuids %}
                                        <option value="{{ version_uuid.values | first }}">{{ version_uuid.values | first }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="button" id="search_version_uuid_submit_button" class="btn btn-default">
                                Search
                            </button>

                        </form>


                    </div>
                    <div class="modal-footer">
                        {% if version_uuid != 'na' and version_uuid != '' or linked_id != 'na' and linked_id != '' %}
                            <a class="btn btn-primary" href="{% url 'expert_report_status' %}">Clear Search</a>
                        {% endif %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src={% static "tigacrafting/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src={% static "tigacrafting/bootstrap-3.2.0-assets/js/ie10-viewport-bug-workaround.js" %}></script>

    <script src="{% static "tigacrafting/bootstrap-select/js/bootstrap-select.min.js" %}"></script>

    <script type="text/javascript">

        {% block map_js %}

        (function () {
            function loadmap() {

                {% for report in reports %}

                    var centerLat = {{ report.lat }};
                    var centerLng = {{ report.lon }};
                    var initialZoom = 6;
                    var djoptions = {"layers": [
                                ["OSM", "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                                    "\u00a9 <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"]
                            ],
                                "minimap": true, "scale": "metric", "center": [centerLat, centerLng], "tilesextent": [],
                                "attributionprefix": null, "zoom": initialZoom, "maxzoom": 18, "minzoom": 0, "extent": [
                                    [-90,
                                        -180],
                                    [90,
                                        180]
                                ], "resetview": true, "srid": null, "fitextent": true},
                            options = {djoptions: djoptions, initfunc: loadmap,
                                globals: false, callback: window.map_init_basic};

                    L.Map.djangoMap('map{{ forloop.counter }}', {djoptions: djoptions, initfunc: loadmap,
                        globals: false, callback: eval("window.map_init_basic{{ forloop.counter }}")});
                {% endfor %}

            }

            var loadevents = ["load"];
            if (loadevents.length === 0) loadmap();
            else if (window.addEventListener) for (var i = 0; i < loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
            else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);
        })();

        {% endblock %}

        var gear = $("#gear").hide();

        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();

            $("select").selectpicker({
                width: 'auto'
            });

        });

    </script>


</body>
</html>
