{% load staticfiles %}
<!DOCTYPE html>
<html lang="{% block language %}'en'{% endblock %}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'tigacrafting/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'tigacrafting/font-awesome-4.2.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'tigacrafting/jquery-ui-1.12.1.custom/jquery-ui.min.css' %}">
    <script src="{% static 'tigacrafting/jquery/1.11.1/jquery.min.js' %}"></script>
    <script src="{% static 'tigacrafting/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'tigacrafting/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'tigacrafting/bootstrap-3.2.0-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tigacrafting/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
</head>
<body>
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div id="navbar" class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <span style="color:#ff9900; font-size: small">
                                MosquitoAlert Picture Validation
                            </span>
                        </div>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        {% if tasks_per_page_choices %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Reports per page<span class="caret"></span>
                                </a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                {% for n in tasks_per_page_choices %}
                                    <li>
                                        <a href="{% url 'picture_validation' %}?tasks_per_page={{ n }}&visibility={{ visibility }}&usr_note={{ usr_note }}&type={{ type }}">{{ n }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    <li><p class="navbar-text">{{ request.user.username }}</p></li>
                        <li><a href="{% url 'auth_logout' %}">logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>