{%extends 'tigacrafting/base.html' %}
{%load static%}
{% block content %}
<script src={% static "tigacrafting/notifications/notifications_datatable.js" %}></script>
<link rel="stylesheet" href={% static "stats/datatables.min.css" %}>
<script src={% static "stats/datatables.min.js" %}></script>

<div class="container">
    <h1 class="text-center">Sent notifications</h1>
    <table class="table table-striped table-bordered table-hover" id="notifications_table" style="width:100%;"></table>
</div>
<script>
    var _group_list_url = '{% url 'user_notifications_datatable' %}';
    console.log(_detail_base_url)
</script>
{%endblock%}