{% load static %}
<!DOCTYPE html>
<html lang="{% block language %}'en'{% endblock %}">
<head>
    <link rel="stylesheet" href="{% static 'tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'tigacrafting/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'tigacrafting/font-awesome-4.2.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'tigacrafting/tigacrafting_style.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'tigacrafting/jquery-ui-1.12.1.custom/jquery-ui.min.css' %}">
    <style>
        .grid-item { background-color: grey; height: 120px; width: 120px; float: left; margin-top: 5px;margin-bottom: 5px;}
        .grid-item-large { background-color: grey; height: 180px; width: 380px; float: left; margin-top: 5px;margin-bottom: 5px; overflow:auto; padding: 10px 10px 10px 10px;}

        .fastCheck {background-color: lightgray; margin-bottom: 10px; height: 40px;}
        .other_sp {background-color: lightgray; margin-bottom: 0px; height: 30px; text-align: right; padding-right: 10px;}
        .probably_culex {background-color: lightgray; margin-bottom: 0px; height: 30px; text-align: right; padding-right: 10px;}
        .sure_albopictus {background-color: lightgray; margin-bottom: 0px; height: 30px; text-align: right; padding-right: 10px;}
        .probably_albopictus {background-color: lightgray; margin-bottom: 0px; height: 30px; text-align: right; padding-right: 10px;}
        .not_sure {background-color: lightgray; margin-bottom: 0px; height: 30px; text-align: right; padding-right: 10px;}
        .ia_val {background-color: lightgray; margin-bottom: 0px; height: 30px; text-align: right; padding-right: 10px;}
        .ia_graph {background-color: lightgray; margin-bottom: 0px; height: 30px; text-align: right; padding-right: 10px;}

        .grid { /*border-style:solid; border-width: 1px;*/ background-color: lightgray; margin-top: 10px;}
        .frame {position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;}
        .p-small { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; color: #fff;}
        .site { background-color: #4169E1; }
        .site.storm_drain { background-color: #4169E1; }
        .site.other { background-color: #a7b9f1; }
        .adult { background-color: orange; }
        .fastUpload { position: absolute; left: 1025px; top: 154px; }
        .form-inline { display: inline; }
        .miniform { margin-left: 15px; margin-top: 5px;}
        li.miniform > span > span { color: white; }
        .mustfix { border-top-color: red; border-top-style: solid; border-top-width: 10px; }
        .fixids ul li { white-space:nowrap; }
        .collapse_ul { max-height: 100px; overflow: auto; }
    </style>
    <script src="{% static 'tigacrafting/jquery/1.11.1/jquery.min.js' %}"></script>
    <script src="{% static 'tigacrafting/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'tigacrafting/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'tigacrafting/bootstrap-3.2.0-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tigacrafting/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
    <script src="{% static 'tigacrafting/d3/d3.min.js' %}"></script>
    <script src="{% static 'tigacrafting/ia_graph.js' %}"></script>
</head>
<body>

<div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div id="navbar" class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <span style="color:#ff9900; font-size: small">
                                MosquitoAlert Picture Validation
                                <i id="gear" class="fa fa-refresh fa-spin"></i>
                            </span>

                        </div>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <span data-toggle="modal" data-target="#myModal"><button type="button" class="btn btn-warning btn-sm navbar-btn" data-toggle="tooltip" data-placement="bottom" title="Filter" style="margin-left:5px"><span class="glyphicon glyphicon-filter"></span></button></span>
                            </li>
                            <li>
                                <button id="save_button" type="submit" class="btn btn-success btn-sm navbar-btn"
                                        style="margin-left:5px" data-toggle="tooltip" data-placement="bottom"
                                        title="Save"><span
                                        class="glyphicon glyphicon-floppy-disk"></span>
                                </button>
                            </li>
                            {% if objects.has_next or objects.has_previous %}
                            <li class="miniform">
                                <span class="step-links">
                                    {% if objects.has_previous %}
                                        <button id="previous_page_button" class="btn btn-default btn-sm active" type="button">Previous</button>
                                    {% endif %}
                                    <span class="current">
                                        Page {{ objects.number }} of {{ objects.paginator.num_pages }}
                                    </span>
                                    {% if objects.has_next %}
                                        <button id="next_page_button" class="btn btn-default btn-sm active" type="button">Next</button>
                                    {% endif %}
                                    <form role="form" class="form-inline">
                                        <div class="form-group">
                                            <input type="number" min="1" max="{{ objects.paginator.num_pages }}"
                                           class="form-control input-sm" id="page_input" placeholder="Go to page"
                                           style="width:100px;">
                                            <button id="page_button" class="btn btn-default btn-sm active" type="button">Go</button>
                                        </div>
                                    </form>
                                </span>
                            </li>
                            {% endif %}
                        </ul>


                        <ul class="nav navbar-nav navbar-right">
                                {% if tasks_per_page_choices %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle"
                                       data-toggle="dropdown">Reports per page
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        {% for n in tasks_per_page_choices %}
                                            <li>
                                                {% if n|add:"0" == tasks_per_page|add:"0" %}
                                                    <a href="{% url 'picture_validation' %}?tasks_per_page={{ n }}&visibility={{ visibility }}&usr_note={{ usr_note }}&type={{ type }}&country={{ country }}&aithr={{ aithr }}"><span class="glyphicon glyphicon-check"></span>{{ n }}</a>
                                                {% else %}
                                                    <a href="{% url 'picture_validation' %}?tasks_per_page={{ n }}&visibility={{ visibility }}&usr_note={{ usr_note }}&type={{ type }}&country={{ country }}&aithr={{ aithr }}">{{ n }}</a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            <li><p class="navbar-text">{{ request.user.username }}</p></li>
                            <li><a href="{% url 'auth_logout' %}">logout</a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Filters</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="visibility_select" class="col-sm-4 control-label">Visibility:</label>
                            <div class="col-sm-8">
                                <select id="visibility_select" class="selectpicker show-tick form-control">
                                    <option value="visible">Show visible</option>
                                    <option value="hidden">Show hidden</option>
                                    <option value="all">Show All</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type_select" class="col-sm-4 control-label">Report type:</label>
                            <div class="col-sm-8">
                                <select id="type_select" class="selectpicker show-tick form-control">
                                    <option value="adult">Adults</option>
                                    <option value="site">Breeding sites - storm drains</option>
                                    <option value="site-o">Breeding sites - other</option>
                                    <option value="all">Show All</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country_select" class="col-sm-4 control-label">Country:</label>
                            <div class="col-sm-8">
                                <select id="country_select" class="selectpicker show-tick form-control">
                                    <option value="all">Show All</option>
                                    {% for country in countries %}
                                    <option value="{{ country.gid }}">{{ country.name_engl }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="slider" class="col-sm-4 control-label">Show only report adults with ia index less or equal than:</label>
                            <div class="col-sm-8">
                                <div id="slider"></div>
                                <div id="slider_value">0.75</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usernote_filter" class="col-sm-4 control-label">User note contains text:</label>
                            <div class="col-sm-8">
                                <input id="usernote_filter" type="text" maxlength="20" name="usernote_filter">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="{% url 'picture_validation' %}">Clear Filters</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="filters_submit_button" class="btn btn-warning">Apply</button>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="starter-template">
        <h1>Picture Filter</h1>
        <strong>Filters:</strong> Showing - {{ visibility }}, User note contains - '{{ usr_note | safe }}', Report type - {{ type_readable }}, Country - {{ country_readable }}, AI Threshold - <= {{ aithr }}
        <br><strong>Reports Matching Current Filter/Search Criteria:</strong> <span class="badge">{{ n_query_records }}</span>
        <div style="text-align: left">
            <h4>Instructions</h4>
            <p>This page is meant to be used as a tool to hide images that are obviously not mosquitos or breeding sites. You are looking at the currently unassigned reports; these
                reports will be passed on to the experts, unless you say otherwise.</p>
            <p>Take a look, and if you see anything that is very clearly not mosquito related, check the hide checkbox and save.
                The usual workflow should be as follows:
                <ul>
                    <li>Go to page 1</li>
                    <li>Take a look at the pictures. If you see clearly inappropiate/unrelated pics, check the "Hide" box</li>
                    <li>Hit the save button (the green disk button in the navigation bar) the reports that you checked will disappear from the list and won't be assigned to experts
                    for validation</li>
                    <li>Proceed to page 2</li>
                    <li>etc.</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="row">
        <div id="dialogConfirmUpPhoto" title="Warning">
            <p class="infoPopup">
                <span>The following reports have been marked as 'fast upload':</span><br>
                <span class="reportIDs"></span>
                <span>and will be published on the map this same day at around midnight. Are you sure you want to proceed?</span>
            </p>
        </div>
    </div>

    <form id="formset_forms" class="form-vertical" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        <div data-errorborder="{{ form.instance.version_UUID }}" class="grid {{form.instance.type}} {% if form.instance.site_cat == 0 %}storm_drain{% else %}other {% endif %}">
            {% for photo in form.instance.photos.all %}
                {% if forloop.first %}
                    <div class="grid-item-large valid {{form.instance.type}} {% if form.instance.site_cat == 0 %}storm_drain{% else %}other {% endif %}">
                        <p><a href="/single_simple/{{ form.instance.version_UUID }}" target="_blank"><span class="glyphicon glyphicon-link" style="color: white;"> {{ form.instance.country.name_engl }}</span></a></p>
                        <p class="hide_check p-small" data-id="{{ form.instance.version_UUID }}"><span class="label label-info">Hide this report</span>{{ form.hide }}</p>
                        <p class="p-small"><span class="label label-success">Report id </span> {{ form.instance.version_UUID }}</p>
                        <p class="p-small"><span class="label label-success">Date </span> {{ form.instance.creation_time }}</p>
                        <p class="p-small"><span class="label label-success">User Notes </span> {{ form.instance.note }}</p>
                        {% if form.instance.type == 'site' %}
                            {% if form.instance.site_cat == 0 %}
                                <p class="p-medium"><span class="label label-warning">This is a storm drain</span></p>
                            {% else %}
                                <p class="p-medium"><span class="label label-warning">This is an 'others' site</span></p>
                            {% endif %}
                        {% endif %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if photo.hide == False %}
                    <div class="grid-item valid" style="width: 190px; height: 190px; overflow: hidden;">
                        <a class="preview" href="{{ photo.photo.url }}" target="_blank">
                            <img class="frame" src="{{ photo.get_small_url }}" style="width: 100%; height: 100%; object-fit: cover;">
                        </a>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        <div class="reportID" style="display:none;">{{ form.instance.version_UUID }}</div>
        {% if form.instance.type == 'site' and form.instance.hide == False %}
            <div data-id="{{ form.instance.version_UUID }}" class="fastCheck {{form.instance.type}} {% if form.instance.site_cat == 0 %}storm_drain{% else %}other {% endif %}" style="">
                <label>Fast Upload</label>
                {{ form.fastUpload }}
            </div>
        {% elif form.instance.type == 'adult' and form.instance.hide == False %}
            <div data-id="{{ form.instance.version_UUID }}" class="other_sp {{form.instance.type}}" style="">
                <label>Other species</label>
                {{ form.other_species }}
            </div>
            <div data-id="{{ form.instance.version_UUID }}" class="probably_culex {{form.instance.type}}" style="">
                <label>Probably culex</label>
                {{ form.probably_culex }}
            </div>
            <div data-id="{{ form.instance.version_UUID }}" class="probably_albopictus {{form.instance.type}}" style="">
                <label>Probably albopictus</label>
                {{ form.probably_albopictus }}
            </div>
            <div data-id="{{ form.instance.version_UUID }}" class="sure_albopictus {{form.instance.type}}" style="">
                <label>Definitely albopictus</label>
                {{ form.sure_albopictus }}
            </div>
            <div data-id="{{ form.instance.version_UUID }}" class="not_sure {{form.instance.type}}" style="">
                <label>Not sure</label>
                {{ form.not_sure }}
            </div>
            <div data-id="{{ form.instance.version_UUID }}" class="ia_val {{form.instance.type}}" style="">
                <label style="color:white;"><b>IA Value: {{ form.instance.prediction.photo_prediction.insect_confidence|floatformat:4 }}</b></label>
            </div>
            <div id="ia{{ form.instance.version_UUID }}" data-ia-value="{{ form.instance.prediction.photo_prediction.insect_confidence }}" data-id="{{ form.instance.version_UUID }}" class="ia_graph {{form.instance.type}}" style="">
            </div>
        {% endif %}


    {% endfor %}
        <input id="save_formset" type="text" name="save_formset" style="display: none;" value="F">
        <input id="next_page_input" type="text" name="page" style="display: none;" value="">
        <input id="tasks_per_page_input" type="text" name="tasks_per_page" style="display: none;" value="{{ tasks_per_page }}">
        <input id="visibility_input" type="text" name="visibility" style="display: none;" value="{{ visibility }}">
        <input id="usr_note_input" type="text" name="usr_note" style="display: none;" value="{{ usr_note }}">
        <input id="type_input" type="text" name="type" style="display: none;" value="{{ type }}">
        <input id="country_input" type="text" name="country" style="display: none;" value="{{ country }}">
        <input id="aithr" type="text" name="aithr" style="display: none;" value="{{ aithr }}">
    </form>

</div>

<script src="{% static 'tigacrafting/javascript/fastSavingButton.js' %}?v=4"></script>
<script src="{% static 'tigacrafting/javascript/hover-preview.min.js' %}?v=1"></script>
</body>
<script>
        var current_page = '{{ objects.number }}';
        function background_save(qp) {
            if ($("#formset_forms").length > 0) {
                $("#formset_forms").submit();
            } else {
                window.location.href = qp;
            }
        }
</script>
<script>
        $(window).load(function(){
            var grid = $('.grid').isotope({
              masonry: {
                columnWidth: 130
              }
            });

            $("#gear").hide();


            function go_to_page(){
                var qp = query_selectors();
                var selected_page = $("#page_input").val();
                qp += selected_page;
                $("#next_page_input").val(selected_page);
                $("#formset_forms").submit();
            }

            $("#page_button").on('click', function () {
                go_to_page();
            });

            $('#page_input').bind("enterKey",function(e){
                go_to_page();
            });

            $('#page_input').keyup(function(e){
                if(e.keyCode == 13)
                {
                    $(this).trigger("enterKey");
                }
            });

            var nb = $("#next_page_button");
            {% if objects.has_next %}
                nb.show().on('click', function () {
                    var next_page = "{{ objects.next_page_number }}";
                    var qp = query_selectors();
                    qp += 'page=' + next_page;
                    $("#next_page_input").val(next_page);
                    $("#formset_forms").submit();
                });
            {% else %}
                nb.hide();
            {% endif %}






        });

            var pb = $("#previous_page_button");
            {% if objects.has_previous %}
                pb.show().on('click', function () {
                    var previous_page = "{{ objects.previous_page_number }}";
                    var qp = query_selectors();
                    qp += '&page=' + previous_page;
                    $("#next_page_input").val(previous_page);
                    $("#formset_forms").submit();
                });
            {% else %}
                pb.hide();
            {% endif %}

            function query_selectors() {
                var this_country = $("#country_select").val();
                var this_visibility = $("#visibility_select").val();
                var this_usr_note = $("#usernote_filter").val();
                var this_type = $("#type_select").val();
                var this_aithr = $('#slider').slider('value')
                $("#visibility_input").val(this_visibility);
                $("#usr_note_input").val(this_usr_note);
                $("#type_input").val(this_type);
                $("#country_input").val(this_country);
                $("#aithr").val(this_aithr);
                var qp = '?visibility=' + this_visibility + '&usr_note=' + this_usr_note + '&type=' + this_type + '&country=' + this_country + '&aithr=' + this_aithr;
                return(qp)
            }

            function submit_queries() {
                $("#gear").show();
                var qp = query_selectors();
                background_save(qp);
            }

            $("#filters_submit_button").on('click', submit_queries);

            $("#visibility_select").val("{{ visibility }}");
            $("#usernote_filter").val("{{ usr_note }}");
            $("#type_select").val("{{ type }}");
            $("#country_select").val("{{ country }}");

            $( "#slider" ).slider({
                min: 0,
                max: 1.05,
                step: 0.05,
                slide: function( event, ui ) {
                    $( "#slider_value" ).html( ui.value );
                }
            });
            $( "#slider" ).slider("value", {{ aithr }});
            $( "#slider_value" ).html( {{ aithr }} );

</script>

</html>