{% load staticfiles %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html lang={% block language %}"en"{% endblock %}>
<head>

    {% block encoding %}<meta charset="utf-8">{% endblock  %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta name="description" content="Processing...">
    <meta name="author" content="Movement Ecology Laboratory">

    <title>{% block page_title %}Tigacrafting{% endblock %}</title>

    {% block bootstrap_css %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
    {% endblock %}

    {% block fa_css %}
        <!-- FA CSS -->
        <link rel="stylesheet" href={% static "tigacrafting/font-awesome-4.2.0/css/font-awesome.min.css" %}>
    {% endblock %}


{% block fallback_bs_js %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}


        <link rel="stylesheet" href={% static "tigacrafting/tigacrafting_style.css" %}>

</head>

<body>

{% block main_body %}
    <div class="container theme-showcase" role="main">

            <div class="page-header">

            <h1>Loading data <small>please wait</small></h1>


        </div>


        <div id="progress_spinner" class="row text-center">
            <br><br>
                  <i class="fa fa-refresh fa-5x fa-spin"></i>
    </div>
</div>
{% endblock %}



</body>
</html>


