{% load staticfiles %}
{% load tigacrafting_filter %}
{% load i18n %}
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Blocked reports</title>

    <link rel="stylesheet" href="{% static 'tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'tigacrafting/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'tigacrafting/toastr/toastr.min.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <style>
        .container-custom{
            margin: 20px 0 0 0;
        }
        .solid-border{
            border-style: solid;
            border-width: 0px 0px 1px 0px;
            padding: 5px 5px 5px 5px;
            margin: 5px 5px 5px 5px;
        }
    </style>
    <script src="{% static 'tigacrafting/macro_messages.js' %}"></script>
  </head>
<body>
  <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div id="navbar" class="container">
                    <div class="navbar-brand">
                        <span style="color:#ff9900; font-size: small">Blocked reports</span>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'expert_report_annotation' %} ">Back to Entolab</a></li>
                            <li><p class="navbar-text">{{ request.user.username }}</p></li>
                            <li><a href="{% url 'auth_logout' %}">logout</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div style="margin-top:60px"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h3>Reports caught in expert report queue for more than {{ lock_period }} days</h3>
          </div>
      </div>
      <hr>
      {% if data %}
      <button type="button" class="btn btn-danger delete-all">Unblock ALL reports for ALL users <span class="glyphicon glyphicon-remove"></span></button>
      <hr>
      <div class="row">
          {% for key in data %}
            <div class="col-md-6">
                <div id="{{ key }}" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title"><button type="button" title="Unblock all reports for this user" data-user="{{ key }}" class="btn btn-warning delete-user"><span class="glyphicon glyphicon-remove"></span></button> <b>{{ key }}</b></div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                        {% for annotation in data|get_value:key %}
                            <li class="list-group-item">
                                <button class="btn btn-info delete-report" title="Unblock this single report" data-report-id="{{ annotation.annotation.report.version_UUID }}" data-user="{{ key }}" type="button"><span class="glyphicon glyphicon-remove"></span></button> <b>Report</b> <a target="_blank" href="/experts/status/reports/?version_uuid={{ annotation.annotation.report.version_UUID }}"><span class="label label-default">{{ annotation.annotation.report.version_UUID }}</span></a> <b>Days</b> <span class="label label-default">{{ annotation.days }}</span>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
          {% endfor %}
      </div>
      {% else %}
        <h4>There are no currently blocked reports</h4>
      {% endif %}
  </div>
  </body>
    <script>
        var csrf_token = '{{ csrf_token }}';
    </script>
    <script src="{% static 'tigacrafting/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'tigacrafting/csrf_utils.js' %}"></script>
    <script src="{% static 'tigacrafting/unblock_reports.js' %}"></script>
</html>