{% extends "tigacrafting/expert_report_annotation.html" %}
{% load static %}
{% load i18n %}


{% block navbar_right_items %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Monitor <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu" style="width: 280px">
        <li><a href="{% url 'expert_report_status' %}">Reports</a></li>
        <li><a href="{% url 'expert_status' %}">People</a></li>
        <li>
            <a href="{% url 'global_assignments' %}">Global Report Assignment</a>
        </li>
        <li>
            <a href="{% url 'workload_stats' %}">Workload Stats</a>
        </li>
        {% for t in country_name %}
            <li>
                <a href="/stats/workload/{{ t.iso3_code }}/">Workload stats {{ t.name_engl }}</a>
            </li>
        {% endfor %}

    </ul>
</li>
{% endblock %}