{% extends "tigacrafting/expert_report_annotation.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Tigatrapp Superexpert Validation
{% endblock %}

{% block navbar_left_items %}
    <li>
        <div class="btn-group" id="type_grp" data-toggle="buttons" style="margin-right:5px;">
            <label class="btn btn-primary btn-sm navbar-btn" id="public_btn">
                <input type="radio" name="options" autocomplete="off"> Public <span
                    class="badge">{{ n_public }}</span></label>
            <label class="btn btn-primary btn-sm navbar-btn" id="flagged_btn">
                <input type="radio" name="options" autocomplete="off"> Flagged <span
                    class="badge">{{ n_flagged }}</span>
            </label>
            <label class="btn btn-primary btn-sm navbar-btn" id="hidden_btn">
                <input type="radio" name="options" autocomplete="off"> Hidden <span
                    class="badge">{{ n_hidden }}</span>
            </label>
        </div>
    </li>


{% endblock %}

{% block grab_reports_button %}
{% endblock %}



{% block filter_modal %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Filters</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">

                        <div class="form-group">
                            <label for="orderby_select" class="col-sm-4 control-label">Order By:</label>

                            <div class="col-sm-8">
                                <select id="orderby_select" class="selectpicker show-tick form-control">
                                    <option value="date">Report Date</option>
                                    <option value="tiger_score">Tiger Certainty Score</option>
                                    <option value="site_score">Site Certainty Score</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tiger_certainty_select" class="col-sm-4 control-label">Tiger Certainty
                                Category:</label>

                            <div class="col-sm-8">
                                <select id="tiger_certainty_select" class="selectpicker show-tick form-control">
                                    <option value="all">{% trans 'All' %}</option>
                                    <option value="-2">Definitely not a tiger mosquito</option>
                                    <option value="-1">Probably not a tiger mosquito</option>
                                    <option value="0">Not sure</option>
                                    <option value="1">Probably a tiger mosquito</option>
                                    <option value="2">Definitely a tiger mosquito</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="site_certainty_select" class="col-sm-4 control-label">Site Certainty
                                Category:</label>

                            <div class="col-sm-8">
                                <select id="site_certainty_select" class="selectpicker show-tick form-control">
                                    <option value="all">{% trans 'All' %}</option>
                                    <option value="-2">Definitely not a breeding site</option>
                                    <option value="-1">Probably not a breeding site</option>
                                    <option value="0">Not sure</option>
                                    <option value="1">Probably a breeding site</option>
                                    <option value="2">Definitely a breeding site</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="flagged_select" class="col-sm-4 control-label">Flagged By Me:</label>

                            <div class="col-sm-8">
                                <select id="flagged_select" class="selectpicker show-tick form-control">
                                    <option value="all">{% trans 'All' %}</option>
                                    <option value="flagged">Flagged only</option>
                                    <option value="unflagged">Unflagged only</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="hidden_select" class="col-sm-4 control-label">Hidden By Me:</label>

                            <div class="col-sm-8">
                                <select id="hidden_select" class="selectpicker show-tick form-control">
                                    <option value="all">{% trans 'All' %}</option>
                                    <option value="hidden">Hidden only</option>
                                    <option value="unhidden">Not hidden only</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="filters_submit_button" class="btn btn-warning">Apply</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



{% block filterjs %}
    <script>

        var public_btn = $("#public_btn"), flagged_btn = $("#flagged_btn"), hidden_btn = $("#hidden_btn");


        function query_selectors() {
            var qp = "?orderby=" + $("#orderby_select").val();
            qp += "&tiger_certainty=" + $("#tiger_certainty_select").val();
            qp += "&site_certainty=" + $("#site_certainty_select").val();
            qp += "&flagged=" + $("#flagged_select").val();
            qp += "&hidden=" + $("#hidden_select").val();

            return(qp);
        }


        $("#orderby_select").val("{{ orderby }}");
        $("#tiger_certainty_select").val("{{ tiger_certainty }}");
        $("#site_certainty_select").val("{{ site_certainty }}");
        $("#flagged_select").val("{{ flagged }}");
        $("#hidden_select").val("{{ hidden }}");

        if ("{{ public }}" == "public") {
            public_btn.addClass("active");
        }
        else if ("{{ flagged_others }}" == "flagged") {
            flagged_btn.addClass("active");
        }
        else if ("{{ hidden_others }}" == "hidden") {
            hidden_btn.addClass("active");
        }


        function submit_queries() {
            gear.show();
            var qp = query_selectors();
            $('#myModal').modal('hide');
            window.location.href = qp;
        }

        function submit_queries_plus(event) {
            gear.show();
            var qp = query_selectors();
            qp += event.data.extr;
            window.location.href = qp;
        }

        public_btn.on('click', {extr: '&public=public'}, submit_queries_plus);
        flagged_btn.on('click', { extr: '&flagged_others=flagged'}, submit_queries_plus);
        hidden_btn.on('click', {extr: '&hidden_others=hidden'}, submit_queries_plus);


    </script>

{% endblock %}
