{% extends "tigacrafting/expert_report_annotation.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    <h1>Superexpert Validation</h1>
    <h2>{% if edit_mode == 'edit' %}<span style="color:red;">Edit Mode</span>{% elif version_uuid != 'na' and version_uuid != '' or linked_id != 'na' and linked_id != '' or tags_filter != 'na' and tags_filter != '' %}Search Result{% else %}{{ final_status | capfirst }} {% if checked == 'unchecked' %}Unchecked Reports{% elif checked == 'confirmed' %}
        Confirmed
        Reports{% elif checked == 'revised' %}Revised Reports{% endif %}{% endif %}</h2>

    {% if version_uuid != 'na' and version_uuid != '' or linked_id != 'na' and linked_id != '' or tags_filter != 'na' and tags_filter != '' %}{% else %}
    <strong>Ordered by:</strong> {{ orderby }}<br>
    <strong>Filters:</strong> Species classification - {{ tiger_certainty_label }}, Status - {{ status }}
    {% endif %}
{% endblock %}

{% block instructions %}
    <p>Each of the reports displayed here has been validated by 3 experts. You may now review these reports and confirm
        them as is or mark them for revision and make changes using the same form that the experts used</p>
{% endblock %}

{% block no_records_message %}
    {% if n_unchecked == 0 and n_confirmed == 0 and n_revised == 0 %}
        There are not yet any reports that have been validated by 3 experts. Please refresh this page later, once more
        expert validations have been completed.
    {% else %}
        There are no reports that match your search criteria.
    {% endif %}
{% endblock %}

{% block navbar_left_items %}
    <li>
        <div class="btn-group" id="location_grp" data-toggle="buttons" style="margin-right:5px;">
            <label class="btn btn-danger btn-sm navbar-btn active" data-toggle="tooltip" data-placement="bottom" title="Entolab-All" id="ento-all">
                <input type="radio" name="loc_all" autocomplete="off">
                <span>ALL</span>
                <span class="badge">{{ n_loc_all }}</span>
            </label>
            <label class="btn btn-danger btn-sm navbar-btn" data-toggle="tooltip" data-placement="bottom" title="Entolab-Spain" id="ento-es">
                <input type="radio" name="loc_spain" autocomplete="off">
                <span>ES</span>
                <span class="badge">{{ n_loc_spain }}</span>
            </label>
            <label class="btn btn-danger btn-sm navbar-btn" data-toggle="tooltip" data-placement="bottom" title="Entolab-Europe" id="ento-eu">
                <input type="radio" name="loc_europe" autocomplete="off">
                    <span>EU</span>
                    <span class="badge">{{ n_loc_europe }}</span>
            </label>
        </div>
    </li>

    <li>
        <div class="btn-group" id="type_grp" data-toggle="buttons" style="margin-right:5px;">
            <label class="btn btn-info btn-sm navbar-btn" data-toggle="tooltip" data-placement="bottom" title="Public"
                   id="public_btn">
                <input type="radio" name="options" autocomplete="off"><span class="glyphicon glyphicon-eye-open"></span> <span
                    class="badge">{{ n_public }}</span></label>
            <label class="btn btn-info btn-sm navbar-btn" data-toggle="tooltip" data-placement="bottom" title="Flagged"
                   id="flagged_btn">
                <input type="radio" name="options" autocomplete="off"><span
                    class="glyphicon glyphicon-flag"></span> <span
                    class="badge">{{ n_flagged }}</span>
            </label>
            <label class="btn btn-info btn-sm navbar-btn" data-toggle="tooltip" data-placement="bottom" title="Hidden"
                   id="hidden_btn">
                <input type="radio" name="options" autocomplete="off"><span
                    class="glyphicon glyphicon-eye-close"></span> <span
                    class="badge">{{ n_hidden }}</span>
            </label>
        </div>
    </li>

    <li>

        <div class="btn-group" id="status_grp" data-toggle="buttons" style="margin-right:5px;">
            <label class="btn btn-primary btn-sm navbar-btn" data-toggle="tooltip" data-placement="bottom"
                   title="Unchecked" id="unchecked_btn">
                <input type="radio" name="pending" autocomplete="off"><span class="glyphicon glyphicon-time"
                                                                            {% if n_unchecked > 0 %}style="color:#FF8576"{% endif %}></span>
                <span class="badge">{{ n_unchecked }}</span></label>
            <label class="btn btn-primary btn-sm navbar-btn" data-toggle="tooltip" data-placement="bottom"
                   title="Checked and confirmed" id="confirmed_btn">
                <input type="radio" name="pending" autocomplete="off"><span
                    class="glyphicon glyphicon-thumbs-up"></span> <span
                    class="badge">{{ n_confirmed }}</span>
            </label>
            <label class="btn btn-primary btn-sm navbar-btn" data-toggle="tooltip" data-placement="bottom"
                   title="Checked and revised" id="revised_btn">
                <input type="radio" name="pending" autocomplete="off"><span
                    class="glyphicon glyphicon-thumbs-down"></span> <span
                    class="badge">{{ n_revised }}</span>
            </label>
        </div>
    </li>


{% endblock %}

{% block navbar_right_items %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Monitor <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu" style="width: 280px">
        <li><a href="{% url 'expert_report_status' %}">Reports</a></li>
        <li><a href="{% url 'expert_status' %}">People</a></li>
        <li>
            <a href="{% url 'global_assignments' %}">Global Report Assignment</a>
        </li>
        <li>
            <a href="{% url 'workload_stats' %}">Workload Stats</a>
        </li>

        {% for t in country_name %}
            <li>
                <a href="/stats/workload/{{ t.iso3_code }}/">Workload stats {{ t.name_engl }}</a>
            </li>
        {% endfor %}

    </ul>
</li>
{% endblock %}

{% block grab_reports_button %}
{% endblock %}

{% block report_title_status_row %}
    <div class="row">
        <div class="col-md-6">
            <a role="button" data-toggle="collapse" href="#current_status_collapse{{ form.instance.id }}"
               aria-expanded="false" aria-controls="current_status_collapse{{ form.instance.id }}"><i class="fa fa-plus-square-o"></i></a>
            {{ form.instance.report.get_final_expert_status_bootstrap | safe }}
            <!--<strong>Current Status <i>Albopictus</i>:</strong>  {% include "tigacrafting/score_label.html" with score=form.instance.report.get_final_expert_score text=form.instance.report.get_final_expert_category %}
            <strong>Current Status <i>Aegypti</i>:</strong> {% include "tigacrafting/score_label.html" with score=form.instance.report.get_final_expert_score_aegypti text=form.instance.report.get_final_expert_category_aegypti %}-->
            <!-- %EURO_SWITCH% -->
            <strong>Current Status:</strong> {% include "tigacrafting/score_label_euro.html" with text=form.instance.report.get_final_combined_expert_category_euro color=form.instance.report.get_html_color_for_label %}
            <!-- <strong>Current Status:</strong> {% include "tigacrafting/score_label.html" with score=form.instance.report.get_final_combined_expert_score text=form.instance.report.get_final_combined_expert_category %} -->
            <!--<strong>Current Status:</strong>  {% include "tigacrafting/score_label.html" with score=form.instance.report.get_final_expert_score text=form.instance.report.get_final_expert_category %}-->

            <div class="collapse" id="current_status_collapse{{ form.instance.id }}">
                <div class="well">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>
                                    Photo
                                </th>
                                <th>
                                    Public Note (webmap)
                                </th>
                                <th>
                                    Note to User
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    {{ form.instance.report.get_final_photo_html.popup_image | safe }}
                                </td>
                                <td>
                                    {% if form.instance.report.get_final_public_note %}
                                    {{ form.instance.report.get_final_public_note | safe }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ form.instance.report.get_final_note_to_user_html | safe }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <strong>Tags </strong> {{ form.instance.report.get_tags_bootstrap | safe }}
        </div>
    </div>
{% endblock %}


{% block view_others_annotations %}
    <strong>Individual Expert Responses</strong><br>
    <div class="table-responsive">
        <table class="table table-condensed borderless" style="font-size: smaller;">
            <thead>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            {% for ano in form.instance.report.expert_report_annotations.all %}
                {% if ano.validation_complete %}
                    {% if ano.is_expert or ano.is_superexpert and ano.revise %}

                        <tr>
                            <td><a role="button" data-toggle="collapse"
                                   href="#expert_collapse{{ ano.report.version_UUID }}{{ ano.id }}"
                                   aria-expanded="false"
                                   aria-controls="expert_collapse' + ano.report.version_UUID + str(ano.id) + '"><i
                                    class="fa fa-plus-square-o"></i></a> {{ ano.user.username }}
                            </td>
                            <!-- %EURO_SWITCH% -->
                            <!--<td>{{ ano.get_status_bootstrap | safe }} {% include "tigacrafting/score_label.html" with score=ano.get_score text=ano.get_category %}</td>-->
                            <td>{{ ano.get_status_bootstrap | safe }} {% include "tigacrafting/score_label_euro.html" with text=ano.get_category_euro color=ano.get_html_color_for_label %}</td>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse"
                                     id="expert_collapse{{ ano.report.version_UUID }}{{ ano.id }}"
                                     style="border: 1px solid #333;padding:2px;">
                                    {{ ano.last_modified|date:"d/m/y H:i" }} UTC<br>
                                    {% if form.instance.report.type == 'adult' %}
                                        <strong>Internal cmts:</strong> {{ ano.tiger_certainty_notes }}<br>
                                    {% elif form.instance.report.type == 'site' %}
                                        <strong>Internal cmts:</strong> {{ ano.site_certainty_notes }}
                                        <br>
                                    {% endif %}
                                    <strong>Public Note (webmap):</strong> {{ ano.edited_user_notes }}<br>
                                    <strong>Private Message To User (app):</strong> {{ ano.message_for_user }}<br>
                                    <strong>Linked ID:</strong> {{ ano.linked_id }}<br>
                                    <strong>Photo:</strong> {% if ano.best_photo %}
                                    {{ ano.best_photo.popup_image | safe }}{% endif %}
                                </div>
                            </td>
                        </tr>

                    {% endif %}

                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>



{% endblock %}


{% block filterjs %}
    <script>


        $("#orderby_select").val("{{ orderby }}");
        $("#tiger_certainty_select").val("{{ tiger_certainty }}");
        $("#site_certainty_select").val("{{ site_certainty }}");
        $("#status_select").val("{{ status }}");

        var public_btn = $("#public_btn"), flagged_btn = $("#flagged_btn"), hidden_btn = $("#hidden_btn");

        var final_status = "{{ final_status }}";

        var unchecked_btn = $("#unchecked_btn"), confirmed_btn = $("#confirmed_btn"), revised_btn = $("#revised_btn");

        var checked = "{{ checked }}";

        var loc_all_btn = $("#ento-all"), loc_spain_btn = $("#ento-es"), loc_europe_btn = $("#ento-eu");

        var loc = "{{ loc }}";

        function clear_btns() {
            public_btn.removeClass("active");
            flagged_btn.removeClass("active");
            hidden_btn.removeClass("active");
            unchecked_btn.removeClass("active");
            revised_btn.removeClass("active");
            confirmed_btn.removeClass("active");
            loc_all_btn.removeClass("active");
            loc_spain_btn.removeClass("active");
            loc_europe_btn.removeClass("active");
        }

        function activate_btns() {
            clear_btns();
            final_status == "public" ? public_btn.addClass("active") : (final_status == "flagged" ? flagged_btn.addClass("active") : (final_status == "hidden" ? hidden_btn.addClass("active") : {}) );
            checked == "revised" ? revised_btn.addClass("active") : (checked == "confirmed" ? confirmed_btn.addClass("active") : (checked == "unchecked" ? unchecked_btn.addClass("active") : {} ));
            loc == "spain" ? loc_spain_btn.addClass("active") : ( loc == "europe" ? loc_europe_btn.addClass("active") : ( loc == "na" ? loc_all_btn.addClass("active") : {} ));

        }

        activate_btns();


        function query_selectors() {
            var this_orderby = $("#orderby_select").val();
            var this_tiger_certainty = $("#tiger_certainty_select").val();
            var this_site_certainty = $("#site_certainty_select").val();
            var this_status = $("#status_select").val();
            var filter_tags = $("#tags_filter").tagit("assignedTags");
            var str_tags = '';
            if(filter_tags){
                str_tags = filter_tags.join(",");
            }
            $("#orderby_input").val(this_orderby);
            $("#tiger_certainty_input").val(this_tiger_certainty);
            $("#site_certainty_input").val(this_site_certainty);
            $("#status_input").val(this_status);
            $("#pending_input").val(pending);
            $("#tags_filter_input").val(str_tags);
            var qp = '?orderby=' + this_orderby;
            qp += '&tiger_certainty=' + this_tiger_certainty;
            qp += '&site_certainty=' + this_site_certainty;
            qp += '&tags_filter=' + str_tags;
            qp += '&status=' + this_status;
            qp += '&pending=' + pending;

            if (flagged_btn.hasClass("active")) {
                $("#final_status_input").val("flagged");
                qp += '&final_status=' + 'flagged';
            } else if (hidden_btn.hasClass("active")) {
                $("#final_status_input").val("hidden");
                qp += '&final_status=' + 'hidden';
            } else {
                $("#final_status_input").val("public");
                qp += '&final_status=' + 'public';
            }

            if (revised_btn.hasClass("active")) {
                $("#checked_input").val("revised");
                qp += '&checked=' + 'revised';
            } else if (confirmed_btn.hasClass("active")) {
                $("#checked_input").val("confirmed");
                qp += '&checked=' + 'confirmed';
            } else {
                $("#checked_input").val("unchecked");
                qp += '&checked=' + 'unchecked';
            }

            if( loc_spain_btn.hasClass("active") ){
                $("#loc_input").val("spain");
                qp += '&loc=spain';
            } else if ( loc_europe_btn.hasClass("active") ){
                $("#loc_input").val("europe");
                qp += '&loc=europe';
            } else {
                $("#loc_input").val("na");
                qp += '&loc=na';
            }

            return(qp);
        }


        function submit_queries() {
            gear.show();
            var qp = query_selectors();
            background_save(qp);
        }

        function submit_queries_final_status(event) {
            gear.show();
            final_status = event.data.extr;
            activate_btns();
            var qp = query_selectors();
            background_save(qp);
        }

        function submit_queries_checked(event) {
            gear.show();
            checked = event.data.extr;
            activate_btns();
            var qp = query_selectors();
            background_save(qp);
        }

        function submit_queries_loc(event) {
            gear.show();
            loc = event.data.extr;
            activate_btns();
            var qp = query_selectors();
            background_save(qp);
        }

        public_btn.on('click', {extr: 'public'}, submit_queries_final_status);
        flagged_btn.on('click', { extr: 'flagged'}, submit_queries_final_status);
        hidden_btn.on('click', {extr: 'hidden'}, submit_queries_final_status);

        unchecked_btn.on('click', {extr: 'unchecked'}, submit_queries_checked);
        confirmed_btn.on('click', { extr: 'confirmed'}, submit_queries_checked);
        revised_btn.on('click', { extr: 'revised'}, submit_queries_checked);

        loc_all_btn.on('click', {extr: 'na'}, submit_queries_loc);
        loc_spain_btn.on('click', {extr: 'spain'}, submit_queries_loc);
        loc_europe_btn.on('click', {extr: 'europe'}, submit_queries_loc);

        var country_name = "{{ country_name | safe }}";

    </script>

{% endblock %}
