<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>¡Tu foto ha sido validada!</title>
</head>
<body>
    {% if picture_link %}
    <h1>¡Tu foto ha sido validada por un experto!</h1>
    <img src="{{ picture_link }}" width=100%>
    {% endif %}
    {% if map_link %}
    <p><a href="{{ map_link }}" target="_blank">Enlace al mapa</a></p>
    {% endif %}
    {% if validation_category %}
    <p><strong>Según los expertos, tu observación corresponde a:</strong> {{ validation_category }}</p>
    {% endif %}
    {% if expert_note %}
    <p><strong>Nota del experto:</strong> <i>{{ expert_note }}</i></p>
    {% endif %}
    {% if message_for_user %}
    <p><strong>Mensaje del experto:</strong> <i>{{ message_for_user }}</i></p>
    {% endif %}
</body>
</html>