{% extends "tigacrafting/validation_message_template.html" %}

{% block title_block %}
    <title>&Eta; &phi;&omega;&tau;&omicron;&gamma;&rho;&alpha;&phi;ί&alpha; &sigma;&alpha;&sigmaf; έ&chi;&epsilon;&iota; &epsilon;&pi;&iota;&kappa;&upsilon;&rho;&omega;&theta;&epsilon;ί &alpha;&pi;ό έ&nu;&alpha;&nu; &epsilon;&iota;&delta;&iota;&kappa;ό!</title>
{% endblock %}

{% block title_header_block %}
    <h1>&Eta; &phi;&omega;&tau;&omicron;&gamma;&rho;&alpha;&phi;ί&alpha; &sigma;&alpha;&sigmaf; έ&chi;&epsilon;&iota; &epsilon;&pi;&iota;&kappa;&upsilon;&rho;&omega;&theta;&epsilon;ί &alpha;&pi;ό έ&nu;&alpha;&nu; &epsilon;&iota;&delta;&iota;&kappa;ό!</h1>
{% endblock %}

{% block validation_category_block %}
    <p><strong>&Eta; &pi;&alpha;&rho;&alpha;&tau;ή&rho;&eta;&sigma;ή &sigma;&alpha;&sigmaf; &epsilon;ί&nu;&alpha;&iota;:</strong> {{ validation_category }}</p>
{% endblock %}

{% block map_link_block %}
    <!--<p><a href="{{ map_link }}" target="_blank">View it on the map</a></p>-->
{% endblock %}

{% block expert_note_block %}
    <p><strong>&Sigma;&eta;&mu;&epsilon;ί&omega;&sigma;&eta; &epsilon;&iota;&delta;&iota;&kappa;&omicron;ύ:</strong> <i>{{ expert_note }}</i></p>
{% endblock %}

{% block message_for_user_block %}
    <p><strong>&Mu;ή&nu;&upsilon;&mu;&alpha; &alpha;&pi;ό &tau;&omicron;&nu; &epsilon;&iota;&delta;&iota;&kappa;ό:</strong> <i>{{ message_for_user }}</i></p>
{% endblock %}