{% load staticfiles %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html lang={% block language %}"en"{% endblock %}>
<head>

    {% block encoding %}<meta charset="utf-8">{% endblock  %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta name="description" content="Tigacrafting">
    <meta name="author" content="Movement Ecology Laboratory">

    <title>{% block page_title %}Tigacrafting{% endblock %}</title>

    {% block bootstrap_css %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
    {% endblock %}

    {% block fa_css %}
        <!-- FA CSS -->
        <link rel="stylesheet" href={% static "tigacrafting/font-awesome-4.2.0/css/font-awesome.min.css" %}>
    {% endblock %}


{% block fallback_bs_js %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}

    {% leaflet_js %}
    {% leaflet_css %}


        <link rel="stylesheet" href={% static "tigacrafting/tigacrafting_style.css" %}>

    <script type="text/javascript">

        var mosquito_icon_class = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "tigamap/yellow_icon.png" %}'
            }
        });

        var site_icon_class = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "tigamap/blue_icon.png" %}'
            }
        });

        var mosquito_icon = new mosquito_icon_class;
        var site_icon = new site_icon_class;

        {% for task in validated_tasks %}
        function map_init_basic{{ task.id }}(map, options) {

            L.marker([{{ task.lat }}, {{ task.lon }}], {icon: mosquito_icon}).addTo(map);


        }
        {%  endfor %}

    </script>

</head>

<body>

{% block main_body %}
    <div class="container theme-showcase" role="main">

        <div class="page-header">

            <h1>{{ title }}</h1>

            <p>The validation scores shown by each photo range from -1 to 1, and they represent the average of thirty citizen scientists' responses to the crowdcrafting question: {{ question }} A response of 'yes' has a score of 1, 'no' has a score of -1. A response of 'not sure' or a blank response has a score of 0.</p>

            <p>Visit the <a href="http://crowdcrafting.org/app/Tigafotos/">Tigafotos</a> project on crowdcrafting to see the questions and help validate more photos!</p>


        </div>


        {% for task in validated_tasks %}


            <div class="row">

                <div class="col-md-2">
                    <h3>Validation Score: {{ task.validation_score }}</h3>

                </div>

                <div class="col-md-6">

                    {{ task.photo_image | safe}}

                </div>

                <div class="col-md-4">
                    <div id="photo{{ task.id }}" class="task_map-container"></div>
                </div>

            </div>


            <div class="border-row">

            <br>

            </div>


        {% endfor %}

    </div>




{% endblock %}


{% block body_scripts %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "tigacrafting/jquery/1.11.1/jquery.min.js" %}></script>
    <script src={% static "tigacrafting/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}></script>
    <script src={% static "tigacrafting/bootstrap-3.2.0-assets/js/docs.min.js" %}></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src={% static "tigacrafting/bootstrap-3.2.0-assets/js/ie10-viewport-bug-workaround.js" %}></script>


        <script type="text/javascript">
        (function () {
            function loadmap() {

                {% for task in validated_tasks %}

                var centerLat = {{ task.lat }};
                var centerLng = {{ task.lon }};
                var initialZoom = 6;
                var djoptions = {"layers": [
                            ["OSM", "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                                "\u00a9 <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"]
                        ],
                            "minimap": true, "scale": "metric", "center": [centerLat, centerLng], "tilesextent": [],
                            "attributionprefix": null, "zoom": initialZoom, "maxzoom": 18, "minzoom": 0, "extent": [
                                [-90,
                                    -180],
                                [90,
                                    180]
                            ], "resetview": true, "srid": null, "fitextent": true},
                        options = {djoptions: djoptions, initfunc: loadmap,
                            globals: false, callback: window.map_init_basic};

                    L.Map.djangoMap('photo{{ task.id }}', {djoptions: djoptions, initfunc: loadmap,
                        globals: false, callback: eval("window.map_init_basic{{ task.id }}")});
                {% endfor %}

            }

            var loadevents = ["load"];
            if (loadevents.length === 0) loadmap();
            else if (window.addEventListener) for (var i = 0; i < loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
            else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);
        })();
    </script>


{% endblock %}

</body>
</html>
