{% load staticfiles %}

<!DOCTYPE html>
<html lang={% block language %}"en"{% endblock %}>
<head>

    {% block encoding %}<meta charset="utf-8">{% endblock  %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta name="description" content="Tigacrafting">
    <meta name="author" content="Movement Ecology Laboratory">

    <title>{% block page_title %}Tigacrafting{% endblock %}</title>

    {% block bootstrap_css %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href={% static "tigacrafting/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}>
    {% endblock %}

    {% block fa_css %}
        <!-- FA CSS -->
        <link rel="stylesheet" href={% static "tigacrafting/font-awesome-4.2.0/css/font-awesome.min.css" %}>
    {% endblock %}


{% block fallback_bs_js %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}


</head>

<body>

{% block main_body %}
    <div class="container theme-showcase" role="main">

        <div class="page-header">

            <h1>Photo Validation: {{ type }}</h1>

        </div>


        {% for task in validated_tasks %}


            <div class="row">

                <div class="col-md-4">
                    <h3>{{ task.validation_score }}</h3>

                </div>

                <div class="col-md-4">

                    {{ task.photo_image }}

                </div>

                <div class="col-md-4">
                </div>

            </div>


            <div class="border-row"></div>


        {% endfor %}

    </div>




{% endblock %}


{% block body_scripts %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={% static "tigacrafting/jquery/1.11.1/jquery.min.js" %}></script>
    <script src={% static "tigacrafting/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}></script>
    <script src={% static "tigacrafting/bootstrap-3.2.0-assets/js/docs.min.js" %}></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src={% static "tigacrafting/bootstrap-3.2.0-assets/js/ie10-viewport-bug-workaround.js" %}></script>
{% endblock %}

</body>
</html>
