.asyncload-big {
    background-image: url(/static/identification_tasks/css/PDFLoader.gif);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100px;
    padding: 19px;
}