/****************************************************/
/* CLUSTER 60
border #fee6ce
background #fdae6b
/****************************************************/
/*overwrite default css*/

.marker-cluster-medium{
	background:none !important;
}

.leaflet-div-icon{
	border:0px;
	background:none;
}

.marker-cluster-radius60 div,
.marker-cluster-radius50 div,
.marker-cluster-radius40 div,
.marker-cluster-radius30 div,
.marker-cluster-radius20 div
{
	border:3px solid rgba(255,221,24,0.7);
	background-color: rgba(255,221,24,0.7);

	border-radius: 30px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	background-clip: padding-box;
	text-align:center;
    z-index: 233;
}

.marker-cluster-radius60 div span,
.marker-cluster-radius50 div span,
.marker-cluster-radius40 div span,
.marker-cluster-radius30 div span,
.marker-cluster-radius20 div span{
	text-align:center;
	position:relative;
    width:100%;
	font-weight:bold;
}


.marker-cluster-radius60 {   border-radius: 30px;   }

.marker-cluster-radius60 div {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: -30px;
    margin-top: -22px;
}

.marker-cluster-radius60 div span{
    margin-top:25px;
    top:20px;
    font-weight:bold;
    color:black;
}
/****************************************************/
/* CLUSTER 50
/****************************************************/
.marker-cluster-radius50 {    border-radius: 25px;    }

.marker-cluster-radius50 div {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: -20px;
    margin-top: -18px;
}

.marker-cluster-radius50 div span{
    margin-top:20px;
    top:15px;
    font-weight:bold;
}
/****************************************************/

/****************************************************/
/* CLUSTER 40
/****************************************************/
.marker-cluster-radius40 {
    border-radius: 20px;
    }

.marker-cluster-radius40 div {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: -16px;
    margin-top: -18px;
}

.marker-cluster-radius40 div span{
    margin-top:0px;
    top:10px;
    left:-1px;
}
/****************************************************/
/****************************************************/
/* CLUSTER 30
/****************************************************/
.marker-cluster-radius30 {
    border-radius: 15px;
    }

.marker-cluster-radius30 div {

    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: -11px;
    margin-top: -12px;
}

.marker-cluster-radius30 div span{
    margin-top:0px;
    top:4px;
    font-size:0.9em;
}
/****************************************************/


/****************************************************/
/* CLUSTER 20
/****************************************************/
a.control-button {
	outline:0px;
}
.marker-cluster-radius20 {
    border-radius: 15px;
    }

.marker-cluster-radius20 div {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: -11px;
    margin-top: -10px;
}

.marker-cluster-radius20 div span{
    margin-top:0px;
    top:4px;
    font-size:0.9em;
}

.control-button.selector-capes,
.control-button.selector-capes:hover{
		outline: none;
	    width:40px;
		height:40px;
		border-radius:4px;
		background-image:url('img/menu-icon.png');
		background-color: rgba(0, 0, 0, 0.5);
}

/*Controls afegits al mapa*/
.leaflet-bar a.control-button,
.leaflet-control-sidebar-btnleaflet-control-download-btn,
.leaflet-control-sidebar-btnleaflet-control-layers-btn,
.leaflet-control-sidebar-btnleaflet-control-share-btn,
.leaflet-control-sidebar-btnleaflet-control-moreinfo-btn{
	padding:0px;
	width:40px;
	height:40px;
}


.leaflet-bar a.share-control,
.leaflet-bar a.reports-button,
.leaflet-bar a.control-button,
.leaflet-control-sidebar-btnleaflet-control-download-btn a,
.leaflet-control-sidebar-btnleaflet-control-moreinfo-btn a,
.leaflet-control-sidebar-btnleaflet-control-share-btn a,
.leaflet-control-sidebar-btnleaflet-control-layers-btn a{
	width:40px;
	height:40px;
	font-size:16px;
	padding-top:7px;
	background-color: rgba(0, 0, 0, 0.5);
	color:white;
}
#button-reportsdocument-tpl[disabled], .download_button .btn-block[disabled]{
	display: none;
}
#map-ui .btn-block[disabled] {
  display:none;
}

.leaflet-control .total_elements{
	padding:5px;
	background: white;
	border-radius: 5px;
}

.leaflet-bar a.control-button.active,
.leaflet-bar a.control-button:hover,
.leaflet-bar a.control-button:active
/*,
.leaflet-bar a.reports-button:hover,
.leaflet-bar a.reports-button:active,
.leaflet-bar a.share-control:hover,
.leaflet-bar a.share-control:active,
.leaflet-control-sidebar-btnleaflet-control-download-btn a:hover,
.leaflet-control-sidebar-btnleaflet-control-download-btn a:active,
.leaflet-control-sidebar-btnleaflet-control-moreinfo-btn a:hover,
.leaflet-control-sidebar-btnleaflet-control-moreinfo-btn a.active,
.leaflet-control-sidebar-btnleaflet-control-share-btn a:hover,
.leaflet-control-sidebar-btnleaflet-control-share-btn a.active,
.leaflet-control-sidebar-btnleaflet-control-layers-btn a:hover,
.leaflet-control-sidebar-btnleaflet-control-layers-btn a.active,
.leaflet-control-sidebar-btnleaflet-control-reportsdocument-btn a.active,
.leaflet-control-sidebar-btnleaflet-control-download-btn a.active */
{
	width:40px;
	height:40px;
	font-size:16px;
	padding-top:7px;
	background-color: black;
	color:white;
}

/*MAP PANEL*/
.sidebar-control,
.sidebar-report,
.sidebar-control-share,
.sidebar-control-moreinfo,
.sidebar-control-download,
.sidebar-control-reportsdocument{
	padding:10px 0 10px 10px;
}

.viewreports_button{
	padding-top:20px;
	text-align: center;
	width: 100%;
}

.map-sidebar[data-sidebar-panel="sidebar-report"] {
    width: 500px;
}

.map-sidebar[data-sidebar-panel="sidebar-control-moreinfo"] {
    width: 400px;
}

.share_input{
	width:100%;
	padding-right:10px;
	margin-bottom:10px;
}

.jssocials-shares{
	text-align:center;
}

div.section.layers ul{
	padding-left:0px;
}

.sidebar-control-moreinfo ul{
	padding-left:10px;
}

.sidebar-control-moreinfo ul li{
	padding:3px;
}

/*popup*/
.validation-minus-tree,
.validation-minus-two,
.validation-minus-one,
.validation-zero,
.validation-plus-one,
.validation-plus-two{
	display:block;
	font-weight: bold;
	text-align: center;
	/*border: 1px solid;*/
}
/*
.validation-plus-one{
	background: orange;
}

.validation-plus-two{
	background: red;
}

.validation-zero{
	background: white;
}

.validation-minus-one{
	background: yellow;
}

.validation-minus-two{
	background: brown;
}

.validation-minus-tree{
	background: pink;
}
*/
#popup_mosquito_answers,
#popup_breeding_site_answers{
	padding: 10px;
	display: table;
}
#popup_mosquito_answers_reports,
#popup_breeding_site_answers_reports{
	font-size:12px;
}

#nota_experto,
#nota_experto_reports{
	margin-top:20px;
	margin-right:10px;
	font-size: 12px;
	font-style: italic;
	background:  rgba(241, 211, 87, 0.6);
	padding:10px;
	border-radius: 5px;
}
#nota_experto_reports span{
	font-weight: bold;
}
#user_note{
	font-style:italic;
	margin-top:20px;
	margin-right:10px;
	font-size: 12px;
	border-radius:5px;
	background: #ddd;
	padding: 10px;
}
#user_note span{
	font-weight: bold;
}
.one_answer{
	display:table-cell;
	padding:5px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.one_answer span{
	display:block;
}

.one_answer span.response{
	font-weight: bold;
}

.title_validacion_experta{
	display: inline;
}

.experts_specie{
	font-weight: bold;
	display:inline;
}

#popup_photo,
.popup_photo_reports{
	text-align: center;
	width: 100%;
}

#popup_photo img{

	padding-bottom:0px;
	max-height: 300px;
	max-width: calc(100% - 15px);
}
.popup_photo_reports img{
	max-height: 150px;
	max-width: 250px;
}

.map-report{
	width: 300px;
	height: 150px;
}

#reports_header_map{
	width:700px;
	height: 500px;
	margin:auto;
	display:table-cell;
}

.report_header{
	display:table;
	margin:auto;
	margin-bottom:15px;
}

#reports_license_text{
    font-style: italic;
    font-size:90%;
	width:900px;
	text-align: justify;
	margin:auto;
	padding:5px;
	margin-bottom:10px;
	background: rgba(241, 211, 87, 0.6);
	padding:5px 15px;
	border-radius:5px;
}

#legend_reports_map{
	padding-left:15px;
	display:table-cell;
}
#map_layers {
	padding-left:0px;
}
#map_layers .list-group-item{
	text-align:left;
}

#map_layers .list-group-item img {
	padding:5px;
}
.map-report{

}

/*REPORTS-PAGE*/

 #page-reports{
 	background: white;
 }

.one-report{
	display: table;
	padding:15px;
	border-top:1px solid black;
	margin: 15px;
	width:650px;
	margin:auto;
}
.one-report-info div{text-align: left;}

.reports_page_title{
	text-align: center;
}
.one-report-info{
	display: table-cell;
	vertical-align: top;
	padding-left:20px;
	padding-right:20px;
}

#photo_and_map{
	display: table;
	text-align: center;
	vertical-align: middle;
	width:100%;
}
.one-report-map{
	display:table-cell;
}

.titol_capa_reports{
		display: table-row;
		text-align: center;
}

.titol_capa_reports h4{text-align: left;}

#photo_reports{
	display: table-cell;
	vertical-align: top;
	max-height: 250px;
	padding-right: 20px;
}
#validated_specie{
	display: inline-block;
}

#popup_id, #popup_id_reports,
#popup_observation_date, #popup_observation_date_reports,
#popup_coordenadas, #popup_coordenadas_reports {
	padding:2px;
	font-style: normal;
}


#popup_id{ padding-top:30px;}

#popup_id_reports{
	padding-top:15px;
	font-size: 11px;
}

#popup_id span, #popup_id_reports span,
#popup_observation_date span,#popup_observation_date_reports span,
#popup_coordenadas span, #popup_coordenadas_reports span{
	font-weight: bold;
}

#popup_id_reports, #popup_observation_date_reports,
#popup_coordenadas_reports {
	font-size: 11px;
}

.titol_capa{
	font-size:16px;
	font-weight: bold;
	text-align: center;
	margin-top:10px;
}

.sidebar-control-moreinfo > div {
	padding: 20px;
}

ul.info_list{
	list-style: none;
	padding:0px;
}

ul.info_list li{
	padding-bottom:20px;
}

ul.info_list li img{
	margin-right:5px;
}

ul.sub-sites{
	padding-left:10px !important;
	list-style:none;
	white-space: nowrap;
	font-size:90%;
  width: 50%;
}

ul.sub-sites li img{
	/*padding-right: 10px;*/
}

div#map-ui{
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.photo_license,
.photo_license_reports{
	text-align: center;
}
.photo_license{font-size: 12px}
.photo_license_reports{font-size: 11px}

.download_button{
	text-align: center;
}

#title_download{
	padding-top: 30px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 0px;
    background-clip: content-box;
}

.leaflet-touch .leaflet-bar a {
    width: 40px;
    height: 40px;
}

@media print {
  .leaflet-container .leaflet-control-attribution,
  .leaflet-container .leaflet-control-scale{
	  background: white !important;
  }
}

.bold{
	font-weight: bold;
}

/* NOTIFICACIONS */
#notification_hint {
	padding:2px 0px;
	border-bottom:1px dotted #ACACAC;
	border-radius:5px;
	/*background:#ECECEC;*/
	margin:10px 20px 10px 10px;
	color:#A0A0A0;
	text-align:center;
}
#notification_text {
	font-size:.9em;
	margin-top:20px;
	padding-right:10px;
}
.notification_button {
	text-align:center;
	margin-bottom:5px;
	display:inline-block;
}
.notification_button button {
	width:40px !important;
}
.mce-panel {
	background-image:linear-gradient(to bottom, #fdfdfd, #ddd) !important;
}
.mce-window {
	border-radius:6px;
}
.mce-button {
	background-image: linear-gradient(to bottom, #fff, #d9d9d9) !important;
}
#notification-notifier, #notification-notified {
	width:49%;
	float:left;
	margin-bottom:10px;
}
#notification-notified {
	position:relative;
	right:0px;
	float:right;
}

button[data-id='notification-presets'] {
	background:#fff9d2;
}



/* NEW */
/* MODELS */

.models-type-label{
	float: left;
	min-width: 45px;
	padding: 5px;
}
#forecast_date_selector {
  font-size: .9em;
}
#forecast_date_selector div {
  float: left;
  width: auto;
}
#forecast_date_selector div.bootstrap-select {
  width:150px;
}
#forecast_date_selector.model-type {
  display:table;
}

.model-type span{
	padding: 0px 10px 0px 5px;
}
#layer_I h5 {
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid #ECECEC;
}

div#map canvas.leaflet-heatmap-layer {
  position: absolute;
}
.question-mark-toc {
  position: absolute;
	min-width: 5%;
  right: 6px;
	margin-left:5px;
	top: 10px;
  border: 1px solid #cacaca;
  padding: 2px 5px;
  border-radius: 30%;
  cursor: default;
  color: #acacac;
}
.question-mark-toc:hover {
  background: #C0C0C0;
  color: black;
}
.ui-tooltip, .arrow:after {
    background: white;
    border: 1px solid #CACACA;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  max-width: 500px !important;
  font-size: .9em !important;
}
 .arrow {
	overflow: hidden;
	/* width: 70px;
  height: 16px;
  position: absolute;
  left: 100%;
  margin-left: -7px;
  bottom: 50%;
  transform: rotate(-90deg) translate(-5px, 0px); */
}
.ui-tooltip.ui-widget-shadow {
  box-shadow: 0 0 8px #aaa;
}
/* .arrow.top {
  top: 0px;
  bottom: 0px;
}
.arrow.left {
  left: 0px;
} */
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  /* box-shadow: 6px 5px 9px -9px black; */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* .arrow.top:after {
  bottom: 0px;
  top: auto;
} */
