
    @media (min-width: 1150px) and (max-width: 1200px) {
        .shrinking-text {
            font-size: .9em;
            max-width: 350px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    @media (min-width: 1100px) and (max-width: 1150px) {
        .shrinking-text {
            font-size: .9em;
            max-width: 300px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    @media (min-width: 1050px) and (max-width: 1100px) {
        .shrinking-text {
            font-size: .9em;
            max-width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    @media (min-width: 1000px) and (max-width: 1050px) {
        .shrinking-text {
            font-size: .8em;
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    @media (max-width: 1000px) {
        .shrinking-text {
            display: none;
        }
    }
