.popup-table td {
    padding: 0;
    vertical-align: bottom;
}

body {
    padding-top: 50px;
}

.leaflet-popup-content {
    overflow-y: auto;
}

.popup-table table {
    border-collapse: collapse;
    font-size: .9em !important;
    table-layout: fixed;
    width: 182px;
}

.popup-table table, td, th {
    border: 1px solid black;
}

.response-table {
    text-align: center;
    border: none !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100% !important;
    font-size: 1em;
}

.response-table .border-right {
    border-right: 1px dotted !important;
}

.response-table .question {
    font-size: .8em;
    font-style: italic;
    font-align: left;
    padding: 3px;
    vertical-align: top;
}

.color-box {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: .9em;
}

.black {
    background-color: black;
    color: white;
}

.grey {
    background-color: grey;
    color: white;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.note-div {
    font-size: .9em;
    padding: 5px;
}

.my-progress-bar-container {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 15px;
    position: absolute;
    bottom: 30px;
    left: 10px;
    width: 60%;
    height: 20px;
}

.my-progress-bar {
    background-image: -webkit-linear-gradient(top, #428bca 0, #3071a9 100%);
    background-image: linear-gradient(to bottom, #428bca 0, #3071a9 100%);
    background-repeat: repeat-x;
    height: 100%;
    width: 0;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    border-radius: 15px;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}


.legend, .site_legend {
    background-color: rgb(200, 200, 200);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    left: -320px;
    border: 1px solid;
    bottom: 60px;
    width: 430px;
    min-height: 350px;
    overflow: hidden;
    -moz-transition: left 1s ease;
    -webkit-transition: left 1s ease;
}

.site_legend {
    display: none;
    min-height: 370px;
}

.legend:hover, .site_legend:hover {
    left: 0;
}

#hand-left {
    opacity: 1;
    position: absolute;
    right: 35px;
    bottom: 10px;

    -moz-transition: opacity 2s ease;
    -webkit-transition: opacity 2s ease;
}

#more_info_div {
    position: absolute;
    bottom: 10px;
    right: 35px;
    opacity: 0;
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;

}

#more_info_button {
    position: absolute;
    bottom: 5px;
    right: 0;
}

.legend:hover #hand-left, .site_legend:hover #hand-left {
    opacity: 0;
}

.legend:hover #more_info_div, .site_legend:hover #more_info_div {
    opacity: 1;
}

.legend-main-table-container {
    max-width: 50px;
    position: absolute;
    right: 50px;
    top: 10px;
}

.legend-main-table {
    max-width: 50px;
}

.legend-main-table, .legend-main-table tr, .legend-main-table td {
    border: none;
    padding: 4px;
    text-align: left;
    vertical-align: middle;
    font-size: .9em;
}

.legend-popup-area {
    position: absolute !important;
    left: 10px !important;
    bottom: 0 !important;
    top: 14px !important;
    width: 310px;
}

.legend-popup {
    z-index: 1;
}

.legend-popup-table {
    width: 240px !important;
    border: 1px solid;
    text-align: left;
    padding: 5px !important;
    vertical-align: middle;
    font-size: .85em;
}

.legend-popup-table td {
    padding: 5px !important;
}

.legend-popup-table a {
    font-weight: bold;
    color: #000000;
}

.legend-popup-infodiv {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
}

.info-button-background {
    background-color: #aaaaaa;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.info-button-background img {
    vertical-align: middle;
}

.info-button-background:hover {
    background-color: white !important;
}

.infodiv-table {
    padding: 3px;
    vertical-align: middle;
    text-align: left;
    font-size: 1.2em;
}

.infodiv-table td {
    vertical-align: middle;
    padding-left: 5px !important;
    border: none !important;
}
