{% extends "tigaserver_app/award_notification.html" %}
{% block language %}
<html lang="ca">
{% endblock %}
{% block title_block %}
    <title>Acabes de rebre una recompensa de punts!</title>
{% endblock %}

{% block title_header_block %}

{% endblock %}

{% block amount_xp_awarded %}
    <p>Has rebut <b style="color:red;">{{ amount_awarded }} punts!</b></p>
{% endblock %}

{% block reason_awarded %}
    <p>Motiu: {{ reason_awarded }}</p>
{% endblock %}

{% block report_related %}
    {% if picture_link %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
{% endblock %}

{% block congratulations %}
    <p>Moltes felicitats!</p>
{% endblock %}