{% extends "tigaserver_app/award_notification.html" %}

{% block title_block %}
    <title>Hai appena ricevuto un premio in punti!</title>
{% endblock %}

{% block title_header_block %}

{% endblock %}

{% block amount_xp_awarded %}
    <p>Hai appena ricevuto <b style="color:red;">{{ amount_awarded }} punti!</b></p>
{% endblock %}

{% block reason_awarded %}
    <p>Perch&eacute;: {{ reason_awarded }}</p>
{% endblock %}

{% block report_related %}
    {% if picture_link %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
{% endblock %}

{% block congratulations %}
    <p>Congratulazioni!</p>
{% endblock %}