{% extends "tigaserver_app/award_notification.html" %}

{% block title_block %}
    <title>&Mu;ό&lambda;&iota;&sigmaf; &lambda;ά&beta;&alpha;&tau;&epsilon; έ&nu;&alpha; &beta;&rho;&alpha;&beta;&epsilon;ί&omicron; &pi;ό&nu;&tau;&omega;&nu;!</title>
{% endblock %}

{% block title_header_block %}

{% endblock %}

{% block amount_xp_awarded %}
    <p>'&Mu;ό&lambda;&iota;&sigmaf; &lambda;ά&beta;&alpha;&tau;&epsilon; &pi;ό&nu;&tau;&omicron;&upsilon;&sigmaf;' <b style="color:red;">{{ amount_awarded }}</b></p>
{% endblock %}

{% block reason_awarded %}
    <p>&Epsilon;&pi;&epsilon;&iota;&delta;ή: {{ reason_awarded }}</p>
{% endblock %}

{% block report_related %}
    {% if picture_link %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
{% endblock %}

{% block congratulations %}
    <p>&Sigma;&upsilon;&gamma;&chi;&alpha;&rho;&eta;&tau;ή&rho;&iota;&alpha;!</p>
{% endblock %}