{% extends "tigaserver_app/award_notification.html" %}

{% block title_block %}
    <title>Most pontdíjat kapott!</title>
{% endblock %}

{% block title_header_block %}

{% endblock %}

{% block amount_xp_awarded %}
    <p>Most kapott <b style="color:red;">{{ amount_awarded }} pontot!</b></p>
{% endblock %}

{% block reason_awarded %}
    <p>Mivel: {{ reason_awarded }}</p>
{% endblock %}

{% block report_related %}
    {% if picture_link %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
{% endblock %}

{% block congratulations %}
    <p>Gratulálunk!</p>
{% endblock %}