{% extends "tigaserver_app/award_notification.html" %}

{% block title_block %}
    <title>&#924;&#972;&#955;&#953;&#962; &#955;&#940;&#946;&#945;&#964;&#949; &#941;&#957;&#945; &#946;&#961;&#945;&#946;&#949;&#943;&#959; &#960;&#972;&#957;&#964;&#969;&#957;!</title>
{% endblock %}

{% block title_header_block %}

{% endblock %}

{% block amount_xp_awarded %}
    <p>&#924;&#972;&#955;&#953;&#962; &#955;&#940;&#946;&#945;&#964;&#949; &#960;&#972;&#957;&#964;&#959;&#965;&#962; <b style="color:red;">{{ amount_awarded }}</b></p>
{% endblock %}

{% block reason_awarded %}
    <p>&#923;&#972;&#947;&#959;&#962;: {{ reason_awarded }}</p>
{% endblock %}

{% block report_related %}
    {% if picture_link %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
{% endblock %}

{% block congratulations %}
    <p>&#931;&#965;&#947;&#967;&#945;&#961;&#951;&#964;&#942;&#961;&#953;&#945;!</p>
{% endblock %}