{% extends "tigaserver_app/award_notification.html" %}
{% block language %}
<html lang="es">
{% endblock %}
{% block title_block %}
    <title>¡Acabas de recibir una recompensa de puntos!</title>
{% endblock %}

{% block title_header_block %}

{% endblock %}

{% block amount_xp_awarded %}
    <p>Has recibido <b style="color:red;">{{ amount_awarded }} puntos!</b></p>
{% endblock %}

{% block reason_awarded %}
    <p>Motivo: {{ reason_awarded }}</p>
{% endblock %}

{% block report_related %}
    {% if picture_link %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
{% endblock %}

{% block congratulations %}
    <p>¡Felicidades!</p>
{% endblock %}