{% extends "tigaserver_app/award_notification.html" %}

{% block title_block %}
    <title>Sapo morët një çmim pikë!</title>
{% endblock %}

{% block title_header_block %}

{% endblock %}

{% block amount_xp_awarded %}
    <p>Sapo morët <b style="color:red;">{{ amount_awarded }} pikë!</b></p>
{% endblock %}

{% block reason_awarded %}
    <p>Sepse: {{ reason_awarded }}</p>
{% endblock %}

{% block report_related %}
    {% if picture_link %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
{% endblock %}

{% block congratulations %}
    <p>Urime!</p>
{% endblock %}