{% extends "tigaserver_app/award_notification.html" %}

{% block title_block %}
    <title>U heeft zojuist een puntentoekenning ontvangen!</title>
{% endblock %}

{% block title_header_block %}

{% endblock %}

{% block amount_xp_awarded %}
    <p>U heeft zojuist <b style="color:red;">{{ amount_awarded }} punten ontvangen!</b></p>
{% endblock %}

{% block reason_awarded %}
    <p>Omdat: {{ reason_awarded }}</p>
{% endblock %}

{% block report_related %}
    {% if picture_link %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
{% endblock %}

{% block congratulations %}
    <p>Gefeliciteerd!</p>
{% endblock %}