{% extends "tigaserver_app/award_notification.html" %}

{% block title_block %}
    <title>¡Acabas de recibir una recompensa de XP!</title>
{% endblock %}

{% block title_header_block %}
    <h2>¡Acabas de recibir una recompensa de XP!</h2>
{% endblock %}

{% block amount_xp_awarded %}
    <p>Has recibido <b style="color:red;">{{ amount_awarded }} XP!</b></p>
{% endblock %}

{% block reason_awarded %}
    <p>Motivo: {{ reason_awarded }}</p>
{% endblock %}

{% block report_related %}
    {% if report %}
        <img src="{{ picture_link }}" width=100%>
    {% endif %}
{% endblock %}

{% block congratulations %}
    <p>¡Felicidades!</p>
{% endblock %}