<!DOCTYPE html>
{% block language %}
<html lang="en">
{% endblock %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    {% block title_block %}

    {% endblock %}
</head>
<body>
    {% block title_header_block %}
    <h2>Acabes de rebre una recompensa d'XP!</h2>
    {% endblock %}
    {% block amount_xp_awarded %}
    <p>Has rebut <b style="color:red;">50 XP!</b></p>
    {% endblock %}
    {% block reason_awarded %}
    <p>Per pujar 50 reports</p>
    {% endblock %}
    {% block report_related %}
    {% endblock %}
    {% block congratulations %}
    <p>Moltes felicitats!</p>
    {% endblock %}
</body>
</html>