{% extends "tigamap/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head_additions %}

    <link rel="stylesheet" href={% static "tigamap/bootstrap-3.1.1-dist/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "tigamap/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css" %}>
    <link rel="stylesheet" href={% static "tigamap/map_app_style.css" %}>


{% endblock %}

{% block main_body %}


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

            <form class="navbar-form navbar-left" action="{% url 'set_language' %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}"/>
                    <select class="form-control" name="language" onchange="this.form.submit()">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                    selected="selected"{% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" style="color:#fff;">{{ title|default:'' }}</div>
        </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {%  trans 'Adult tiger mosquitoes' %}<b
                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href={% url 'webmap.show_map' report_type='adults' category='all' %}
                                >{% trans 'All reports' %}</a></li>
                        <li><a href={% url 'webmap.show_map' report_type='adults' category='medium' %}>
                            {% trans 'Medium and high probability reports only' %}</a></li>
                        <li><a href={% url 'webmap.show_map' report_type='adults' category='high' %}>
                            {% trans 'High probability reports only' %}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Breeding site reports' %}<b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href={% url 'webmap.show_map' report_type='sites' category='all' %}
                                >{% trans 'All sites' %}</a></li>
                        <li>
                            <a href={% url 'webmap.show_map' report_type='sites' category='drains_fountains' %}
                                    >{% trans 'Storm drains and fountains' %}</a>
                        </li>
                        <li><a href={% url 'webmap.show_map' report_type='sites' category='basins' %}
                                >{% trans 'Basins' %}</a></li>
                        <li><a href={% url 'webmap.show_map' report_type='sites' category='buckets_wells' %}>
                            {% trans 'Buckets and wells' %}</a></li>
                        <li><a href={% url 'webmap.show_map' report_type='sites' category='other' %}
                                >{% trans 'Other' %}</a></li>
                    </ul>
                </li>
                <li><a href={% url 'webmap.show_map' report_type='coverage' category='all' %}
                        >{% trans 'Coverage' %}</a></li>

            </ul>

            </ul>
        </div>
    </div>


{% endblock %}

{% block logo %}

    <a href="http://atrapaeltigre.com"><img
            src={% static "tigamap/tigatrapp_logo.png" %} style="position:absolute;width:20%;bottom:20px;right:10px"></a>

{% endblock %}


{% block end_body %}

    <script src="{% static "tigamap/jquery-1.11.1.min.js" %}"></script>

    <script src="{% static "tigamap/bootstrap-3.1.1-dist/js/bootstrap.min.js" %}"></script>

{% endblock %}
