{% extends "tigamap/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head_additions %}

    <script src="{% static "tigamap/tigamap_scripts.js" %}"></script>

    <link rel="stylesheet" href={% static "tigamap/bootstrap-3.1.1-dist/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "tigamap/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css" %}>
    <link rel="stylesheet" href={% static "tigamap/bootstrap-select/css/bootstrap-select.min.css" %}>

    <script src="{% static "tigamap/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "tigamap/jquery.cookie.js" %}"></script>



    <style>

        @media (min-width: 1150px) and (max-width: 1200px) {
            .shrinking-text {
                font-size: .9em;
                max-width: 350px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        @media (min-width: 1100px) and (max-width: 1150px) {
            .shrinking-text {
                font-size: .9em;
                max-width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        @media (min-width: 1050px) and (max-width: 1100px) {
            .shrinking-text {
                font-size: .9em;
                max-width: 250px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        @media (min-width: 1000px) and (max-width: 1050px) {
            .shrinking-text {
                font-size: .8em;
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        @media (max-width: 1000px) {
            .shrinking-text {
                display: none;
            }
        }

    </style>

    {% block custom_map_style %}
        <link rel="stylesheet" href={% static "tigamap/map_app_style.css" %}> {% endblock %}

    {% block extra_style %}  {% endblock %}


    {% block filter_script %}
        <script>
            var selected_year = 0;
            var selected_month = 0;
            var selected_type = 'adult';
            var selected_validation = -2;


        </script>

    {% endblock %}

    {% block cookiewarning %}
        <script>
            // The following code is adapted from Creare's 'Implied Consent' EU Cookie Law Banner v:2.4
            // Conceived by Robert Kent, James Bavington & Tom Foyster

            var dropCookie = true;                      // false disables the Cookie, allowing you to style the banner
            var cookieDuration = 14;                    // Number of days before the cookie expires, and the banner reappears
            var cookieName = 'complianceCookie';        // Name of our cookie
            var cookieValue = 'on';                     // Value of cookie

            function createDiv() {
                var bodytag = document.getElementsByTagName('body')[0];
                var div = document.createElement('div');
                div.style.textAlign = 'center';
                div.style.backgroundColor = '#F6D10A';
                div.setAttribute('id', 'cookie-law');
                div.innerHTML = "{% trans 'our-website-uses-cookies' %} <a href='{% url 'help.show_privacy' %}'' rel='nofollow' title='{% trans 'privacy-policy' %}'>{% trans 'privacy-policy' %}</a> {% trans 'and'  %} <a href='{% url 'help.show_terms' %}' rel='nofollow' title='{% trans 'user-agreement' %}'>{% trans 'user-agreement' %}</a>.&nbsp;&nbsp;<a class='close-cookie-banner' href='javascript:void(0);' onclick='removeMe();'><span style='cursor: pointer;'>X</span></a>";
                // Be advised the Close Banner 'X' link requires jQuery

                // bodytag.appendChild(div); // Adds the Cookie Law Banner just before the closing </body> tag
                // or
                bodytag.insertBefore(div, bodytag.firstChild); // Adds the Cookie Law Banner just after the opening <body> tag

                document.getElementsByTagName('body')[0].className += ' cookiebanner'; //Adds a class tothe <body> tag when the banner is visible

            }


            function createCookie(name, value, days) {
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    var expires = "; expires=" + date.toGMTString();
                }
                else var expires = "";
                if (window.dropCookie) {
                    document.cookie = name + "=" + value + expires + "; path=/";
                }
            }

            function checkCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }

            function eraseCookie(name) {
                createCookie(name, "", -1);
            }

            window.onload = function () {
                if (checkCookie(window.cookieName) != window.cookieValue) {
                    createDiv();
                }
            }

            function removeMe() {
                var element = document.getElementById('cookie-law');
                element.parentNode.removeChild(element);
                createCookie(window.cookieName, window.cookieValue, window.cookieDuration); // Create the cookie

            }

            //


        </script>
    {% endblock %}

{% endblock %}

{% block main_body %}

    {% block navbar %}
        <!-- NAVBAR
        ================================================== -->
        <div class="navbar-wrapper">
            <div class="container">

                <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">{% trans "navbar_toggle_navigation" %}</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand" title="Tigatrapp Map" style="color:orange;margin-right:15px">
                                <strong>MosquitoAlert Map</strong></div>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <button type="button" class="btn btn-warning btn-sm navbar-btn" data-toggle="modal"
                                            data-target="#myModal" style="margin-left:5px"><span
                                            class="glyphicon glyphicon-filter"></span> Filter
                                    </button>
                                </li>

                                <li><a href="{{ hrefs.coverage }}"
                                        >{% trans 'Coverage' %}</a></li>
                                <li>
                                    <a style="max-width: 20px;" href="{% trans 'map_help_url_new' %}"
                                       class="btn btn-inverse btn-lg"><span
                                            class="glyphicon glyphicon-info-sign"></span></a>
                                </li>


                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% if request.user.is_authenticated %}

                                    <li><p style="padding-left: 10px;" class="navbar-text">{{ request.user.username }} /
                                        <a href="{% url "auth_logout" %}">logout</a></p>
                                    </li>

                                {% endif %}

                            </ul>

                            <form style="max-width: 200px;" class="navbar-form navbar-right"
                                  action="{% url 'set_language' %}" method="post">
                                <div class="form-group">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>
                                    <select class="form-control" name="language" onchange="this.form.submit()">
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                                    selected="selected"{% endif %}>
                                                {{ language.name_local|title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Map Filters</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="year_select" class="col-sm-4 control-label">Year:</label>

                                <div class="col-sm-8">
                                    <select id="year_select" class="selectpicker show-tick form-control">
                                        <option value="2015" data-subtext="Only reports made in 2015">2015</option>
                                        <option value="2014" data-subtext="Only reports made in 2014">2014</option>
                                        <option value="0" data-subtext="All reports">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="month_select" class="col-sm-4 control-label">Month:</label>

                                <div class="col-sm-8">
                                    <select id="month_select" class="selectpicker show-tick form-control">
                                        <option value="0" data-subtext="All months">All</option>
                                        <option value="1" data-subtext="Only reports made in January">January</option>
                                        <option value="2" data-subtext="Only reports made in February">February</option>
                                        <option value="3" data-subtext="Only reports made in March">March</option>
                                        <option value="4" data-subtext="Only reports made in April">April</option>
                                        <option value="5" data-subtext="Only reports made in May">May</option>
                                        <option value="6" data-subtext="Only reports made in June">June</option>
                                        <option value="7" data-subtext="Only reports made in July">July</option>
                                        <option value="8" data-subtext="Only reports made in August">August</option>
                                        <option value="9" data-subtext="Only reports made in September">September
                                        </option>
                                        <option value="10" data-subtext="Only reports made in October">October</option>
                                        <option value="11" data-subtext="Only reports made in November">November
                                        </option>
                                        <option value="12" data-subtext="Only reports made in December">December
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="type_select" class="col-sm-4 control-label">Report Type:</label>

                                <div class="col-sm-8">
                                    <select id="type_select" class="selectpicker show-tick form-control">
                                        <option value="adult" data-subtext="Adult tiger mosquitoes">Adults</option>
                                        <option value="site" data-subtext="Tiger mosquito breeding sites">Breeding
                                            sites
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="validation_select" class="col-sm-4 control-label">Expert Validation:</label>

                                <div class="col-sm-8">
                                    <select id="validation_select" class="selectpicker show-tick form-control">
                                        <option value="2" data-subtext="Only highly probably reports">Strong Validation
                                        </option>
                                        <option value="1"
                                                data-subtext="Only probably and highly probably reports">Medium
                                            Validation
                                        </option>
                                        <option value="-2" data-subtext="No validation filter">All Reports</option>
                                    </select>
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" id="filters_submit_button" class="btn btn-warning">Apply</button>
                    </div>
                </div>
            </div>
        </div>




    {% endblock %}

    {% block map_area %}
        <div id="tigamap" class="leaflet-container-default"></div>
    {% endblock %}

    <script type="text/javascript">
        (function () {

            function loadmap() {

                var centerLat = loadSavedLat();
                var centerLng = loadSavedLng();
                var initialZoom = loadSavedZoom();

                if (isNaN(centerLat) || isNaN(centerLng)) {
                    centerLat = 40.0000;
                    centerLng = -4.0000;
                }

                if (isNaN(initialZoom)) {
                    initialZoom = 6;
                }


                var djoptions = {"layers": [
                            ["OSM", "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                                "\u00a9 <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"]
                        ],
                            "minimap": false, "scale": "metric", "center": [centerLat, centerLng], "tilesextent": [],
                            "attributionprefix": null, "zoom": initialZoom, "maxzoom": 18, "minzoom": 0, "extent": [
                                [-90,
                                    -180],
                                [90,
                                    180]
                            ], "resetview": true, "srid": null, "fitextent": true},
                        options = {djoptions: djoptions, initfunc: loadmap,
                            globals: false, callback: window.map_init_basic, zoomControl: true};
                L.Map.djangoMap('tigamap', options);
            }

            var loadevents = ["load"];
            if (loadevents.length === 0) loadmap();
            else if (window.addEventListener) for (var i = 0; i < loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
            else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);

        })();
    </script>


{% endblock %}

{% block logo %}

    <a href="http://atrapaeltigre.com"><img style="position:absolute;width:20%;bottom:20px;right:10px;"
                                            src={% static "tigamap/tigatrapp_logo.png" %}></a>

{% endblock %}



{% block end_body %}
    <script src="{% static "tigamap/bootstrap-3.1.1-dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "tigamap/bootstrap-select/js/bootstrap-select.min.js" %}"></script>

    <script>


        $("#year_select").val(selected_year);
        $("#month_select").val(selected_month);
        $("#type_select").val(selected_type);
        $("#validation_select").val(selected_validation);

        {% block filter_function %}

            function apply_filter() {
                // to be extended in later templates
            }

        {% endblock %}

        $("#filters_submit_button").on('click', function () {
            selected_year = $("#year_select").val();
            selected_month = $("#month_select").val();
            selected_type = $("#type_select").val();
            selected_validation = $("#validation_select").val();

            apply_filter();

            $('#myModal').modal('hide');
        })


    </script>
{% endblock %}
