{% load leaflet_tags %}
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<title>Tigatrapp Map</title>

    {% leaflet_js %}
    {% leaflet_css %}

  {% block head_additions %}


   {% endblock %}


  <style>
       .leaflet-container {  /* all maps */
            width:  100%;
            height: 100%;
       }


    </style>

  {% block leaflet_code %}


   {% endblock %}

  </head>
  <body>


    {%  block main_body %}

    {% endblock %}


    {% leaflet_map "tigamap" callback="window.map_init_basic" %}


    {% block logo %}


    {% endblock %}

      {% block end_body %}


    {% endblock %}

  </body>
</html>