{% load leaflet_tags %}
{% load staticfiles %}
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="format-detection" content="telephone=no">
	<title>Tigatrapp Map</title>

    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href={% static "tigamap/base_style.css" %}>



  {% block head_additions %}


   {% endblock %}


  <style>
       .leaflet-container {  /* all maps */
            width:  100%;
            height: 100%;
       }


    </style>

  {% block leaflet_code %}


   {% endblock %}

  </head>
  <body>


    {%  block main_body %}

    {% endblock %}



    {% block logo %}


    {% endblock %}

      {% block end_body %}


    {% endblock %}

  </body>
</html>