{% extends "tigamap/app.html" %}

{% load staticfiles %}

{% block leaflet_code %}

<script type="text/javascript">
    function map_init_basic (map, options) {

        var fo = .3;

        {% for ca in coverage_list %}

            {% if ca.n_fixes > 100 %}

            fo = .5;

            {% endif %}


        L.polygon([
        [{{ ca.lat }}, {{ ca.lon }}],
        [{{ ca.lat }} + 0.05, {{ ca.lon }}],
        [{{ ca.lat }} + 0.05, {{ ca.lon }}  + 0.05],
        [{{ ca.lat }}, {{ ca.lon }} + 0.05]
        ], {weight: 0.5, opacity: 1, color: '#ff0000', fillOpacity: fo, fillColor: '#f00'}).addTo(map);

         {% endfor %}
    }
</script>

{% endblock %}

