{% extends "tigamap/app.html" %}
{% load static %}
{% load i18n %}
{% load leaflet_tags %}

{% block leaflet_code %}

<style>

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

</style>

<script type="text/javascript">


    function map_init_basic (map, options) {

            map.on('zoomend', function(e){
                saveMapState(map)
            });
            map.on('dragend', function(e){
                saveMapState(map)
            });


    function getColor(d) {
    return d > 10 ? '#e31a1c' :
           d > 5  ? '#fd8d3c' :
                     '#fecc5c';
}


        var fill_opacity = .5;
        var color;

        {% for ca in coverage_list %}

            color = getColor(parseInt("{{ ca.n_fixes }}"));

        var poly = L.polygon([
        [{{ ca.lat }}, {{ ca.lon }}],
        [{{ ca.lat }} + 0.05, {{ ca.lon }}],
        [{{ ca.lat }} + 0.05, {{ ca.lon }}  + 0.05],
        [{{ ca.lat }}, {{ ca.lon }} + 0.05]
        ], {weight: 0.5, opacity: 1, color: color, fillOpacity: fill_opacity, fillColor: color}).addTo(map);

         {% endfor %}

 var legend = L.control({position: 'bottomleft'});

legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend'),
        grades = [1, 5, 10],
        labels = ["{% trans 'low' %}", "{% trans 'medium' %}", "{% trans 'high' %}"];

    // loop through our density intervals and generate a label with a colored square for each interval
    div.innerHTML = "<b>{% trans 'Coverage' %}</b><br/>";
    for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
            '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
            labels[i] + '<br/>';
    }

    return div;
};

legend.addTo(map);

    }
</script>

{% endblock %}

