{% extends "tigamap/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load leaflet_tags %}


{% block head_additions %}

     <script src="{% static "tigamap/tigamap_scripts.js" %}"></script>

        {% leaflet_js plugins="marker_cluster_yellow" %}
        {% leaflet_css plugins="marker_cluster_yellow" %}

{% endblock %}

{% block leaflet_code %}

    <style>
table {
    border-collapse: collapse;
    font-size:small;
}

table, td, th {
    border: 1px solid black;
}

td {
    padding: 5px;
    vertical-align: top;
    text-align: right;
}


</style>


    <script type="text/javascript">

        function map_init_basic(map, options) {

            map.on('zoomend', function(e){
                saveMapState(map)
            });
            map.on('dragend', function(e){
                saveMapState(map)
            });

            var markers_clustered = new L.MarkerClusterGroup();


            var YellowIcon = L.Icon.Default.extend({
                options: {
                    iconUrl: '{% static "tigamap/yellow_icon.png" %}'
                }
            });

            thisIcon = new YellowIcon();


            var cluster_marker;
            var popup_text;
            var init_latlng;
            var init_zoom = 8;

            {% for report in report_list %}
                {% if report.lat != None and report.lon != None %}
                    init_latlng = L.latLng({{ report.lat }},{{ report.lon }});
                    cluster_marker = L.marker([{{ report.lat }}, {{ report.lon }}], {icon: thisIcon});
                    popup_text = '<table><tr><td>prob:</td><td>'+
                                '{{ report.tigaprob_text }}</td></tr><tr><td>lat:</td>'+
                                '<td>{{ report.lat }}</td></tr><tr><td>lon:</td><td>'+
                                '{{ report.lon }}</td></tr></table>';
                   {% if detailed == 'detailed' %}
                       popup_text = popup_text + '<br/>Date: {{ report.formatted_date }}';
                       popup_text = popup_text + '<br/><br/>User: {{ report.user }}';
                       popup_text = popup_text + '<br/><br/>OS: {{ report.os }}';
                       {% autoescape off %}
                       popup_text = popup_text + '<br/><br/>Responses: {{ report.response_html | escapejs }}';
                       popup_text = popup_text + '<br/><br/>Note: {{ report.note | escapejs }}';
                       {% endautoescape %}
                       popup_text = popup_text + '<br/><br/>Photos: {{ report.photo_html | safe }}';
                   {%  endif %}

                     cluster_marker.bindPopup(popup_text);
                    markers_clustered.addLayer(cluster_marker);
                {% endif %}
            {% endfor %}


            markers_clustered.addTo(map);

            if (init_latlng != null){
                map.setView(init_latlng, init_zoom );
            }

        }

    </script>


{%  endblock %}

{% block main_body %}

<div id="tigamap" class="leaflet-container-default"></div>
<script type="text/javascript">
(function () {

    function loadmap() {

				var centerLat = loadSavedLat();
				var centerLng = loadSavedLng();
				var initialZoom = loadSavedZoom();

				if (isNaN(centerLat) || isNaN(centerLng)) {
					centerLat = 40.0000;
					centerLng = -4.0000;
				}

				if (isNaN(initialZoom)) {
					initialZoom = 6;
				}


        var djoptions = {"layers": [["OSM", "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                    "\u00a9 <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"]],
                    "minimap": false, "scale": "metric", "center": [centerLat, centerLng], "tilesextent": [],
                    "attributionprefix": null, "zoom": initialZoom, "maxzoom": 18, "minzoom": 0, "extent": [[-90,
                        -180], [90,
                        180]], "resetview": true, "srid": null, "fitextent": true},
            options = {djoptions: djoptions, initfunc: loadmap,
                       globals: false, callback: window.map_init_basic};
        var this_map = L.Map.djangoMap('tigamap', options);
        console.log(this_map);
    }
    var loadevents = ["load"];
    if (loadevents.length === 0) loadmap();
    else if (window.addEventListener) for (var i=0; i<loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
    else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);

})();
</script>


{% endblock %}
