{% extends "tigamap/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load leaflet_tags %}


{% block head_additions %}

     <script src="{% static "tigamap/tigamap_scripts.js" %}"></script>

        {% leaflet_js plugins="marker_cluster_yellow" %}
        {% leaflet_css plugins="marker_cluster_yellow" %}

{% endblock %}

{% block leaflet_code %}

    <script type="text/javascript">

        function map_init_basic(map, options) {

            map.on('zoomend', function(e){
                saveMapState(map)
            });
            map.on('dragend', function(e){
                saveMapState(map)
            });

            var markers_clustered = new L.MarkerClusterGroup();


            var YellowIcon = L.Icon.Default.extend({
                options: {
                    iconUrl: '{% static "tigamap/yellow_icon.png" %}'
                }
            });

            thisIcon = new YellowIcon();


            var cluster_marker;
            var popup_text;

            {% for report in report_list %}
                {% if report.lat != None and report.lon != None %}
                    cluster_marker = L.marker([{{ report.lat }}, {{ report.lon }}], {icon: thisIcon});

                    markers_clustered.addLayer(cluster_marker);
                {% endif %}
            {% endfor %}


            markers_clustered.addTo(map);

        }

    </script>


{%  endblock %}

{% block main_body %}

<div id="tigamap" class="leaflet-container-default"></div>
<script type="text/javascript">
(function () {

    function loadmap() {

				var centerLat = loadSavedLat();
				var centerLng = loadSavedLng();
				var initialZoom = loadSavedZoom();

				if (isNaN(centerLat) || isNaN(centerLng)) {
					centerLat = 40.0000;
					centerLng = -4.0000;
				}

				if (isNaN(initialZoom)) {
					initialZoom = 6;
				}


        var djoptions = {"layers": [["OSM", "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                    "\u00a9 <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"]],
                    "minimap": false, "scale": "metric", "center": [centerLat, centerLng], "tilesextent": [],
                    "attributionprefix": null, "zoom": initialZoom, "maxzoom": 18, "minzoom": 0, "extent": [[-90,
                        -180], [90,
                        180]], "resetview": true, "srid": null, "fitextent": true},
            options = {djoptions: djoptions, initfunc: loadmap,
                       globals: false, callback: window.map_init_basic};
        L.Map.djangoMap('tigamap', options);
    }
    var loadevents = ["load"];
    if (loadevents.length === 0) loadmap();
    else if (window.addEventListener) for (var i=0; i<loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
    else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);

})();
</script>


{% endblock %}
