{# NOTE THIS IS JUST THE START - I AM PUTTING THIS OFF FOR THE MOMENT #}
{% extends "tigamap/app.html" %}
{% load staticfiles %}

{% block bootstrap_css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "tigamap/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css" %}>
{% endblock %}

    {% block fa_css %}
        <!-- FA CSS -->
        <link rel="stylesheet" href={% static "tigamap/font-awesome-4.2.0/css/font-awesome.min.css" %}>
    {% endblock %}


{% block head_additions %}
    <link rel="stylesheet" href={% static "tigamap/form_style.css" %}>
{% endblock %}

{% block body_property_extras %}role="document"{% endblock %}

{% block page_id %}routes{% endblock %}

{% block main_body %}

    <div class="container theme-showcase" role="main">

        <div class="starter-template" style="position:relative">

        <div id="page_title" class="page-header">
            {% block title %}<h1>Report</h1>{% endblock %}
</div>
        <div id="new_route_form">

            {% if form.is_multipart %}
                <form role="form" enctype="multipart/form-data" method="post" action="#">{% csrf_token %}
            {% else %}
                <form role="form" method="post" action="#">{% csrf_token %}
            {% endif %}
            {{ form.as_p }}
            <input id="submit_button" type="submit" value="Submit"/> {% block cancel_button %}{% endblock %}

            </form>



        </div>

        <div id="progress_spinner" class="row text-center">
                  <i class="fa fa-refresh fa-5x fa-spin"></i>
    </div>

        </div>
    </div>


{% endblock %}

{% block end_body %}
{{ block.super }}


        <script>

    $("#progress_spinner").hide();
    $("#submit_button").click(function() {


        $("#new_route_form").hide();
        $("#page_title").html('<h1>Processing, please wait. (This may take a few minutes.)');
        $("#progress_spinner").show();

    })
    </script>


{% endblock %}