{% extends "tigamap/app.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load leaflet_tags %}

{% block leaflet_code %}

<script type="text/javascript">


    function map_init_basic (map, options) {

            map.on('zoomend', function(e){
                saveMapState(map)
            });
            map.on('dragend', function(e){
                saveMapState(map)
            });


        {% for area in area_list %}

        var popup_text = '<p><b>background fixes</b> = {{ area.background_fixes }}<br><i>fixes taken at random times (Android only)</i></p><p><b>report fixes</b> = {{ area.report_fixes }}<br><i>fixes from reports (both sites and adults)</i></p><p><b>adult reports</b> = {{ area.adult_reports }}<br><i>number of adult reports</i></p><p><b>rate</b> = {{ area.oe_rate|floatformat:2 }}<br><i>[adult reports] / ([background fixes] + [report fixes])</i>';

        var fillOpacity = 0;
            {% if area.oe_rate > 0 %}
            fillOpacity = (2.0 * {{ area.oe_rate }})/3.0;
            {% endif %}

        L.polygon([
        [{{ area.lat }}, {{ area.lon }}],
        [{{ area.lat }} + 0.05, {{ area.lon }}],
        [{{ area.lat }} + 0.05, {{ area.lon }}  + 0.05],
        [{{ area.lat }}, {{ area.lon }} + 0.05]
        ], {weight:.5, opacity: 1, color: '#000', fillOpacity: fillOpacity, fillColor: '#f00'}).bindPopup(popup_text).addTo(map);

         {% endfor %}
    }
</script>

{% endblock %}

