{% extends "tigamap/base.html" %}

{% load staticfiles %}

{% load leaflet_tags %}

{% block leaflet_code %}

    {% if type == 'adult' %}
        {% leaflet_js plugins="marker_cluster_yellow, oms" %}
        {% leaflet_css plugins="marker_cluster_yellow, oms" %}
   {% else %}
        {% leaflet_js plugins="marker_cluster_blue, oms" %}
        {% leaflet_css plugins="marker_cluster_blue, oms" %}
    {% endif %}


    <script type="text/javascript">
        function map_init_basic(map, options) {

            var oms = new OverlappingMarkerSpiderfier(map);

            var markers_all = new L.MarkerClusterGroup();
            var markers_medium = new L.MarkerClusterGroup();
            var markers_high = new L.MarkerClusterGroup();

            var low = new L.LayerGroup();
            var high = new L.LayerGroup();

            var YellowIcon = L.Icon.Default.extend({
                options: {
                    iconUrl: '{% static "tigamap/yellow_icon.png" %}'
                }
            });

            var thisIcon = new L.Icon.Default;
            {% if type == 'adult' %}
                thisIcon = new YellowIcon();
            {% endif %}

            var marker;

            {% for report in report_list %}
                {% if report.lat != None and report.lon != None %}
                    marker = L.marker([{{ report.lat }}, {{ report.lon }}], {icon: thisIcon});
                    markers_all.addLayer(marker)
                    oms.addMarker(marker);
                    {% if report.tigaprob > 0 %}
                        marker = L.marker([{{ report.lat }}, {{ report.lon }}], {icon: thisIcon});
                        markers_medium.addLayer(marker)
                        oms.addMarker(marker);
                    {% endif %}
                    {% if report.tigaprob == 1 %}
                        marker = L.marker([{{ report.lat }}, {{ report.lon }}], {icon: thisIcon});
                        markers_high.addLayer(marker)
                        oms.addMarker(marker);

                    {% endif %}
                {% endif %}
            {% endfor %}

            var baseMaps = {
                "All reports": markers_all,
                "Medium-probability reports": markers_medium,
                "High-probability reports": markers_high
            };

            markers_all.addTo(map);

            L.control.layers(baseMaps, null).addTo(map);
        }
    </script>

{% endblock %}


{% block logo %}
    <img src={% static "tigamap/tigatrapp_logo.png" %} style="position:absolute;width:30%;bottom:20px;right:10px">
{% endblock %}
