{% extends "tigamap/app.html" %}
{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}

{% block leaflet_code %}

<style>
table {
    border-collapse: collapse;
    font-size:small;
}

table, td, th {
    border: 1px solid black;
}

td {
    padding: 5px;
    vertical-align: top;
    text-align: right;
}


</style>

    {% if report_type == 'adults' %}
        {% leaflet_js plugins="marker_cluster_yellow" %}
        {% leaflet_css plugins="marker_cluster_yellow" %}
   {% else %}
        {% leaflet_js plugins="marker_cluster_blue" %}
        {% leaflet_css plugins="marker_cluster_blue" %}
    {% endif %}


    <script type="text/javascript">

        function map_init_basic(map, options) {

            map.on('zoomend', function(e){
                saveMapState(map)
            });
            map.on('dragend', function(e){
                saveMapState(map)
            });



            var markers_clustered = new L.MarkerClusterGroup();

            var markers_basic = new L.LayerGroup();

            var YellowIcon = L.Icon.Default.extend({
                options: {
                    iconUrl: '{% static "tigamap/yellow_icon.png" %}'
                }
            });

            var YellowIconValidated = L.Icon.Default.extend({
                options: {
                    iconUrl: '{% static "tigamap/yellow_icon_validated.png" %}'
                }
            });

             var YellowIconContravalidated = L.Icon.Default.extend({
                options: {
                    iconUrl: '{% static "tigamap/yellow_icon_contravalidated.png" %}'
                }
            });

            var BlueIconValidated = L.Icon.Default.extend({
                options: {
                    iconUrl: '{% static "tigamap/blue_icon_validated.png" %}'
                }
            });


            var BlueIconContravalidated = L.Icon.Default.extend({
                options: {
                    iconUrl: '{% static "tigamap/blue_icon_contravalidated.png" %}'
                }
            });


            var thisIcon = new L.Icon.Default;
            var thisIconValidated = new L.Icon.Default;
            var thisIconContravalidated = new L.Icon.Default;
            {% if report_type == 'adults' %}
                thisIcon = new YellowIcon();
                thisIconValidated = new YellowIconValidated();
                thisIconContravalidated = new YellowIconContravalidated();
            {% elif report_type == 'sites' %}
                thisIconValidated = new BlueIconValidated();
                thisIconContravalidated = new BlueIconContravalidated();
            {% endif %}

            var cluster_marker;
            var basic_marker;
            var popup_text;

            {% for report in report_list %}
                {% with lat=report.lat lon=report.lon %}
                {% if lat != None and lon != None %}
                    {% if validation == 'mark_validated' %}
                        {% with score=report.get_crowdcrafting_score %}
                            cluster_marker = L.marker([{{ lat }}, {{ lon }}], {icon: {% if score > 0 %} thisIconValidated {% elif score and score < 0 %} thisIconContravalidated{% else %} thisIcon{% endif %}});
                            basic_marker = L.marker([{{ lat }}, {{ lon }}], {icon: {% if score > 0 %} thisIconValidated{% elif score and score < 0 %} thisIconContravalidated {% else %} thisIcon{% endif %}});
                    {% if report_type == 'adults' %}
                        popup_text = '<table><tr><td>prob:</td><td>'+
                                '{{ report.tigaprob_text }}</td></tr><tr><td>cc score:</td><td>{{ score|floatformat:2 }}</td></tr><tr><td>lat:</td><td>{{ lat }}</td></tr><tr><td>lon:</td><td>{{ lon }}</td></tr></table>{{ report.get_validated_photo_html | safe }}';
                   {%  else %}
                        popup_text = '<table><tr><td>{% trans 'type' %}:</td><td>'+
                                '{{ report.breeding_site_type }}</td></tr><tr><td>cc score:</td><td>{{ score|floatformat:2  }}</td></tr><tr><td>lat:</td><td>{{ lat }}</td></tr><tr><td>lon:</td><td>{{ report.lon }}</td></tr></table>{{ report.get_validated_photo_html | safe }}';
                   {%  endif %}

                        {% endwith %}
                    {% else %}
                    cluster_marker = L.marker([{{ lat }}, {{ lon }}], {icon: {% if  validation == 'mark_validated' %} {% if report.get_is_crowd_validated == True %} thisIconValidated{% elif report.get_is_crowd_contravalidated == True %} thisIconContravalidated{% else %} thisIcon{% endif %}{% else %} thisIcon{% endif %}});
                    basic_marker = L.marker([{{ lat }}, {{ lon }}], {icon: {% if  validation == 'mark_validated' %} {% if report.get_is_crowd_validated == True %} thisIconValidated{% elif report.get_is_crowd_contravalidated == True %} thisIconContravalidated{% else %} thisIcon{% endif %}{% else %} thisIcon{% endif %}});

                    {% if report_type == 'adults' %}
                        popup_text = '<table><tr><td>prob:</td><td>'+
                                '{{ report.tigaprob_text }}</td></tr><tr><td>lat:</td><td>{{ lat }}</td></tr><tr><td>lon:</td><td>{{ lon }}</td></tr></table>';
                   {%  else %}
                        popup_text = '<table><tr><td>{% trans 'type' %}:</td><td>'+
                                '{{ report.breeding_site_type }}</td></tr><tr><td>lat:</td><td>{{ lat }}</td></tr><tr><td>lon:</td><td>{{ report.lon }}</td></tr></table>';
                   {%  endif %}
                   {% endif %}
                   {% if detailed == 'detailed' %}
                       popup_text = popup_text + '<br/>Date: {{ report.formatted_date }}';
                       popup_text = popup_text + '<br/><br/>User: {{ report.user }}';
                       popup_text = popup_text + '<br/><br/>OS: {{ report.os }}';
                       {% autoescape off %}
                       popup_text = popup_text + '<br/><br/>Responses: {{ report.response_html | escapejs }}';
                       popup_text = popup_text + '<br/><br/>Note: {{ report.note | escapejs }}';
                       {% endautoescape %}
                       popup_text = popup_text + '<br/><br/>Photos: {{ report.photo_html | safe }}';
                   {%  endif %}
                        cluster_marker.bindPopup(popup_text);
                        basic_marker.bindPopup(popup_text);

                    markers_clustered.addLayer(cluster_marker);
                    markers_basic.addLayer(basic_marker);
                {% endif %}
                {% endwith %}
            {% endfor %}

            var baseMaps = {
                "{% trans 'clusters' %}": markers_clustered,
                "{% trans 'points' %}": markers_basic
            };

            markers_clustered.addTo(map);

            L.control.layers(baseMaps, null).addTo(map);
        }

    </script>


{% endblock %}


