{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}

<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="format-detection" content="telephone=no">
<title>Tigatrapp Map</title>


<script src="{% static "tigamap/tigamap_scripts.js" %}"></script>

<link rel="stylesheet" href={% static "tigamap/bootstrap-3.1.1-dist/css/bootstrap.min.css" %}>
<link rel="stylesheet" href={% static "tigamap/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css" %}>
<link rel="stylesheet" href={% static "tigamap/bootstrap-select/css/bootstrap-select.min.css" %}>

<script src="{% static "tigamap/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "tigamap/jquery.cookie.js" %}"></script>

{% leaflet_js plugins="marker_cluster_yellow_single" %}
{% leaflet_css plugins="marker_cluster_yellow_single" %}

<link id="cluster_color_css" rel="stylesheet" href={% static "tigamap/MarkerCluster.tigamap_yellow_single.css" %}>

<link rel="stylesheet" href={% static "tigamap/base_style.css" %}>
<link rel="stylesheet" href={% static "tigamap/map_app_style.css" %}>
<link rel="stylesheet" href={% static "tigamap/tigamap_shrink.css" %}>


{% block conditional_legend %}

    {% if fullscreen == "on" %}
        <style>


            @media (max-width: 700px), (max-height: 550px) {
                .legend, .site_legend, .coverage_legend {
                    display: none;
                }

                #hand-left {
                    display: none;
                }

                #more_info_div {
                    display: none;
                }

                #more_info_button {
                    display: none;
                }

                .legend-main-table {
                    display: none;
                }

                .legend-main-table, .legend-main-table tr, .legend-main-table td {
                    display: none;
                }

                .legend-popup-area {
                    display: none;
                }

                .legend-popup {
                    display: none;
                }

                .legend-popup-table {
                    display: none;
                }

                .legend-popup-table td {
                    display: none;
                }

                .legend-popup-table a {
                    display: none;
                }

                .legend-popup-infodiv {
                    display: none;
                }

                .info-button-background {
                    display: none;
                }

                .info-button-background img {
                    display: none;
                }

                .infodiv-table {
                    display: none;
                }

                .infodiv-table td {
                    display: none;
                }
            }

        </style>
    {% endif %}
{% endblock %}

{% block legend %}
    {% if legend == "on" %}

        <link id="legend_css" rel="stylesheet" href={% static "tigamap/tigamap_legend.css" %}>

    {% endif %}
{% endblock %}

<script>

    var selected_year = parseInt("{{ year }}");
    if (selected_year == null || isNaN(selected_year) || !isFinite(selected_year)) {
        selected_year = 2015;
    }
    var selected_month = 0;
    var selected_type = "{{ map_type }}";
    var selected_validation = parseInt("{{ validation_score }}");
    if (selected_validation == null || isNaN(selected_validation) || !isFinite(selected_validation)) {
        selected_validation = -2;
    }

    var scroll_wheel_zoom = "{{ scroll_zoom }}" == 'on';

    var min_lat = parseFloat("{{ min_lat }}"), min_lon = parseFloat("{{ min_lon }}"), max_lat = parseFloat("{{ max_lat }}"), max_lon = parseFloat("{{ max_lon }}")

    if (min_lat == null || isNaN(min_lat) || !isFinite(min_lat) || min_lon == null || isNaN(min_lon) || !isFinite(min_lon) || max_lat == null || isNaN(max_lat) || !isFinite(max_lat) || max_lon == null || isNaN(max_lon) || !isFinite(max_lon)) {
        min_lat = -90, min_lon = -180, max_lat = 90, max_lon = 180;
    }

    var min_zoom = parseInt("{{ min_zoom }}");
    if (min_zoom == null || isNaN(min_zoom) || !isFinite(min_zoom)) {
        min_zoom = 0;
    }
    var max_zoom = parseInt("{{ max_zoom }}");
    if (max_zoom == null || isNaN(max_zoom) || !isFinite(max_zoom)) {
        max_zoom = 18;
    }


    var validation_button_subtext_adults_high = "{% trans 'validation_button_subtext_adults_high' %}";
    var validation_button_subtext_adults_medium = "{% trans 'validation_button_subtext_adults_medium' %}";
    var validation_button_subtext_adults_all = "{% trans 'validation_button_subtext_adults_all' %}";

    var validation_button_subtext_sites_high = "{% trans 'validation_button_subtext_sites_high' %}";
    var validation_button_subtext_sites_medium = "{% trans 'validation_button_subtext_sites_medium' %}";
    var validation_button_subtext_sites_all = "{% trans 'validation_button_subtext_sites_all' %}";

</script>

{% block cookiewarning %}

    {% if fullscreen == "on" %}

        <script>
            // The following code is adapted from Creare's 'Implied Consent' EU Cookie Law Banner v:2.4
            // Conceived by Robert Kent, James Bavington & Tom Foyster

            var dropCookie = true;                      // false disables the Cookie, allowing you to style the banner
            var cookieDuration = 14;                    // Number of days before the cookie expires, and the banner reappears
            var cookieName = 'complianceCookie';        // Name of our cookie
            var cookieValue = 'on';                     // Value of cookie

            function createDiv() {
                var bodytag = document.getElementsByTagName('body')[0];
                var div = document.createElement('div');
                div.style.textAlign = 'center';
                div.style.backgroundColor = '#F6D10A';
                div.setAttribute('id', 'cookie-law');
                div.innerHTML = "{% trans 'our-website-uses-cookies' %} <a href='{% url 'help.show_privacy' %}'' rel='nofollow' title='{% trans 'privacy-policy' %}'>{% trans 'privacy-policy' %}</a> {% trans 'and'  %} <a href='{% url 'help.show_terms' %}' rel='nofollow' title='{% trans 'user-agreement' %}'>{% trans 'user-agreement' %}</a>.&nbsp;&nbsp;<a class='close-cookie-banner' href='javascript:void(0);' onclick='removeMe();'><span style='cursor: pointer;'>X</span></a>";
                // Be advised the Close Banner 'X' link requires jQuery

                // bodytag.appendChild(div); // Adds the Cookie Law Banner just before the closing </body> tag
                // or
                bodytag.insertBefore(div, bodytag.firstChild); // Adds the Cookie Law Banner just after the opening <body> tag

                document.getElementsByTagName('body')[0].className += ' cookiebanner'; //Adds a class tothe <body> tag when the banner is visible

            }


            function createCookie(name, value, days) {
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    var expires = "; expires=" + date.toGMTString();
                }
                else var expires = "";
                if (window.dropCookie) {
                    document.cookie = name + "=" + value + expires + "; path=/";
                }
            }

            function checkCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }

            function eraseCookie(name) {
                createCookie(name, "", -1);
            }

            window.onload = function () {
                if (checkCookie(window.cookieName) != window.cookieValue) {
                    createDiv();
                }
            }

            function removeMe() {
                var element = document.getElementById('cookie-law');
                element.parentNode.removeChild(element);
                createCookie(window.cookieName, window.cookieValue, window.cookieDuration); // Create the cookie

            }

            //


        </script>
    {% endif %}
{% endblock %}

<style>
    .leaflet-container {
        /* all maps */
        width: 100%;
        height: 100%;
    }

    .navbar-form {
        padding-right: 1px;
        padding-left: 1px;
    }

    .leaflet-control-zoom-out.leaflet-bar-part {
        display: none !important;
    }

</style>

<!-- FA CSS -->
<link rel="stylesheet" href={% static "tigamap/font-awesome-4.2.0/css/font-awesome.min.css" %}>


<script type="text/javascript">

var percent_done;
var progress_bar;
var progress_bar_container;


var full_data = [];
var full_coverage_data = [];

var markers_clustered = new L.MarkerClusterGroup();
var coverage_fg = new L.FeatureGroup();


var YellowRedIcon = L.Icon.Default.extend({
    options: {
        iconUrl: '{% static "tigamap/yellow_red_dot.png" %}'
    }
});
var YellowOrangeIcon = L.Icon.Default.extend({
    options: {
        iconUrl: '{% static "tigamap/yellow_orange_dot.png" %}'
    }
});
var YellowWhiteIcon = L.Icon.Default.extend({
    options: {
        iconUrl: '{% static "tigamap/yellow_white_dot.png" %}'
    }
});
var YellowGreyIcon = L.Icon.Default.extend({
    options: {
        iconUrl: '{% static "tigamap/yellow_grey_dot.png" %}'
    }
});
var YellowBlackIcon = L.Icon.Default.extend({
    options: {
        iconUrl: '{% static "tigamap/yellow_black_dot.png" %}'
    }
});

var YellowYellowIcon = L.Icon.Default.extend({
    options: {
        iconUrl: '{% static "tigamap/yellow_yellow_dot.png" %}'
    }
});


var BlueRedIcon = L.Icon.Default.extend({
    options: {
        iconUrl: '{% static "tigamap/blue_red_dot.png" %}'
    }
});
var BlueOrangeIcon = L.Icon.Default.extend({
    options: {
        iconUrl: '{% static "tigamap/blue_orange_dot.png" %}'
    }
});
var BlueWhiteIcon = L.Icon.Default.extend({
    options: {
        iconUrl: '{% static "tigamap/blue_white_dot.png" %}'
    }
});
var BlueGreyIcon = L.Icon.Default.extend({
    options: {
        iconUrl: '{% static "tigamap/blue_grey_dot.png" %}'
    }
});
var BlueBlackIcon = L.Icon.Default.extend({
    options: {
        iconUrl: '{% static "tigamap/blue_black_dot.png" %}'
    }
});

var BlueBlueIcon = L.Icon.Default.extend({
    options: {
        iconUrl: '{% static "tigamap/blue_blue_dot.png" %}'
    }
});


var yellow_red_icon = new YellowRedIcon();
var yellow_orange_icon = new YellowOrangeIcon();
var yellow_white_icon = new YellowWhiteIcon();
var yellow_grey_icon = new YellowGreyIcon();
var yellow_black_icon = new YellowBlackIcon();
var yellow_yellow_icon = new YellowYellowIcon();

var blue_red_icon = new BlueRedIcon();
var blue_orange_icon = new BlueOrangeIcon();
var blue_white_icon = new BlueWhiteIcon();
var blue_grey_icon = new BlueGreyIcon();
var blue_black_icon = new BlueBlackIcon();
var blue_blue_icon = new BlueBlueIcon();


var day_just_finished = 0;
var popup_options = {
    'minWidth': 182,
    'maxHeight': 330,
    'closeButton': false
};

function rc2s(response_code) {
    if (response_code == null) {
        return "{% trans 'not_sure' %}"
    } else {
        return response_code == 1 ? "{% trans 'yes' %}" : (response_code == 0 ? "{% trans 'not_sure' %}" : "{%  trans 'no' %}");
    }
}


function sc2s(site_cat) {

    if (site_cat != null) {
        if (site_cat == 0) {
            return "{% trans 'storm-drain' %}";
        }
        else if (site_cat == 1) {
            return "{% trans 'Fountain' %}";
        }
        else if (site_cat == 2) {
            return "{% trans 'Basin' %}";
        }
        else if (site_cat == 3) {
            return "{% trans 'Bucket' %}";
        }
        else if (site_cat == 4) {
            return "{% trans 'Well' %}";
        }
        else {
            return "{% trans 'Other' %}";
        }
    } else {
        return '';
    }
}

function get_icon(report) {
    var score = -3;
    if (report.type == 'adult') {
        if (report.movelab_annotation != null) {
            if (report.movelab_annotation.tiger_certainty_category != null) {
                score = report.movelab_annotation.tiger_certainty_category;
            }
            return score == 2 ? yellow_red_icon : (score == 1 ? yellow_orange_icon : (score == -1 ? yellow_grey_icon : (score == -2 ? yellow_black_icon : (score == 0 ? yellow_white_icon : yellow_yellow_icon))));
        } else {
            return yellow_yellow_icon;
        }
    } else {
        if (report.movelab_annotation != null) {
            if (report.movelab_annotation.site_certainty_category != null) {
                score = report.movelab_annotation.site_certainty_category;
            }
            return score == 2 ? blue_red_icon : (score == 1 ? blue_orange_icon : (score == -1 ? blue_grey_icon : (score == -2 ? blue_black_icon : (score == 0 ? blue_white_icon : blue_blue_icon))));
        } else {
            return blue_blue_icon;
        }
    }

}

function get_color_class(score) {
    return score == 2 ? 'red' : (score == 1 ? 'orange' : (score == -1 ? 'grey' : (score == -2 ? 'black' : 'white')));
}


function get_cat_text(score, type) {
    if (type == 'adult') {
        return score == 2 ? '{% trans 'expert_cat_tiger' %}' : (score == 1 ? '{% trans 'expert_cat_possible_tiger' %}' : (score == -1 ? '{% trans 'expert_cat_possible_other' %}' : (score == -2 ? '{% trans 'expert_cat_other' %}' : (score == 0 ? '{% trans 'expert_cat_unknown' %}' : (score == -3 ? '{% trans 'expert_cat_unclassified' %}' : '' )))));
    } else {
        return score == 2 ? '{% trans 'expert_cat_site' %}' : (score == 1 ? '{% trans 'expert_cat_possible_site' %}' : (score == -1 ? '{% trans 'expert_cat_possible_other_site' %}' : (score == -2 ? '{% trans 'expert_cat_other_site' %}' : (score == 0 ? '{% trans 'expert_cat_unknown' %}' : (score == -3 ? '{% trans 'expert_cat_unclassified' %}' : '' )))));

    }
}

function make_experts_row(score, type) {
    if (score != null) {
        return '<tr><td><div class="color-box ' + get_color_class(score) + '">' + '{% trans 'expert_row_title' %}: ' + get_cat_text(score, type) + '</div></td></tr>';
    } else {
        return '';
    }
}

function make_crowd_row(score, n_responses, type) {
    if (score != null) {
        return '<tr><td><div class="color-box ' + get_color_class(score) + '">' + '{% trans 'crowd_row_title' %}: ' + get_cat_text(score, type) + (n_responses < 30 ? '<br><a href="http://crowdcrafting.org/app/Tigafotos/" target="_blank"><span style="x-small">{% trans 'crowd_row_more_responses_needed' %}</span></a>' : '') + '</div></td></tr>';
    } else {
        return '';
    }
}


function make_user_response_row(responses) {
    if (responses != null) {
        return '<tr><td><table class="response-table"><tr class="response-table"><td class="response-table question border-right">{% trans 'user_response_row_q1' %}</td><td class="response-table question border-right">{% trans 'user_response_row_q2' %}</td><td class="response-table question">{% trans 'user_response_row_q3' %}</td><tr><td class="response-table response border-right">' + rc2s(responses.q1_response) + '</td><td class="response-table response border-right">' + rc2s(responses.q2_response) + '</td><td class="response-table response">' + rc2s(responses.q3_response) + '</td></tr></table></td></tr>';
    } else {
        return '';
    }
}


function make_user_response_row_sites(responses, site_cat) {
    if (responses != null) {
        if ('q1_response' in responses) {
            return '<tr><td><table class="response-table"><tr class="response-table"><td class="response-table question border-right">{% trans 'user_response_row_q_sitetype' %}</td><td class="response-table question border-right">{% trans 'user_response_row_sites_q1' %}</td><td class="response-table question">{% trans 'user_response_row_sites_q2' %}</td><tr><td class="response-table response border-right">' + sc2s(site_cat) + '</td><td class="response-table response border-right">' + rc2s(responses.q1_response) + '</td><td class="response-table response">' + rc2s(responses.q2_response) + '</td></tr></table></td></tr>';
        } else if ('q1_response_new' in responses) {
            return '<tr><td><table class="response-table"><tr class="response-table"><td class="response-table question border-right">{% trans 'user_response_row_q_sitetype' %}</td><td class="response-table question">{% trans 'user_response_row_sites_q1_new' %}</td></tr><tr><td class="response-table response border-right">' + sc2s(site_cat) + '</td><td class="response-table response">' + rc2s(responses.q1_response_new) + '</td></tr><tr class="response-table"><td class="response-table question border-right">{% trans 'user_response_row_sites_q2_new' %}</td><td class="response-table question">{% trans 'user_response_row_sites_q3_new' %}</td></tr><tr><td class="response-table response border-right">' + rc2s(responses.q2_response_new) + '</td><td class="response-table response">' + rc2s(responses.q2_response_new) + '</td></tr></table></td></tr>';
        } else {
            return '';
        }
    } else {
        return ''
    }
}


function make_photo_row(photo_html) {
    if (photo_html != null) {
        return '<tr><td align="center" style="background-color: black;">' + photo_html + '</td></tr>';
    } else {
        return '';
    }
}


function make_user_note_row(notes) {
    if (notes != null && notes != '') {
        return '<tr><td><div class="note-div">' + notes + '</div></td></tr>';
    } else {
        return '';
    }
}

function make_popup_text(value) {
    var validation_link = '';
    {% if request.user and request.user.userstat and request.user.userstat.is_expert or request.user.userstat.is_superexpert or request.user.userstat.is_movelab %}
        validation_link = '<br><a style="color:white;" class="btn btn-primary btn-sm" href="{% url 'expert_report_status' %}?version_uuid=' + value.version_UUID + '">View in Expert System <span class="glyphicon glyphicon-open"></span></a>';
    {% endif %}
    if (value.type == 'adult') {
        if (value.movelab_annotation != null) {
            return '<table class="popup-table">' + make_experts_row(value.movelab_annotation.tiger_certainty_category, value.type) + make_crowd_row(value.movelab_annotation.crowdcrafting_score_cat, value.movelab_annotation.crowdcrafting_n_response, value.type) + make_user_response_row(value.tiger_responses) + make_photo_row(value.movelab_annotation.photo_html) + make_user_note_row(value.movelab_annotation.edited_user_notes) + '</table>' + validation_link;
        } else {
            return '<table class="popup-table">' + make_user_response_row(value.tiger_responses) + '</table>' + validation_link;
        }
    } else {
        if (value.movelab_annotation != null) {
            return '<table class="popup-table">' + make_experts_row(value.movelab_annotation.site_certainty_category, value.type) + make_crowd_row(value.movelab_annotation.crowdcrafting_score_cat, value.movelab_annotation.crowdcrafting_n_response, value.type) + make_user_response_row_sites(value.site_responses, value.site_cat) + make_photo_row(value.movelab_annotation.photo_html) + make_user_note_row(value.movelab_annotation.edited_user_notes) + '</table>' + validation_link;
        } else {
            return '<table class="popup-table">' + make_user_response_row_sites(value.site_responses, value.site_cat) + '</table>' + validation_link;
        }
    }
}


function make_coverage_popup_text(n_fixes) {
    var fixes = '{% trans 'fixes' %}';
    if (n_fixes == 1) {
        fixes = '{% trans 'fix' %}';
    }
    return '<p style="text-align:center; font-size: 1.3em;">' + n_fixes + ' ' + fixes + '</p>';
}

function make_opacity(n_fixes) {
    var opacity = .3;
    if (n_fixes > 100) {
        opacity = .5;
    }
    if (n_fixes > 1000) {
        opacity = .7;
    }
    return opacity;
}

function add_to_layer(data, this_layer, filter) {
    $.each(data, function (index, value) {
        if (value != null && value.latest_version && value.visible && value.lat != null && value.lon != null && value.type != null && value.type == selected_type && (!filter ||
                ( (selected_year == 0 || value.creation_year == selected_year) && (selected_month == 0 || value.creation_month == selected_month) && (selected_validation == -2 || (value.movelab_annotation != null && ((value.type == 'adult' && value.movelab_annotation.tiger_certainty_category != null && value.movelab_annotation.tiger_certainty_category >= selected_validation) || (value.type == 'site' && value.movelab_annotation.site_certainty_category != null && value.movelab_annotation.site_certainty_category >= selected_validation) ) ))))) {
            this_layer.addLayer(L.marker([value.lat, value.lon], {icon: get_icon(value)}).bindPopup(make_popup_text(value), popup_options));
        }
    });
}


var cov_color = '#f00';


function add_to_coverage_fg(data, this_fg, filter) {
    $.each(data, function (index, value) {
        if (value != null && value.lat != null && value.lon != null && value.n_fixes != null && (!filter ||
                ( (selected_year == 0 || value.year == selected_year) && (value.month == selected_month) ))) {

            this_fg.addLayer(L.polygon([
                [value.lat, value.lon],
                [value.lat + 0.05, value.lon],
                [value.lat + 0.05, value.lon + 0.05],
                [value.lat, value.lon + 0.05]
            ], {weight: 0.5, opacity: 1, color: cov_color, fillOpacity: make_opacity(value.n_fixes), fillColor: cov_color}).bindPopup(make_coverage_popup_text(value.n_fixes), popup_options));

        }
    });

}

function make_validation_button_subtext() {
    var vo_high = $("#validation_option_high");
    var vo_med = $("#validation_option_medium");
    var vo_all = $("#validation_option_all");

    if (selected_type == 'site') {
        vo_high.data('subtext', validation_button_subtext_sites_high);
        vo_med.data('subtext', validation_button_subtext_sites_medium);
        vo_all.data('subtext', validation_button_subtext_sites_all);
    } else if (selected_type == 'adult') {
        vo_high.data('subtext', validation_button_subtext_adults_high);
        vo_med.data('subtext', validation_button_subtext_adults_medium);
        vo_all.data('subtext', validation_button_subtext_adults_all);
    }
    $("#validation_select").selectpicker("refresh")
}


function apply_filter() {
    var window_width = $(window).width();
    var window_height = $(window).height();
    markers_clustered.clearLayers();
    coverage_fg.clearLayers();
    if (selected_type == 'site') {
        add_to_layer(full_data, markers_clustered, true);
        $(".coverage_legend").hide();
        $(".legend").hide();
        if (window_width > 700 && window_height > 550) {
            $(".site_legend").show();
        }
        //    $(".marker-cluster").addClass('blue');
        $("#cluster_color_css").attr({href: "/static/tigamap/MarkerCluster.tigamap_blue.css"});
        $("#legend_css").attr({href: "/static/tigamap/tigamap_legend.css"});
        $("#validation_select, .btn[data-id=validation_select]").prop('disabled', false);
        make_validation_button_subtext();
    } else if (selected_type == 'adult') {
        add_to_layer(full_data, markers_clustered, true);
        $(".coverage_legend").hide();
        $(".site_legend").hide();
        if (window_width > 700 && window_height > 550) {
            $(".legend").show();
        }
        //    $(".marker-cluster").removeClass('blue');
        $("#cluster_color_css").attr({href: "/static/tigamap/MarkerCluster.tigamap_yellow_single.css"});
        $("#legend_css").attr({href: "/static/tigamap/tigamap_legend.css"});
        $("#year_select, #month_select, #validation_select, .btn[data-id=year_select], .btn[data-id=month_select], .btn[data-id=validation_select]").prop('disabled', false);
        make_validation_button_subtext();
    } else if (selected_type == 'coverage') {
        $("#validation_select, .btn[data-id=validation_select]").prop('disabled', true);
        $("#legend_css").attr({href: "/static/tigamap/tigamap_coverage_legend.css"});
        $(".legend").hide();
        $(".site_legend").hide();
        if (window_width > 700 && window_height > 550) {
            $(".coverage_legend").show();
        }
        add_to_coverage_fg(full_coverage_data, coverage_fg, true);
    }
}


function get_data(map, year, prog_percent) {
    $.ajax({
        url: 'http://{{ domain }}/static/all_reports' + year  + '.json',
        dataType: 'json',
        success: function (data) {

            if (data != null && data.length > 0) {
                add_to_layer(data, markers_clustered, true);
                full_data = full_data.concat(data);
                progress_bar.css('width', prog_percent.toString() + '%');
                if(prog_percent == 100){
                    progress_bar_container.fadeOut(2000);
                }
            }
        }
    });
}


function get_coverage_data(map) {
    $.ajax({
        url: 'http://{{ domain }}/static/coverage_month_data.json',
        contentType: 'application/json',
        dataType: 'json',
        success: function (data) {

            if (data != null && data.length > 0) {
                full_coverage_data = full_coverage_data.concat(data);
                apply_filter();
            }
        }
    });
}


function map_init_basic(map, options) {

    new L.Control.Zoom({ position: 'topright' }).addTo(map);

    map.on('zoomend', function (e) {
        saveMapState(map)
    });
    map.on('dragend', function (e) {
        saveMapState(map)
    });

    progress_bar = $("#progress_bar");
    progress_bar_container = $("#progress_bar_container");


    markers_clustered.addTo(map);

    coverage_fg.addTo(map);


    {% if fullscreen == 'off' %}
        get_data(map, {{ year }}, 100);
    {% else %}
    var all_years = ["2014", "2015", "2016"];
    for(var i = 0; i < all_years.length; i++){
        get_data(map, all_years[i], 100*(i+1)/all_years.length);
    }
    {% endif %}


    {% if fullscreen != 'off' or map_type == 'coverage' %}
    get_coverage_data(map);
    {% endif %}




}

</script>

{% block extra_style %}
    {% if fullscreen == "off" %}
        <style>
            body {
                padding-top: 0 !important;
            }
        </style>

    {% endif %}


{% endblock %}


</head>
<body>


{% block navbar %}
    {% if fullscreen == 'on' %}
        <!-- NAVBAR
        ================================================== -->
        <div class="navbar-wrapper">
            <div class="container">

                <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">{% trans "navbar_toggle_navigation" %}</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand shrinking-text" title="Tigatrapp Map" style="color:orange;">
                                <strong>Tigatrapp Map</strong></div>
                        </div>
                        <div class="navbar-collapse collapse">

                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <select id="year_select" class="selectpicker show-tick form-control"
                                            data-style="btn-primary" onchange="update_filters()">
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="0">{% trans 'fmap_All_years' %}</option>
                                    </select>
                                </div>
                            </form>


                            <form class="navbar-form navbar-left" role="search">

                                <div class="form-group">
                                    <select id="month_select" class="selectpicker show-tick form-control"
                                            data-style="btn-success" onchange="update_filters()">
                                        <option value="0">{% trans 'fmap_All_months' %}</option>
                                        <option value="1">{% trans 'January' %}
                                        </option>
                                        <option value="2">{% trans 'February' %}
                                        </option>
                                        <option value="3">{% trans 'March' %}</option>
                                        <option value="4">{% trans 'April' %}</option>
                                        <option value="5">{% trans 'May' %}</option>
                                        <option value="6">{% trans 'June' %}</option>
                                        <option value="7">{% trans 'July' %}</option>
                                        <option value="8">{% trans 'August' %}</option>
                                        <option value="9">{% trans 'September' %}
                                        </option>
                                        <option value="10">{% trans 'October' %}
                                        </option>
                                        <option value="11">{% trans 'November' %}
                                        </option>
                                        <option value="12">{% trans 'December' %}
                                        </option>
                                    </select>
                                </div>

                            </form>

                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <select id="type_select" class="selectpicker show-tick form-control"
                                            data-style="btn-warning" onchange="update_filters()">
                                        <option value="adult"
                                                data-subtext="{% trans 'fmap_Adult_tiger_mosquitoes' %}">{% trans 'fmap_Adults' %}</option>
                                        <option value="site"
                                                data-subtext="{% trans 'fmap_Tiger_mosquito_breeding_sites' %}">{% trans 'fmap_Breeding_sites' %}
                                        </option>
                                        <option value="coverage"
                                                data-subtext="{% trans 'fmap_Tigatrapp_coverage' %}">{% trans 'fmap_Coverage' %}</option>
                                    </select>
                                </div>
                            </form>

                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <select id="validation_select" class="selectpicker show-tick form-control"
                                            data-style="btn-info" onchange="update_filters()">
                                        <option id="validation_option_high" value="2"
                                                data-subtext="{% trans 'validation_button_subtext_adults_high' %}">{% trans 'validation_button_text_high' %}
                                        </option>
                                        <option id="validation_option_medium" value="1"
                                                data-subtext="{% trans 'validation_button_subtext_adults_medium' %}">{% trans 'validation_button_text_medium' %}
                                        </option>
                                        <option id="validation_option_all" value="-2"
                                                data-subtext="{% trans 'validation_button_subtext_adults_all' %}">{% trans 'validation_button_text_all' %}</option>
                                    </select>
                                </div>
                            </form>


                            <ul class="nav navbar-nav navbar-left">

                                <li>
                                    <a style="max-width: 20px;" href="{% trans 'map_help_url_new' %}"
                                       class="btn btn-inverse btn-lg"><span
                                            class="glyphicon glyphicon-info-sign"></span></a>
                                </li>


                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% if request.user.is_authenticated %}

                                    <li><p style="padding-left: 10px;" class="navbar-text">{{ request.user.username }} /
                                        <a href="{% url "auth_logout" %}">logout</a></p>
                                    </li>

                                {% endif %}

                            </ul>


                            <form style="max-width: 200px;" class="navbar-form navbar-right"
                                  action="{% url 'set_language' %}" method="post">
                                <div class="form-group">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>
                                    <select class="selectpicker show-tick form-control" name="language"
                                            onchange="this.form.submit()" data-style="btn-inverse">
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}
                                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                                    selected="selected"{% endif %}>
                                                {{ language.name_local|title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>

            </div>
        </div>

    {% endif %}
{% endblock %}

<div id="tigamap" class="leaflet-container-default"></div>

<div id="progress_bar_container" class="my-progress-bar-container">
    <div id="progress_bar" class="my-progress-bar">
    </div>
</div>

{% if legend == "on" %}
    <div class="coverage_legend" style="display: none;">

        <div class="legend-main-table-container">
            <table class="legend-main-table">
                <tr>
                    <td colspan="2">
                        <p style="font-weight: bold; font-size: 1.2em; text-align: center;">{% trans 'coverage_legend_main_title' %}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="background-color: rgba(255, 0,0,.7);padding:0; border: 1px solid red; width: 40px; height: 50px;"></div>
                        <br>

                    </td>
                    <td style="white-space: nowrap;">
                        >1000
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="background-color: rgba(255, 0,0,.5);padding:0; border: 1px solid red; width: 40px; height: 50px;"></div>
                        <br>
                    </td>
                    <td style="white-space: nowrap;">
                        101-1000
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="background-color: rgba(255, 0,0,.3);padding:0; border: 1px solid red; width: 40px; height: 50px;"></div>
                        <br>

                    </td>
                    <td style="white-space: nowrap;">

                        1-100

                    </td>
                </tr>
            </table>
        </div>
        <div class="legend-blurb"><p
                style="font-weight: bold; text-align: center">{% trans 'coverage_legend_info_title' %}</p>
            {% trans 'coverage_legend_info_blurb' %}
        </div>

        <div id="more_info_div"><span
                style="font-weight:bold; font-style:italic;font-size:.9em;color:#444444;">{% trans 'more_info' %}
</span>

        </div>

        <div id="more_info_button">
            <a href="{% trans 'map_help_url_new' %}" target="_blank">
                <div class="info-button-background"><img width="30px" height="30px"
                                                         src="{% static "tigamap/info_button.png" %}"></div>
            </a>

        </div>


        <i id="hand-left" style="padding-left:10px;" class="fa fa-hand-o-left fa-2x"></i>


    </div>


    </div>


    <div class="legend">
        <div class="legend-main-table-container">
            <table class="legend-main-table">
                <tr>
                    <td colspan="2">
                        <p style="font-weight: bold; font-size: 1.2em;">{% trans 'adult_report_legend_main_title' %}</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{% static 'tigamap/yellow_red_dot.png' %}">
                    </td>
                    <td>
                        {% trans 'expert_cat_tiger' %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{% static 'tigamap/yellow_orange_dot.png' %}">
                    </td>
                    <td>
                        {% trans 'expert_cat_possible_tiger' %}
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{% static 'tigamap/yellow_white_dot.png' %}">
                    </td>
                    <td>
                        {% trans 'expert_cat_unknown' %}
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{% static 'tigamap/yellow_grey_dot.png' %}">
                    </td>
                    <td>
                        {% trans 'expert_cat_possible_other' %}
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{% static 'tigamap/yellow_black_dot.png' %}">
                    </td>
                    <td>
                        {% trans 'expert_cat_other' %}
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{% static 'tigamap/yellow_yellow_dot.png' %}">
                    </td>
                    <td>
                        {% trans 'expert_cat_unclassified' %}
                    </td>
                </tr>

            </table>

            <i id="hand-left" style="padding-left:10px;" class="fa fa-hand-o-left fa-2x"></i>

        </div>

        <div class="legend-popup-area">
            <div style="width:200px">
                <p style="margin-left: auto;margin-right: auto;width: 90%;font-weight:bold; font-size: .9em; text-align:center;">
                    {% trans 'adult_report_legend_info_title' %}</p>
            </div>
            <div class="leaflet-popup legend-popup" style="opacity: 1;">
                <div class="leaflet-popup-content-wrapper">
                    <div class="leaflet-popup-content" style="width: 250px;">
                        <table class="legend-popup-table">
                            <tr>
                                <td><strong>{% trans 'expert_row_title' %}:</strong> {% trans 'expert_row_help' %}
                                </td>
                            </tr>

                            <tr>
                                <td><strong>{% trans 'crowd_row_title' %}:</strong> {% trans 'crowd_row_help' %}
                                </td>
                            </tr>

                            <tr>
                                <td><strong>{% trans 'report_row_title' %}:</strong> {% trans 'report_row_help' %}
                                </td>
                            </tr>

                            <tr>
                                <td><strong>{% trans 'photo_row_title' %}:</strong> {% trans 'photo_row_help' %}
                                </td>
                            </tr>

                            <tr>
                                <td><strong>{% trans 'notes_row_title' %}:</strong> {% trans 'notes_row_help' %}
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="leaflet-popup-tip-container">
                    <div class="leaflet-popup-tip"></div>
                </div>
            </div>


            <div id="more_info_div"><span
                    style="font-weight:bold; font-style:italic;font-size:.9em;color:#444444;">{% trans 'more_info' %}
</span>

            </div>

            <div id="more_info_button">
                <a href="{% trans 'map_help_url_new' %}" target="_blank">
                    <div class="info-button-background"><img width="30px" height="30px"
                                                             src="{% static "tigamap/info_button.png" %}"></div>
                </a>
            </div>


        </div>


    </div>



    <div class="site_legend">
        <div class="legend-main-table-container">
            <table class="legend-main-table">
                <tr>
                    <td colspan="2">
                        <p style="font-weight: bold; font-size: 1.2em;">{% trans 'site_report_legend_main_title' %}</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{% static 'tigamap/blue_red_dot.png' %}">
                    </td>
                    <td>
                        {% trans 'expert_cat_site' %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{% static 'tigamap/blue_orange_dot.png' %}">
                    </td>
                    <td>
                        {% trans 'expert_cat_possible_site' %}
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{% static 'tigamap/blue_white_dot.png' %}">
                    </td>
                    <td>
                        {% trans 'expert_cat_unknown' %}
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{% static 'tigamap/blue_grey_dot.png' %}">
                    </td>
                    <td>
                        {% trans 'expert_cat_possible_other_site' %}
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{% static 'tigamap/blue_black_dot.png' %}">
                    </td>
                    <td>
                        {% trans 'expert_cat_other_site' %}
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{% static 'tigamap/blue_blue_dot.png' %}">
                    </td>
                    <td>
                        {% trans 'expert_cat_unclassified' %}
                    </td>
                </tr>

            </table>
            <i id="hand-left" style="padding-left:10px;" class="fa fa-hand-o-left fa-2x"></i>
        </div>

        <div class="legend-popup-area">
            <div style="width:200px">
                <p style="margin-left: auto;margin-right: auto;width: 90%;font-weight:bold; font-size: .9em; text-align:center;">
                    {% trans 'adult_report_legend_info_title' %}</p>
            </div>
            <div class="leaflet-popup legend-popup" style="opacity: 1;">
                <div class="leaflet-popup-content-wrapper">
                    <div class="leaflet-popup-content" style="width: 250px;">
                        <table class="legend-popup-table">
                            <tr>
                                <td><strong>{% trans 'expert_row_title' %}:</strong> {% trans 'expert_row_help' %}
                                </td>
                            </tr>

                            <tr>
                                <td><strong>{% trans 'crowd_row_title' %}:</strong> {% trans 'crowd_row_help' %}
                                </td>
                            </tr>

                            <tr>
                                <td><strong>{% trans 'report_row_title' %}:</strong> {% trans 'report_row_help' %}
                                </td>
                            </tr>

                            <tr>
                                <td><strong>{% trans 'photo_row_title' %}:</strong> {% trans 'photo_row_help' %}
                                </td>
                            </tr>

                            <tr>
                                <td><strong>{% trans 'notes_row_title' %}:</strong> {% trans 'notes_row_help' %}
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="leaflet-popup-tip-container">
                    <div class="leaflet-popup-tip"></div>
                </div>
            </div>
            <div id="more_info_div"><span
                    style="font-weight:bold; font-style:italic;font-size:.9em;color:#444444;">{% trans 'more_info' %}
</span>

            </div>
            <div id="more_info_button">
                <a href="{% trans 'map_help_url_new' %}" target="_blank">
                    <div class="info-button-background"><img width="30px" height="30px"
                                                             src="{% static "tigamap/info_button.png" %}"></div>
                </a>
            </div>
        </div>
    </div>


{% endif %}

<script type="text/javascript">
    (function () {

        function loadmap() {

            var centerLat = loadSavedLat();
            var centerLng = loadSavedLng();
            var initialZoom = loadSavedZoom();

            if (isNaN(centerLat) || isNaN(centerLng)) {
                centerLat = 40.0000;
                centerLng = -4.0000;
            }

            if (isNaN(initialZoom)) {
                initialZoom = 6;
            }

            // override zoom based on url parameter if present
            var par_zoom = parseInt("{{ zoom }}");
            if (par_zoom != null && !isNaN(par_zoom) && isFinite(par_zoom)) {
                initialZoom = par_zoom;
            }
            var par_center_lon = parseFloat("{{ center_lon }}");
            if (par_center_lon != null && !isNaN(par_center_lon) && isFinite(par_center_lon)) {
                centerLng = par_center_lon;
            }
            var par_center_lat = parseFloat("{{ center_lat }}");
            if (par_center_lat != null && !isNaN(par_center_lat) && isFinite(par_center_lat)) {
                centerLat = par_center_lat;
            }


            {% block map_options %}


                var southWest = L.latLng(min_lat, min_lon),
                        northEast = L.latLng(max_lat, max_lon),
                        bounds = L.latLngBounds(southWest, northEast),
                        bounds_array = [
                            [southWest.lat, southWest.lng],
                            [northEast.lat, northEast.lng]
                        ];


                var djoptions = {"layers": [
                            ["OSM", "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                                "\u00a9 <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"]
                        ],
                            "minimap": false, "scale": "metric", "center": [centerLat, centerLng], "tilesextent": [],
                            "attributionprefix": null, "zoom": initialZoom, "maxzoom": max_zoom, "minzoom": min_zoom, "extent": bounds_array, "resetview": true, "srid": null, "fitextent": true},
                        options = {djoptions: djoptions, initfunc: loadmap,
                            globals: false, callback: window.map_init_basic, zoomControl: false, scrollWheelZoom: scroll_wheel_zoom, maxBounds: bounds};
            {% endblock %}
            L.Map.djangoMap('tigamap', options);
        }

        var loadevents = ["load"];
        if (loadevents.length === 0) loadmap();
        else if (window.addEventListener) for (var i = 0; i < loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
        else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);

    })();
</script>

{% block logo %}
    {% if fullscreen == "on" %}
        <a href="http://atrapaeltigre.com"><img style="position:absolute;width:20%;bottom:20px;right:10px;"
                                                src={% static "tigamap/tigatrapp_logo.png" %}></a>
    {% endif %}
{% endblock %}


<script src="{% static "tigamap/bootstrap-3.1.1-dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "tigamap/bootstrap-select/js/bootstrap-select.min.js" %}"></script>

<script>


    $("#year_select").val(selected_year);
    $("#month_select").val(selected_month);
    $("#type_select").val(selected_type);
    $("#validation_select").val(selected_validation);


    function update_filters() {
        selected_year = $("#year_select").val();
        selected_month = $("#month_select").val();
        selected_type = $("#type_select").val();
        selected_validation = $("#validation_select").val();

        apply_filter();

    }

    make_validation_button_subtext();


</script>

</body>
</html>



