{% extends "tigamap/app.html" %}
{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}

{% block leaflet_code %}

    <style>
        table {
            border-collapse: collapse;
            font-size: small;
        }

        table, td, th {
            border: 1px solid black;
        }

        td {
            padding: 5px;
            vertical-align: top;
            text-align: right;
        }

    .my-progress-bar-container {
background-color: rgba(0,0,0,.25);
border-radius: 15px;
        position: absolute;
        bottom: 30px;
        left: 10px;
        width: 60%;
        height: 20px;
    }

    .my-progress-bar {
background-image: -webkit-linear-gradient(top,#428bca 0,#3071a9 100%);
background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);
background-repeat: repeat-x;
height: 100%;
font-size: 12px;
line-height: 20px;
color: #fff;
text-align: center;
background-color: #428bca;
-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
border-radius: 15px;
    }

    </style>

        {% leaflet_js plugins="marker_cluster_yellow" %}
        {% leaflet_css plugins="marker_cluster_yellow" %}


    <script src="{% static "tigamap/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "tigamap/jquery.cookie.js" %}"></script>

    <script type="text/javascript">

                    var markers_clustered = new L.MarkerClusterGroup();

                    var YellowIcon = L.Icon.Default.extend({
                        options: {
                            iconUrl: '{% static "tigamap/yellow_icon.png" %}'
                        }
                    });
                    var thisIcon = new YellowIcon();

        function get_data(day, map) {
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                url: 'http://tigaserver.atrapaeltigre.com/api/map_data/?day=' + day,
                contentType: 'application/json',
                dataType: 'json',
                headers: {
                    'Authorization': 'Token {{ request.user.auth_token.key }}'
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data, day) {

                    if(data != null && data.length > 0){

                    $.each(data, function(index, value) {
                        if(value != null && value.lat != null && value.lon != null && value.type != null){
                        markers_clustered.addLayer(L.marker([value.lat, value.lon], {icon: thisIcon}).bindPopup(value.type));

                        }
                    });

                    markers_clustered.addTo(map);
                    var percent_done = 100 * Math.floor(day/{{ end_day }});
                    $("#progress_bar").css("width", percent_done.toString() + "%");
                    console.log("test");
                    console.log("day: " + day.toString());
                    console.log("end_day: " + "{{ end_day }}");
                    console.log("percent done: " + percent_done.toString());
                    console.log("percent done: " + percent_done.toString() + "%");
                    console.log("pg width: " + $("#progress_bar").css("width"));
                    if(percent_done > 20){
                        $("#progress_bar").html(percent_done.toString() + "%");
                    }


                    }
                    if(day <= {{ end_day }}){
                    get_data(day + 1, map);
                    }

                }
            });
        }


        function map_init_basic(map, options) {

            map.on('zoomend', function (e) {
                saveMapState(map)
            });
            map.on('dragend', function (e) {
                saveMapState(map)
            });

            get_data(0, map);

        }

    </script>


{% endblock %}

{% block map_area %}

    {{ block.super }}

    <div class="my-progress-bar-container">
  <div id="progress_bar" class="my-progress-bar">
  </div>
</div>

{% endblock %}

{% block end_body %}

    <script src="{% static "tigamap/bootstrap-3.1.1-dist/js/bootstrap.min.js" %}"></script>


{% endblock %}



