{% extends "tigamap/app.html" %}
{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}

{% block leaflet_code %}

    <style>
.popup-table td {
    padding: 0;
    vertical-align: bottom;
}

body{
    padding-top: 50px;
}

.leaflet-popup-content {
    overflow-y : auto;
}

.popup-table table {
    border-collapse: collapse;
    font-size:small;
    table-layout: fixed;
    width: 182px;
}

.popup-table table, td, th {
    border: 1px solid black;
}

.response-table {
    text-align: center;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.color-box{
    width:100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}


.black{
    background-color: black;
    color:white;
}

.grey{
    background-color: grey;
    color:white;
}


.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.note-div{
    font-size:small;
    padding:5px;
    font-family: "Courier New", Courier, monospace;
}


        .my-progress-bar-container {
            background-color: rgba(0, 0, 0, .25);
            border-radius: 15px;
            position: absolute;
            bottom: 30px;
            left: 10px;
            width: 60%;
            height: 20px;
        }

        .my-progress-bar {
            background-image: -webkit-linear-gradient(top, #428bca 0, #3071a9 100%);
            background-image: linear-gradient(to bottom, #428bca 0, #3071a9 100%);
            background-repeat: repeat-x;
            height: 100%;
            width: 0;
            font-size: 12px;
            line-height: 20px;
            color: #fff;
            text-align: center;
            background-color: #428bca;
            -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
            border-radius: 15px;
            -webkit-transition: width .6s ease;
            transition: width .6s ease;
        }

    .legend{
            background-color: rgb(200, 200, 200);
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            position: absolute;
            left: -270px;
            border: 1px solid;
            bottom: 100px;
            width: 370px;
            height: 310px;
            overflow: hidden;
            -moz-transition: left 1s ease;
    	   -webkit-transition: left 1s ease;
    }

    .legend:hover{
        left:0;
    }

.legend-main-table{
    max-width: 50px;
    float: right;
    margin-top: 30px;
    }


    .legend-main-table, .legend-main-table tr, .legend-main-table td{
        border: none;
        padding: 4px;
        text-align: center;
        vertical-align: middle;
        font-size: small;
    }

    .legend-popup{
        position:absolute !important;
        left: 10px !important;
        bottom: 0 !important;
        top: 10px !important;
        z-index: 1;
    }

    .legend-popup-table{
        width: 200px;
        border: 1px solid;
        padding: 0 !important;
        text-align: center;
        vertical-align: middle;
        font-size: small;
    }

        .legend-popup-table td{
        padding: 0 !important;
    }


    .legend-popup-infodiv{
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        height: 100%;
        background-color: grey;
    }

    .legend-popup-button{
        background-color: white;
    }

    .info-button-background{
        background-color: grey;
        border-radius: 50%;
        height: 30px;
        width: 30px
    }

    .info-button-background:hover{
         -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
                background-color: white !important;
    }

    .info-button-hover-background{
    background-color: white;
        opacity: 0;
    }

        .info-button-hover-background:hover{
        opacity: 1;
    }

    .blink-background {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { background-color: grey; }
    50% { background-color: lightblue; }
    100% { background-color: grey; }
}

@-webkit-keyframes blinker {
    0% { background-color: grey; }
    50% { background-color: lightblue; }
    100% { background-color: grey; }
}

@keyframes blinker {
    0% { background-color: grey; }
    50% { background-color: lightblue; }
    100% { background-color: grey; }
}

    </style>

    {% leaflet_js plugins="marker_cluster_yellow" %}
    {% leaflet_css plugins="marker_cluster_yellow" %}


    <script src="{% static "tigamap/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "tigamap/jquery.cookie.js" %}"></script>

    <script type="text/javascript">

        var markers_clustered = new L.MarkerClusterGroup();

        var YellowRedIcon = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "tigamap/yellow_red_dot.png" %}'
            }
        });
        var YellowOrangeIcon = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "tigamap/yellow_orange_dot.png" %}'
            }
        });
        var YellowWhiteIcon = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "tigamap/yellow_white_dot.png" %}'
            }
        });
        var YellowGreyIcon = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "tigamap/yellow_grey_dot.png" %}'
            }
        });
        var YellowBlackIcon = L.Icon.Default.extend({
            options: {
                iconUrl: '{% static "tigamap/yellow_black_dot.png" %}'
            }
        });


        var yellow_red_icon = new YellowRedIcon();
        var yellow_orange_icon = new YellowOrangeIcon();
        var yellow_white_icon = new YellowWhiteIcon();
        var yellow_grey_icon = new YellowGreyIcon();
        var yellow_black_icon = new YellowBlackIcon();
        var percent_done;
        var progress_bar;
        var progress_bar_container;
        var day_just_finished = 0;
        var popup_options ={
                'minWidth': 182,
                'maxHeight': 330,
                'closeButton': false
                };

        function rc2s(response_code){
            if(response_code == null){
                return "{% trans 'not sure' %}"
            } else{
            return response_code == 1 ? "{% trans 'yes' %}" : (response_code == 0 ? "{% trans 'not sure' %}" : "{%  trans 'no' %}");
        }
        }

        function get_icon(movelab_annotation) {
            if(movelab_annotation != null){
                score = movelab_annotation.tiger_certainty_category;
            return score == 2 ? yellow_red_icon : (score == 1 ? yellow_orange_icon : (score == -1 ? yellow_grey_icon : (score == -2 ? yellow_black_icon : yellow_white_icon)));
        } else{
                return yellow_white_icon;
            }
        }

        function get_color_class(score) {
            return score == 2 ? 'red' : (score == 1 ? 'orange' : (score == -1 ? 'grey' : (score == -2 ? 'black' : 'white')));
        }


        function get_cat_text(score) {
            return score == 2 ? 'Mosquito tigre' : (score == 1 ? 'Posible mosquito tigre' : (score == -1 ? 'Posible otra especie' : (score == -2 ? 'Otra especie' : 'No se sabe')));
        }

        function make_color_row(score){
            if(score != null){
            return '<tr><td><div class="color-box ' + get_color_class(score) + '">' + get_cat_text(score) + '</div></td></tr>';
            } else{
                return '';
            }
        }

        function make_user_response_row(score, responses){
            if(score != null){
            return '<tr><td><table class="response-table color-box ' + get_color_class(score) + '"><tr class="response-table"><td class="response-table" style="border-right: 1px solid;">' + rc2s(responses.q1_response) + '</td><td class="response-table" style="border-right: 1px solid;">' + rc2s(responses.q2_response) + '</td><td class="response-table">' + rc2s(responses.q3_response) + '</td></tr></table></td></tr>';
            }else{
                return '';
            }
        }

      function make_photo_row(photo_html){
            if(photo_html != null){
            return '<tr><td align="center" style="background-color: black;">' + photo_html + '</td></tr>';
            }else{
                return '';
            }
        }


        function make_user_note_row(notes){
            if(notes != null && notes != ''){
            return '<tr><td><div class="note-div">' + notes + '</div></td></tr>';
            } else{
                return '';
            }
        }

        function make_popup_text(value){
        if(value.movelab_annotation != null){
        return '<table class="popup-table">' + make_color_row(value.movelab_annotation.tiger_certainty_category) + make_color_row(value.movelab_annotation.crowdcrafting_score_cat) + make_user_response_row(value.tigaprob_cat, value.tiger_responses) + make_photo_row(value.movelab_annotation.photo_html) + make_user_note_row(value.movelab_annotation.edited_user_notes) + '</table>';
        } else{
            return '<table class="popup-table">' + make_user_response_row(value.tigaprob_cat, value.tiger_responses) + '</table>';
        }
        }


        function get_data(day, map) {
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                url: 'http://tigaserver.atrapaeltigre.com/api/map_data/?day=' + day,
                contentType: 'application/json',
                dataType: 'json',
                headers: {
                    'Authorization': 'Token {{ request.user.auth_token.key }}'
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {

                    if (data != null && data.length > 0) {

                        $.each(data, function (index, value) {
                            if (value != null && value.lat != null && value.lon != null && value.type != null) {
                                markers_clustered.addLayer(L.marker([value.lat, value.lon], {icon: getIcon(value.movelab_annotation)}).bindPopup(make_popup_text(value), popup_options));

                            }
                        });

                        markers_clustered.addTo(map);

                    }
                        percent_done = Math.floor(100 * day_just_finished++ /{{ end_day }});
                        progress_bar.css("width", percent_done.toString() + "%");
                        if (percent_done > 10) {
                            progress_bar.html(percent_done.toString() + "%");
                        }
                    if(percent_done >= 100){
                        progress_bar_container.fadeOut(2000);
                    }
                }
            });
        }


        function map_init_basic(map, options) {

            map.on('zoomend', function (e) {
                saveMapState(map)
            });
            map.on('dragend', function (e) {
                saveMapState(map)
            });

            progress_bar = $("#progress_bar");
            progress_bar_container = $("#progress_bar_container");
            for(var d = 0; d <= {{ end_day }}; d++){
            get_data(d, map);
            }

        }

    </script>


{% endblock %}

{% block map_area %}

    {{ block.super }}

    <div id="progress_bar_container" class="my-progress-bar-container">
        <div id="progress_bar" class="my-progress-bar">
        </div>
    </div>

    <div class="legend">
    <table class="legend-main-table">
        <tr>
            <td>
                <img src="{% static 'tigamap/yellow_red_dot.png' %}">
            </td>
            <td>
                {% trans 'Mosquito tigre' %}
            </td>
            </tr>
                <tr>
            <td>
                <img src="{% static 'tigamap/yellow_orange_dot.png' %}">
            </td>
            <td>
                {% trans 'Posible mosquito tigre' %}
            </td>
            </tr>

                <tr>
            <td>
                <img src="{% static 'tigamap/yellow_white_dot.png' %}">
            </td>
            <td>
                {% trans 'No se sabe' %}
            </td>
            </tr>

                <tr>
            <td>
                <img src="{% static 'tigamap/yellow_grey_dot.png' %}">
            </td>
            <td>
                {% trans 'Posible otra especie' %}
            </td>
            </tr>

                <tr>
            <td>
                <img src="{% static 'tigamap/yellow_black_dot.png' %}">
            </td>
            <td>
                {% trans 'Otra especie' %}
            </td>
            </tr>
    </table>

        <div class="leaflet-popup legend-popup" style="opacity: 1;"><div class="leaflet-popup-content-wrapper"><div class="leaflet-popup-content" style="width: 201px;">
            <table class="legend-popup-table">
                <tr><td>
                <div class="legend-popup-infodiv"><a href="http://atrapaeltigre.com" target="_blank"><div class="info-button-background blink-background"><img width="30px" height="30px" src="{% static "tigamap/info_button.png" %}"></div></a> Expert Assessment</div>
            </td></tr>
                <tr><td>
                                <div class="legend-popup-infodiv"><a href="http://atrapaeltigre.com" target="_blank" class="btn btn-primary legend-popup-button"><span class="glyphicon glyphicon-info-sign"></span> Crowd Assessment</a></div>
</td></tr>
                <tr><td>
                                <div class="legend-popup-infodiv"><a href="http://atrapaeltigre.com" target="_blank" class="btn btn-primary legend-popup-button"><span class="glyphicon glyphicon-info-sign"></span> "Tiger Answers"</a></div>
</td></tr>
                <tr><td>
                                <div class="legend-popup-infodiv"><a href="http://atrapaeltigre.com" target="_blank" class="btn btn-primary legend-popup-button"><span class="glyphicon glyphicon-info-sign"></span> Photo</a></div>
</td></tr>
                <tr><td>
                                <div class="legend-popup-infodiv"><a href="http://atrapaeltigre.com" target="_blank" class="btn btn-primary legend-popup-button"><span class="glyphicon glyphicon-info-sign"></span> Note</a></div>
</td></tr>
            </table>
        </div></div><div class="leaflet-popup-tip-container"><div class="leaflet-popup-tip"></div></div></div>


    </div>


{% endblock %}

{% block end_body %}

    <script src="{% static "tigamap/bootstrap-3.1.1-dist/js/bootstrap.min.js" %}"></script>


{% endblock %}



