{% extends "tigamap/app.html" %}
{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}

{% block leaflet_code %}

    <style>
        table {
            border-collapse: collapse;
            font-size: small;
        }

        table, td, th {
            border: 1px solid black;
        }

        td {
            padding: 5px;
            vertical-align: top;
            text-align: right;
        }


    </style>

        {% leaflet_js plugins="marker_cluster_yellow" %}
        {% leaflet_css plugins="marker_cluster_yellow" %}


    <script src="{% static "tigamap/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "tigamap/jquery.cookie.js" %}"></script>

    <script type="text/javascript">

                    var markers_clustered = new L.MarkerClusterGroup();

                    var YellowIcon = L.Icon.Default.extend({
                        options: {
                            iconUrl: '{% static "tigamap/yellow_icon.png" %}'
                        }
                    });
                    var thisIcon = new YellowIcon();
                    var percent_done = 0;

        function get_data(day, map) {
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                url: 'http://tigaserver.atrapaeltigre.com/api/map_data/?day=' + day,
                contentType: 'application/json',
                dataType: 'json',
                headers: {
                    'Authorization': 'Token {{ request.user.auth_token.key }}'
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {

                    if(data != null && data.length > 0){

                    $.each(data, function(index, value) {
                        if(value != null && value.lat != null && value.lon != null && value.type != null){
                        markers_clustered.addLayer(L.marker([value.lat, value.lon], {icon: thisIcon}).bindPopup(value.type));

                        }
                    });

                        markers_clustered.addTo(map);

                    }
                    if(day <= {{ end_day }}){
                    get_data(day + 1, map);
                    }

                    percent_done = 100 * Math.floor(day/{{ end_day }})
                    $("#progress_bar").html(percent_done.toString() + "%").css("width", percent_done.toString() + "%").attr("aria-valuenow", percent_done.toString());
                }
            });
        }


        function map_init_basic(map, options) {

            map.on('zoomend', function (e) {
                saveMapState(map)
            });
            map.on('dragend', function (e) {
                saveMapState(map)
            });

            var progress_bar = $("#progress_bar");

            get_data(0, map);

        }

    </script>


{% endblock %}

{% block map_area %}

    {{ block.super }}

    <div class="progress" style="position: absolute; bottom: 10px; left: 10px; width: 60%;">
  <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
  </div>
</div>

{% endblock %}

{% block end_body %}

    <script src="{% static "tigamap/bootstrap-3.1.1-dist/js/bootstrap.min.js" %}"></script>


{% endblock %}



