{% extends "rest_framework/base.html" %}

{% block title %}
        Tigaserver
{% endblock %}

{% block branding %}
        <a class='brand' rel="nofollow" href='/api'>Tigaserver API</a>
{% endblock %}

{% block userlinks %}
        <li><a href="/api/configuration/">Configuration</a></li>
        <li><a href="/api/users/">Users</a></li>
        <li><a href="/api/missions/">Missions</a></li>
        <li><a href="/api/reports/">Reports</a></li>
        <li><a href="/api/photos/">Photos</a></li>
        <li><a href="/api/fixes/">Fixes</a></li>
        {{ block.super}}
{% endblock %}

